@font-face {
    font-family: 'cloudfuze';
    src:    url('../font/cloudfuze.eot?e39hi4');
    src:    url('../font/cloudfuze.eot?e39hi4#iefix') format('embedded-opentype'),
        url('../font/cloudfuze.ttf?e39hi4') format('truetype'),
        url('../font/cloudfuze.woff?e39hi4') format('woff'),
        url('../font/cloudfuze.svg?e39hi4#cloudfuze') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="cf-"], [class*=" cf-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'cloudfuze' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cf-left-dark:before {
    content: "\e90c";
}
.cf-right-dark:before {
    content: "\e90d";
}
.cf-left-thin:before {
    content: "\e90e";
}
.cf-right-thin:before {
    content: "\e90f";
}
.cf-circle-right:before {
    content: "\ea42";
}
.cf-circle-left:before {
    content: "\ea44";
}
.cf-sms:before {
    content: "\e90b";
}
.cf-license:before {
    content: "\e90a";
}
.cf-audit:before {
    content: "\e909";
}
.cf-desktop:before {
    content: "\e905";
}
.cf-browser:before {
    content: "\e906";
}
.cf-apple:before {
    content: "\e907";
}
.cf-android:before {
    content: "\e908";
}
.cf-cloud:before {
    content: "\e904";
}
.cf-ldap:before {
    content: "\e902";
}
.cf-key:before {
    content: "\e903";
}
.cf-cf-folder32:before {
    content: "\e900";
}
.cf-file3:before {
    content: "\e901";
}
.cf-oauth:before {
    content: "\e806";
}
.cf-check-circle-o:before {
    content: "\f05d";
}
.cf-ban:before {
    content: "\f05e";
}
.cf-sort:before {
    content: "\f0dc";
}
.cf-unsorted:before {
    content: "\f0dc";
}
.cf-sort-desc:before {
    content: "\f0dd";
}
.cf-sort-down:before {
    content: "\f0dd";
}
.cf-sort-asc:before {
    content: "\f0de";
}
.cf-sort-up:before {
    content: "\f0de";
}
.cf-lock-closed:before {
    content: "\e804";
}
.cf-lock-open:before {
    content: "\e805";
}
.cf-toggle-right:before {
    content: "\e800";
}
.cf-toggle-down:before {
    content: "\e801";
}
.cf-unlocked:before {
    content: "\e802";
}
.cf-locked-1:before {
    content: "\e803";
}
.cf-onedrive-business:before {
    content: "\e64c";
}
.cf-orange:before {
    content: "\e64b";
}
.cf-network:before {
    content: "\e64a";
}
.cf-cross3:before {
    content: "\e649";
}
.cf-chevron-circle-down:before {
    content: "\e643";
}
.cf-chevron-circle-right:before {
    content: "\e644";
}
.cf-files2:before {
    content: "\e645";
}
.cf-next22:before {
    content: "\e646";
}
.cf-plus2:before {
    content: "\e647";
}
.cf-plus6:before {
    content: "\e648";
}
.cf-stack4:before {
    content: "\e641";
}
.cf-share6:before {
    content: "\e640";
}
.cf-time2:before {
    content: "\e642";
}
.cf-cloudy4:before {
    content: "\e63f";
}
.cf-workspace:before {
    content: "\e600";
}
.cf-arrow-up-upload:before {
    content: "\e601";
}
.cf-back:before {
    content: "\e602";
}
.cf-bell:before {
    content: "\e603";
}
.cf-cabinet3:before {
    content: "\e604";
}
.cf-cancel-circle:before {
    content: "\e605";
}
.cf-check:before {
    content: "\e606";
}
.cf-checkmark-circle:before {
    content: "\e607";
}
.cf-circle2:before {
    content: "\e608";
}
.cf-clock32:before {
    content: "\e609";
}
.cf-close:before {
    content: "\e60a";
}
.cf-cloud22:before {
    content: "\e60b";
}
.cf-cloud-download2:before {
    content: "\e60c";
}
.cf-cloud-upload2:before {
    content: "\e60d";
}
.cf-coin:before {
    content: "\e60e";
}
.cf-comments2:before {
    content: "\e60f";
}
.cf-cross22:before {
    content: "\e610";
}
.cf-cross32:before {
    content: "\e611";
}
.cf-dashboard2:before {
    content: "\e612";
}
.cf-download4:before {
    content: "\e613";
}
.cf-edit3:before {
    content: "\e614";
}
.cf-email3:before {
    content: "\e615";
}
.cf-eye4:before {
    content: "\e616";
}
.cf-eye8:before {
    content: "\e617";
}
.cf-feed2:before {
    content: "\e618";
}
.cf-file6:before {
    content: "\e619";
}
.cf-file8:before {
    content: "\e61a";
}
.cf-file-text:before {
    content: "\e61b";
}
.cf-floppy2:before {
    content: "\e61c";
}
.cf-folder6:before {
    content: "\e61d";
}
.cf-folder-add2:before {
    content: "\e61e";
}
.cf-folder-open:before {
    content: "\e61f";
}
.cf-group2:before {
    content: "\e620";
}
.cf-heart22:before {
    content: "\e621";
}
.cf-heart32:before {
    content: "\e622";
}
.cf-info42:before {
    content: "\e623";
}
.cf-list72:before {
    content: "\e624";
}
.cf-locked:before {
    content: "\e625";
}
.cf-logout:before {
    content: "\e626";
}
.cf-minus4:before {
    content: "\e627";
}
.cf-move:before {
    content: "\e628";
}
.cf-next2:before {
    content: "\e629";
}
.cf-pencil9:before {
    content: "\e62a";
}
.cf-pencil42:before {
    content: "\e62b";
}
.cf-plus4:before {
    content: "\e62c";
}
.cf-previous2:before {
    content: "\e62d";
}
.cf-refresh4:before {
    content: "\e62e";
}
.cf-search62:before {
    content: "\e62f";
}
.cf-settings5:before {
    content: "\e630";
}
.cf-share4:before {
    content: "\e631";
}
.cf-times:before {
    content: "\e632";
}
.cf-times-circle:before {
    content: "\e633";
}
.cf-trashcan2:before {
    content: "\e634";
}
.cf-upload4:before {
    content: "\e635";
}
.cf-upload7:before {
    content: "\e636";
}
.cf-upload42:before {
    content: "\e637";
}
.cf-user5:before {
    content: "\e638";
}
.cf-user6:before {
    content: "\e639";
}
.cf-user8:before {
    content: "\e63a";
}
.cf-user102:before {
    content: "\e63b";
}
.cf-user-add2:before {
    content: "\e63c";
}
.cf-warning:before {
    content: "\e63d";
}
.cf-warning3:before {
    content: "\e63e";
}

