#emailDiv{
    background-color: #F2F3F4;
    height: 10vh;
    margin-left: 1%;
    margin-top: 1%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 5px;
    position: fixed;
    width: 78%;
}
.innerEmail{
    border: 1px solid #D3D3D3;
    margin-left: -7%;
    margin-top: 1%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 30%!important;
    height: 7vh;
}
#emailGoBtn{
    margin-left: 34%;
    margin-top: -6%;
}
#sections{
    background-color: #F2F3F4;
    height: 62vh;
    position: fixed;
    margin-left: 7%;
    margin-top: 9%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#cloudsTab{
    cursor: pointer;
    font-size: 18px;
    margin-top: 15%;
    color: white;
}
#activityTab{
    cursor: pointer;
    font-size: 18px;
    margin-top: 15%;
    color: white;
}
#subscriptionTab{
    cursor: pointer;
    font-size: 18px;
    margin-top: 15%;
    color: white;
}
#migrationTab{
    cursor: pointer;
    font-size: 18px;
    margin-top: 15%;
    color: white;
}
#workspaceTab{
    cursor: pointer;
    font-size: 18px;
    margin-top: 15%;
    color: white;
}
#supportTab{
    cursor: pointer;
    font-size: 18px;
    margin-top: 15%;
    color: white;
}
#createTab{
    cursor: pointer;
    font-size: 18px;
    margin-top: 15%;
    color: white;
}

#secContent{
    background-color: #F2F3F4;
    height: 76vh;
    margin-left: 1%;
    margin-top: 6%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: fixed;
    overflow: scroll;
    width: 78%;
}
