#emailDiv{
    background-color: #F2F3F4;
    height: 10vh;
    margin-left: 1%;
    margin-top: 1%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 5px;
    position: fixed;
    width: 78%;
}
.innerEmail{
    border: 1px solid #D3D3D3;
    margin-left: -7%;
    margin-top: 1%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 30%!important;
    height: 7vh;
}
#emailGoBtn{
    margin-left: 31%;
    margin-top: -6%;
	position:relative;
}
#gobtn{
	  height: 5.1vh;
    margin-top: 0.9%;
    position: absolute;
    line-height: 1vh;
    font-weight: bold;
}
#sections{
    background-color: #F2F3F4;
    height: 62vh;
    position: fixed;
    margin-left: 7%; 
    margin-top: 9%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


.tabsNav{
    cursor: pointer;
    font-size: 18px;
    margin-top: 15%;
    color: white;
}


#userCreation,#manageUser{
    cursor: pointer;
    font-size: 18px;
    margin-top: 15%;
    color: black;
}
#secContent{
    background-color: #F2F3F4;
    height: 76vh;
    margin-left: 1%;
    margin-top: 6%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: fixed;
    overflow: scroll;
    width: 78%;
}
#userCon{
    background-color: #F2F3F4;
    height: 93vh;
    margin-left: 15%;
    margin-top: 0%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: fixed;
    overflow: scroll;
    width: 64%;
}
#migReport{
    background-color: #F2F3F4;
    padding: 3%;
    margin: 5%;
}
