
.CloudThumb_parent p {
    color: black;
    text-align: center;
    line-height: 42px;
}
#nfsBusiness , #nfspersonal{
    margin-top: 1px;
    line-height: 18px;
}
#delCld{
    font-size: 20px;
    cursor: pointer;
    margin-left: -138%;
    color: #000;
}
#usersDisplay {
    font-size: 11px;
}
#cloudUserInfo{
    position: absolute;
    top: 23%;
}
#reAuthorizeCld{
    margin-left: 61%;
    cursor: pointer;
    margin-top: 12%;
}
/*#cloudsView{
    height:91vh;
}*/
.GENERIC_OBJECT_STORAGE{
    margin-left: 25px;
}

@media (min-width: 300px) and  (max-width: 321px) and (orientation: portrait) {
    #cloudtitle {
        margin-top: 25px !important;
    }
    .table-responsive {
        width: 320px !important;
    }
    #cloudDetails{
          height: 165px !important;
          width: 600px !important;
          overflow: auto;
          padding-bottom: 20px;
    }
    #usersDisplay {
        font-size: 9px;
    }
    .pagination ul > li > a,
    .pagination ul > li > span {
        padding: 4px 5px;
    }
}

/*@media (max-width: 812px) and (orientation: landscape) {
    #cloudsView{
        height:45vh;
    }
}*/
/*@media (min-height: 568px) and (max-height: 568px) and (orientation: portrait ) {
    #cloudsView {
        height: 60vh;
    }
}
@media (min-height: 640px) and (max-height: 640px) and (orientation: portrait ) {
    #cloudsView {
        height: 65vh;
    }
}
@media (min-height: 667px) and (max-height: 667px) and (orientation: portrait ) {
    #cloudsView {
        height: 67vh;
    }
}
@media (min-height: 731px) and (max-height: 731px) and (orientation: portrait ) {
    .table-responsive {
        height: 440px !important;
        width: 409px;
    }
}
@media (min-height: 812px) and (max-height: 812px) and (orientation: portrait ) {
    #cloudsView {
        height: 72vh;
    }
}
@media (min-height: 823px) and (max-height: 823px) and (orientation: portrait ) {
    #cloudsView {
        height: 73vh;
    }
}
@media (min-height: 1024px) and (max-height: 1024px) and (orientation: portrait ) {
    #cloudsView {
        height: 80vh;
    }
}*/
/*landscape*/
@media (min-height: 768px) and (max-height: 768px) and (orientation: landscape ) {
    #cloudsView {
        height: 75vh;
    }
}
@media (min-height: 414px) and (max-height: 414px) and (orientation: landscape ) {
    #cloudsView {
        height: 50vh;
    }
}
@media (min-height: 411px) and (max-height: 411px) and (orientation: landscape ) {
    #cloudsView {
        height: 50vh;
    }
}

/*@media (max-device-height: 823px) and (orientation: portrait ) {
    #cloudsView {
        height: 73vh;
    }
.table-responsive {

    .table-responsive{
            height: 440px !important;
            width: 409px;
            overflow: auto;
            padding-bottom: 20px;
        }
}*/
/*@media (max-height: 640px) and (max-height: 640px) and (orientation: portrait) {
    .table-responsive{
        height: 60vh !important;
        width: 350px;
        overflow: auto;
        padding-bottom: 20px;
    }
}*/
@media (max-width: 360px) and (orientation: portrait) {
    .top-nav {
        height: 50px;
    }
    .container-fluid div:first-child {
        /*float: left !important;*/
    }
    #cloudtitle {
        /*clear: both;*/
        font-size: 15.5px;
        margin-left: -10px !important;
        margin-top: 25px;
    }
    #usersDisplay {
        font-size: 9px;
    }
    .pagination ul > li > a,
    .pagination ul > li > span {
        padding: 4px 5px;
    }
    .pagination {
        border-radius: 4px;
        margin: 20px -364px;
        padding-left: 0;
    }
    #cf-logout, .cf_upgrd_btn {
        height: 28px;
        width: 67px;
    }
    .top-nav .cf-bell {
        font-size: 19px;
    }
    .user_navigation img{
        width: 20px !important;
    }
    .user_navigation{
        margin-left: -85px;
    }
    #cf_notification{
        top: 158px;
    }
    .cloudThumbnail img {
        height: 40px;
        width: 40px;
    }
    .CloudThumb_parent p {
        line-height: 20px;
        margin-top: -16px;
    }
    .CloudThumb_parent {
        height: 95px;
        width: 100px;
        margin-right: -2px;
        margin-left: 15%;
    }
    #cloud_bcm .CloudThumb_parent {
        width: 104px;
        margin-right: -1px;
    }
    #cloud_ecm_message{
        font-size: 14px !important;
    }

    #cloudDetails{
        height: 165px !important;
        width: 600px;
        overflow: auto;
        padding-bottom: 20px;
    }
    .table-responsive{
        height: 68vh !important;
        width: 350px;
        overflow: auto;
        padding-bottom: 20px;
    }

    .cf_notify{
        position: absolute;
    }
    #delCld{
        float:right;
    }
    .table-condensed td {
        padding: 4px 9px !important;
    }
    #cloudUserInfo{
        position: absolute;
        top: 11%;
        font-size: 10px;
        line-height: 13px;
    }
    #reAuthorizeCld{
        margin-left: 82%;
        cursor: pointer;
        margin-top: 16%;
    }
    .cf_usr_btn .dropdown-content {
        margin-left: -15%;
    }
   .GENERIC_OBJECT_STORAGE{
        margin-left: 58px;
    }
}
@media (min-width: 361px) and (max-width: 480px) and (orientation: landscape) {
    .table-responsive{
    /*    height: 62vh !important;
        width: 409px;*/
        overflow: auto;
      /*  padding-bottom: 20px;*/
    }
}
@media (min-width: 640px) and (max-width: 800px) and (orientation: landscape) {
    .table-responsive{
        /*    height: 62vh !important;
            width: 409px;*/
        overflow: auto;
        /*  padding-bottom: 20px;*/
    }
    .Driveicon1 {
        height: 49px;
        width: 55px;
    }
    #cloudUserInfo{
        position: absolute;
        top: 11%;
        font-size: 10px;
        line-height: 13px;
    }
    #reAuthorizeCld{
        margin-left: 82%;
        cursor: pointer;
        margin-top: 16%;
    }
}
@media (min-width: 361px) and (max-width: 480px) and (orientation: portrait) {
        .top-nav {
            height: 50px;
        }
        .container-fluid div:first-child {
            /*float: left !important;*/
        }
        #cloudtitle {
            /*clear: both;*/
            font-size: 15.5px;
            margin-left: -10px !important;
            margin-top: 24px;
        }
        #usersDisplay {
            font-size: 9px;
        }
        .pagination ul > li > a,
        .pagination ul > li > span {
            padding: 4px 5px;
        }
        .pagination {
            border-radius: 4px;
            margin: 20px -364px;
            padding-left: 0;
        }
        #cf-logout, .cf_upgrd_btn {
            height: 28px;
            width: 67px;
        }
        .top-nav .cf-bell {
            font-size: 19px;
        }
        .user_navigation img{
            width: 20px !important;
        }
        .user_navigation{
            margin-left: -85px;
        }
        #cf_notification{
            top: 158px;
        }
        .cloudThumbnail img {
            height: 40px;
            width: 40px;
        }
        .CloudThumb_parent p {
            line-height: 20px;
            margin-top: -16px;
        }
        .CloudThumb_parent {
            height: 95px;
            width: 100px;
            margin-right: -2px;
            margin-left: 15%;
        }
        #cloud_bcm .CloudThumb_parent {
            width: 104px;
            margin-right: -1px;
        }
        #cloud_ecm_message{
            font-size: 14px !important;
        }
       
        #cloudDetails{
            height: 28vh !important;
            width: 600px !important;
            overflow: auto;
            padding-bottom: 20px;
        }
        .table-responsive{
            height: 62vh !important;
            width: 409px;
            overflow: auto;
            padding-bottom: 20px;
        }

        .cf_notify{
            position: absolute;
        }
        #delCld{
            float:right;
        }
        .table-condensed td {
            padding: 4px 9px !important;
        }
        #cloudUserInfo{
            position: absolute;
            top: 11%;
            font-size: 10px;
            line-height: 13px;
        }
        #reAuthorizeCld{
            margin-left: 82%;
            cursor: pointer;
            margin-top: 16%;
        }
        .cf_usr_btn .dropdown-content {
            margin-left: -15%;
        }
        .GENERIC_OBJECT_STORAGE{
            margin-left: 58px;
        }
    }
@media (min-width: 320px) and (max-width: 320px) and (orientation: portrait) {
   .user_navigation li {
        font-size: 10px;
     }
}
@media (min-width: 375px) and (max-width: 375px) and (orientation: portrait) {
    .table-responsive{
        height: 58vh !important;
        width: 375px !important;
        overflow: auto;
        padding-bottom: 20px;
    }
}
@media (min-width: 768px) and (max-width: 900px) and (orientation: portrait) {
    .table-responsive{
        height: 72vh !important;
        overflow: auto;
        padding-bottom: 20px;
    }
    #cloudDetails{
        height: 22vh !important;
        overflow: auto;
        padding-bottom: 20px;
    }
}
@media (min-width: 900px) and (max-width: 1024px) and (orientation: portrait) {
    .table-responsive{
        height: 72vh !important;
        overflow: auto;
    }
    #cloudDetails{
        height: 22vh !important;
        overflow: auto;
        padding-bottom: 20px;
    }
    .pagination ul > li > a,
    .pagination ul > li > span {
        padding: 4px 5px;
    }
    .pagination {
        border-radius: 4px;
        margin: 20px -364px;
        padding-left: 0;
    }
}
