@media (max-width: 480px) and (orientation: portrait) {
    #cf_notification{
        top:35px !important;
    }
    .contentWrapper h4{
        font-size: 12.5px;
    }
    .contentWrapper{
        padding-left: 6px;
        height: 58px !important;
        margin-bottom: -5px !important;
    }
    #user_nav{
        float: left !important;
    }
    #headerText{
        clear: both;
        margin-top: 0px;
    }
    .user_navigation li{
        font-size: 11px;
    }
    ul.user_navigation li:first-child{
        margin-right:24px !important;
    }
    .top-nav .cf-bell {
        font-size: 19px !important;
    }
    .user_navigation img{
        width:19px !important;
    }
    .cf_upgrd_btn{
        margin-left: 1px !important;
        margin-right: 1px !important;
    }
    nav.main-nav > ul > li > a {
        margin-top: -7px;
    }
    .breadcrum {
        margin-top: 16px;
    }
    .cf_notify{
        position: absolute !important;
    }
    .searchbox {
        margin-top: -29px;
        width: 38% !important;
    }
    input.search {
        width: 92%;
        padding-left: 6px;
    }
    .cf_upgrd_btn {
        width: 44px !important;
        height: 25px !important;
    }
    #cf-logout {
        width: 41px !important;
        height: 25px !important;
    }
    .filecontrols{
        padding-top: 3px;
    }
    .filecontrolicon {
        float: left;
        height: 40px;
        padding-left: 0px;
    }

    .cf-cabinet3, .cf-workspace, .cf-trashcan2, .cf-share4, .cf-cloud-download2, .cf-edit3, .cf-eye8 {
        font-size: 21px;
        height: 21px;
        width: 21px;
    }

    .filecontrol-title {
        width: 40px;
        height: 8px;
        float: left;
        text-align: center;
        font-size: 9px;
    }

    .cf-share4 {
        font-size: 15px;
        height: 17px;
        margin-left: 14px;
    }

    .cf-edit3 {
        font-size: 13px;
        height: 16px;
        margin-top: 12px;
    }

    .cf-trashcan2 {
        font-size: 15px;
        height: 18px;
        margin-top: 10px;
        margin-left: 11px;
    }

    .cf-cabinet3 {
        font-size: 17px;
        margin-top: 7px;
    }

    .fileCreatecontrols.fm > div {
        width: 4px;
        height: 45px;
        margin: -2px 0 0 2px;
    }

    .cf-folder-add2 {
        font-size: 18px;
        padding-left: 3px !important;
    }

    #btndisable1 a{
        font-size: 9px;
        bottom: 13px;
        left: -9px;
    }

    .cf-cloud-upload2 {
        font-size: 24px;
    }

    #btndisable2 a{
        font-size: 9px;
        bottom: 13px;
        left: 7px;
    }
    #btndisable2 i{
        margin-left: 28px;
        padding-left: 0px !important;
    }

   #my-awesome-dropzone {
        height: 190px !important;
    }
    .CfUploadDroparea{
        bottom: 105px !important;
    }
    .dropzone{
        min-height: 0px !important;
    }
    #LView,#GView{
        display: none;
    }
    .displvfilename {
        width: 53%;
        margin-left: -9px;
    }
    #LVContentHeader .LVHfileName {
        width: 25% !important;
    }
    #ListContent .LVfileName{
        width:34% !important;
    }
    #LVContentHeader .LVHFavorites{
        margin-left: 18px;
        width:17% !important;
    }
    .LVHfileSize{
        display: block;
        margin-left: 13px;
        width: 12% !important;
        padding-top: 2px !important;
    }
    .LVHdrive{
        display: block;
        margin-left: 26px;
        width: 16% !important;
        padding-top: 2px !important;
    }
    .LVFavorites {
        width: 13% !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .LVfileSize {
        display: block;
        width:17% !important;
        margin-left: 26px;
    }
    .LVdrive{
        display: block;
        width: 13% !important;
        margin-left: 13px;
    }
    .LVFOLDER{
        margin-right: 1px;
    }
    #ListContent .panel-body{
        font-size: 11px;
    }
    #mainContentWrapper{
        height: 253px !important;
        overflow: auto;
    }

}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::i-block-chrome, .cf_notify {
        margin-left: 0px ;
    }
}