.reportTitle{
    margin-left: 10px;
}
.reportSearchInput{
    width: 80%;
    height: 32%;
    padding: 3px;
    margin-left: 3%;
}
.refresh{
    color: #fff;
    margin-top: 3%;
}
.reportHead{
    z-index: 1;
    background: #fff;
    position: fixed;
    font-weight: bold;
    display: flex;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-bottom: 1px solid #f2f2f2;
    width: 91%;
    font-size: 13px;
    font-family: sans-serif;
}

.reportHeadSync{
    z-index: 1;
    background: #fff;
    position: fixed;
    font-weight: bold;
    display: flex;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-bottom: 1px solid #f2f2f2;
    width: 91%;
    font-size: 13px;
    font-family: sans-serif;
}
.user_navigation{
    margin-top: 8px;
}
.headContentGap{
    margin-top: 35px;
}
#searchReport{
    border-radius: 0;
}
#appendSyncJob{
    font-size: small;
}
#searchbtn{
    height: 4.9vh;
}
#pauRes{
    width: 10%;
    margin-right: 3%;
}
#canStatus {
    width: 6%;
}
.user_navigation{
    margin-top: 8px;
}
#pauseMobile{
    width: 10%;
}
#syncReportProc{
    width : 28%;
}
.custom-search-input{
    margin-left: 3%;
}
#reportScroll{
    height: 78vh;
}
.headContentGapS{
    margin-top: 3%;
}
@media (max-width: 812px) and (orientation: landscape) {
    #reportScroll{
        height:45vh !important;
    }
}
@media (max-width: 412px) and  (min-width: 410px) and  (orientation: portrait) {
    .reportSearchInput {
        margin-left: -18% !important;
    }
    #reportRefresh {
        margin-left: 45% !important;
    }
}
@media (max-width: 320px) and (orientation: portrait) {
    .reportTitle{
        width: 40% !important;
    }
    input{
        width: 80px !important;
    }
}

@media only screen and (max-width: 480px) {
    /*@media (max-width: 480px) and (orientation: portrait) {*/
    .reportTitle{
        margin-left: 0px;
        font-size: 13px !important;
        width: 35%;
    }
    input{
        width: 120px;
    }
    .reportSearchInput{
        width: 80%;
        height: 32%;
        padding: 4px;
        margin-left: -27%;
    }
    .refresh{
        color: #fff;
        margin-top: -2%;
        margin-left: 67%;
    }
    .reportHead{
        z-index: 1;
        background: #fff;
        font-weight: bold;
        position: unset;
        display: flex;
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-bottom: 1px solid #f2f2f2;
        width: 210%;
        font-size: 13px;
        font-family: sans-serif;
    }
    .reportHeadSync{
        z-index: 1;
        background: #fff;
        font-weight: bold;
        position: unset;
        display: flex;
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-bottom: 1px solid #f2f2f2;
        width: 165%;
        font-size: 13px;
        font-family: sans-serif;
    }
    .user_navigation{
        margin-top: -32px;
    }
    /*#profileDrop{
        margin-left: -15%;
    }*/
    .headContentGap{
        margin-top: 0px;
        width: 205%;
    }
    .headContentGapS{
        margin-top: 0px;
        width: 170%;
    }
    #searchReport{
        border-radius: 0;
        width: 120px;
        margin-left: -26%;
    }
    #refreshButton{
        margin-left: 90%;
        margin-top: -11%;
        height: 32px;
    }
    #appendSyncJob{
        max-width: 130% !important;
    }
    #pauRes{
        width: 16%;
        margin-right: 0%;
    }
    #canStatus{
        width: 0%;
    }
    #searchbtn{
        height: 32px;
    }
    table{
        max-width: 125% !important;
    }
    #pauseMobile{
        width: 17%;
    }
    #syncReportTot{
        width: 50%;
    }
    .totCnt{
        float: right;
    }
    #syncReportProc{
        width: 68%;
    }
    .prcsdCnt{
        float: right;
        margin-right: 0%;
    }
    #syncReportCon{
        width: 50%;
    }
    .errCnt{
        float: right;
    }
    #reportRefresh{
        height: 32px;
    }
    .headerscroll{
        width: 150%;
    }
    #mgrtnSyncReports{
        width: 150%;
    }
    #reportScroll{
        height:64vh !important;
    }
    /*#headerTextReports{
        position: absolute;
        top: 17%;
    }*/
}
@media only screen and (max-width: 767px)  and (orientation: landscape) {
    .reportTitle {
        margin-left: -5px;
    }
    #searchbtn {
        height: 32px;
    }
    #refreshButton{
        margin-top: -8%;
        height: 32px;
        margin-left: 117%;
    }
    #reportRefresh{
        height: 32px;
        margin-top: -8%;
        margin-left: 130%;
    }
    .reportHeadSync{
        position: unset;
        width: 106%;
    }
    #pauRes {
        width: 16%;
        margin-right: 1%;
    }
    #canStatus {
        width: 10%;
    }

}
@media only screen and (max-width: 823px)  and  (min-width: 768px) and  (orientation: landscape) {
    .custom-search-input {
        margin-left: 25% !important;
    }
    #searchbtn {
        height: 32px;
    }
    #refreshButton{
        height: 32px;
        margin-top: -8%;
        margin-left: 185%;
    }
    #reportRefresh{
        height: 32px;
        margin-top: -8%;
        margin-left: 185%;
    }
    .reportHeadSync{
        position: unset;
    }
    #canStatus {
        width: 0%;
        margin-right: -5%;
    }
    #pauRes {
        width: 9%;
        margin-right: 4%;
    }
    .reportHeadSync {
        position: unset;
    }

}
@media (max-width: 979px) and (min-width: 768px) and (orientation: portrait){
    #refreshButton {
        height: 3vh;
        margin-left: 180%;
        margin-top: -7%;
    }
    #searchbtn{
        height: 32px;
    }
    /*.headContentGap{
        margin-top: 0px;0
        width: 116%;
        height: 32px;
    margin-top: -7%;
    }*/
    #pauRes{
        width: 11%;
        margin-right: 3%;
    }
    #canStatus{
        width: 2%;
    }
    /*  .fa-refresh{
          margin-top: 1%;
          margin-left: 170%;
          height: 35px;reportRefresh
      }*/
    #reportRefresh{
        margin-left: 170%;
        height: 32px;
        margin-top: -8%;
    }
    .reportHeadSync {
        position: unset;
        width: 99%;
    }
}


@media screen and (max-width: 1024px) and (min-width: 800px) and (orientation: portrait){
    .custom-search-input{
        margin-left: -50% !important;
        margin-left: 3%;
    }
    #searchbtn{
        height: 32px;
    }
    #refreshButton {
        height: 32px;
        margin-left: 180%;
        margin-top: -26%;
    }
    #reportRefresh{
        margin-left: 170%;
        height: 32px;
        margin-top: -25%;
    }
}
/*--------------------------------------------------------------------------------------------------------------*/

.user_navigation{
    margin-top: 8px;
}
.user_navigation li {
    margin-right: 10px;
}
/*@media only screen and (min-width: 320px) and (max-width: 320px) and (orientation: portrait) {
    #headerTextReports{
        position: absolute;
        top: 22%;
    }
    .user_navigation{
        margin-top: -42px;
        font-size: 11px;
    }
    .user_navigation li {
        margin-right: -6px;
    }
    .headerTag{
        position: relative;
    }
    .cf_usr_btn .dropdown-content {
        margin-left: -17%;
    }
}*/
/*@media only screen and (min-width: 360px) and (max-width: 360px) and (orientation: portrait) {
    #headerTextReports{
        position: absolute;
        top: 18%;
    }
    .user_navigation{
        margin-top: -27px;
    }
    .user_navigation li {
        margin-right: -6px;
    }
    .headerTag{
        position: relative;
    }
    .cf_usr_btn .dropdown-content {
        margin-left: -17%;
    }
}*/
/*@media only screen and (min-width: 375px) and (max-width: 375px) and (orientation: portrait) {
    #headerTextReports{
        position: absolute;
        top: 14%;
    }
    .user_navigation{
        margin-top: -27px;
    }
    .user_navigation li {
        margin-right: -6px;
    }
    .headerTag{
        position: relative;
    }
    .cf_usr_btn .dropdown-content {
        margin-left: -17%;
    }
}*/
/*@media only screen and (min-width: 376px) and (max-width: 400px) and (orientation: portrait) {
    #headerTextReports{
        position: absolute;
        top: 18%;
    }
    .user_navigation{
        margin-top: -27px;
    }
    .user_navigation li {
        margin-right: -6px;
    }
    .headerTag{
        position: relative;
    }
    .cf_usr_btn .dropdown-content {
        margin-left: -17%;
    }
}*/
/*@media only screen and (min-width: 411px) and (max-width: 411px) and (max-height: 823px) and (orientation: portrait) {
    .user_navigation{
        margin-top: -27px;
    }
    .user_navigation li {
        margin-right: -6px;
    }
    .headerTag{
        position: relative;
    }
    #headerTextReports{
        position: absolute;
        top: 14% !important;
    }
    .cf_usr_btn .dropdown-content {
        margin-left: -17%;
    }
}*/
@media only screen and (min-width: 320px) and (max-width: 320px) and (orientation: portrait) {
  .user_navigation li {
        margin-right: -6px;
           font-size: 10px
    }
  #refreshButton {
    margin-left: 110%;
    margin-top: -14%;
    height: 32px;
    }
}
@media only screen and (max-width: 480px) and (orientation: portrait) {
    .user_navigation{
        margin-top: -27px;
        /* width: auto; */
    }
    .user_navigation li {
        margin-right: -6px;
    }
    .headerTag{
        position: relative;
    }
    #headerTextReports{
        position: absolute;
        top: 30%;
    }
    .cf_usr_btn .dropdown-content {
        margin-left: -17%;
    }
    #profileDropSync{
        margin-left: -17%;
    }
}
@media only screen and (max-width: 736px) and (orientation: landscape) {
    .user_navigation{
        margin-top: -22px;
        /* width: auto; */
    }
    .user_navigation li {
        margin-right: -6px;
    }
    .headerTag{
        position: relative;
    }
    #headerTextReports{
        position: absolute;
        top: 27%;
    }
    .cf_usr_btn .dropdown-content {
        margin-left: -11%;
    }
}
@media only screen and (min-width: 737px) and (max-width: 823px) and (orientation: landscape) {
    .user_navigation{
        margin-top: 8px;
    }
    .user_navigation li {
        margin-right: -6px;
    }
    .headerTag{
        position: relative;
    }
    #headerTextReports{
        position: absolute;
        top: 27%;
    }
    .cf_usr_btn .dropdown-content {
        margin-left: -9%;

    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .cf_usr_btn .dropdown-content {
        margin-left: -8%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .cf_usr_btn .dropdown-content {
        margin-left: -70px;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1024px) and (orientation: landscape) {
    .reportTitle {
        width: 50%;
    }
    #reportScroll {
        height: 72vh;
    }
    .reportRefresh{
        height: 4vh !important;
    }
}