.nav {
    border: none;
    text-align: center;
}
.nav, .nav-tabs,.tab-pane {
    border-color: #ebeaea;
}
@media only screen and (min-width: 767px) {
    .nav {
        display: block;
        border: none;
        text-align: center;
    }
    .nav-tabs {
        background: 0 0;
        border: none;
        margin: 0 0 -1px;
        display: inline-block;
        vertical-align: middle;
    }
    .nav-tabs li {
        margin-bottom: 0;
        display: inline-block;
    }
    .nav-tabs li .tab-link {
        padding: 14px 55px;
        margin-right: -1px;
    }
    .nav-tabs li .tab-link {
        margin-right: 1px;
    }
    .tab-pane {
        margin: 0;
    }
}

.nav-tabs {
    border: none;
    background: 0 0;
}
.nav-tabs,.tab-pane {
    border-color: #ebeaea;
}
.nav-tabs {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    border: 1px solid #f1f2f2;
    border-bottom: none;
    background-color: #fff;
}

.nav-tabs li {
    position: relative;
    float: none;
    text-align: center;
    margin: 0;
}
.fusion-tab-heading{
    font-size: 18px;
    text-align: center;
    background: #dbdfe5;
    color: black;
    font-weight: 700;
    margin: 0;
    width: 102%;
    line-height: 1.4;
    padding: 14px;
}
#fusion-tab-personal h4:hover,#fusion-tab-business h4:hover{
    color: #fffAF0;
}
#info_icon{
    margin-top: -5%;
}
.fusion-tab-heading:hover,.tabs{
    background: #288ac7;
    color: #ffffff;
}
.nav-tabs li .tab-link:hover {
    border: 1px solid;
}
.nav-tabs li a:hover {
    background-color: #288ac7;
    border-top-color: #288ac7;
}
input.input_name {
    width: 49%;
    float: left;
    margin-right: 0px;
    margin-bottom: 15px;
    border-radius: 5px;
    border-color: #ccc !important;
}
@media (max-width: 1370px) and (min-width: 992px){
    .page-id-6431 .pricingfrm_head textarea.input_message {
        height: 23vh !important;
    }
}
textarea.input_message {
    width: 100%;
    float: left;
    margin-right: 0px;
    height: 120px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 13px;
    padding: 15px;
    border-color: #ccc !important;
}
#submitBtn {
    display: block;
    opacity: unset !important;
}
.zoho_submit_btn {
    background-color: #288ac7;
    padding: 6px 20px;
    border-radius: 10px !important;
    color: #fff !important;
    font-size: 15px !important;
    border: 0px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 600;
}
.zoho_submit_btn:hover
{
    background-color:#fcb315;
}
#contact_name,#contact_email,#contact_company,#contact_phone,#contact_message{
    background-color: #f4f6f7;
    width: 100%;
    height: 50px
}
#contact_message{
    vertical-align: top;
    height: 8em;
    width: 100%;

}
form input, input[type=email], input[type=number], input[type=password], input[type=text], select, textarea{
    background-color: #f4f6f7!important;
    font-size: 13px!important;
    color: #768894!important;
}
.nav-tabs li a.tab-link {
    border-color: #ebeaea;
}
.nav-tabs li.active a.tab-link, .nav-tabs li.active a.tab-link:hover,.nav-tabs li.active a.tab-link:focus {
    background-color: #288ac7;
}
.nav-tabs li a.tab-link {
    background-color: #ebeaea;
}
.nav-tabs li .tab-link {
    outline: 0;
}
.nav-tabs li .tab-link {
    padding: 14px 15px;
    border: 1px solid;
}
.nav-tabs .tab-link {
    padding: 11px 15px;
}
.nav-tabs>.active>.tab-link {
    border: none;
    border-top: 3px solid #65bc7b;
    background-color: #fff;
    cursor: pointer;
}
.nav-tabs li .tab-link {
    display: block;
    position: relative;
    margin: 0;
    padding: 11px 0;
    line-height: normal;
    border: none;
    border-top: 3px solid #f1f2f2;
    background-color: #f1f2f2;
    color: #747474;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.nav a {
    text-decoration: none;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.nav-tabs > li .fusion-tab-heading {
    font-size: 22px;
    font-weight: bold;
}
.nav-tabs li.active a h4 {
    color: #fff;
}

.nav-tabs li .fusion-tab-heading {
    margin: 0;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1px;
    font-style: normal;
}

.tab-pane {
    border-color: #ebeaea;
    padding: 0;
    background: 0 0;
    border: none;
}
.tab-pane {
    max-width: 100%;
    border: 1px solid #f1f2f2;
    border-top: none;
}
.fusion-clearfix {
    zoom: 1;
    clear: both;
    margin-bottom: 2%;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.pricingTable {
    text-align: center;
    border: 1px solid #ccc;
}
.pricingTable .heading {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 27px;
    line-height: 1.3;
    letter-spacing: 1px;
    font-style: normal;
}
.pricingTable .pricingTable-headers {
    padding: 30px 0;
    background: #288ac7;
    position: relative;
    transition: all 0.3s ease 0s;
}
.pricingTable .pricing-contents {
    padding-top: 0px;
    background: #fff;
    position: relative;
}
.pricingTable .read {
    display: block;
    font-size: 16px;
    color: #fff;
    background: #fcb315;
    padding: 12px 25px 8px 25px;
    margin: 12px auto;
    transition: all 0.3s ease 0s;
    width: 150px;
    font-weight: bold;
    border-radius: 25px;
    text-decoration: none;
}
.pricingTable .read:hover {
    text-decoration: none;
}

a.tooltips {
    position: relative;
    top: -4px;
}
a.tooltips span {
    z-index: 10;
    display: none;
    padding: 14px 20px;
    width: 239px;
    line-height: 30px;
    font-weight: 100;
    font-size: 15px;
    text-align: left;
}
.pricingTable .pricing-contents ul {
    padding: 0 20px;
    margin: 0;
    list-style: none;
}
.pricingTable .pricing-contents ul li {
    font-size: 17px !important;
    font-weight: 100 !important;
    color: #777473;
    padding: 10px 0;
    border-bottom: 1px solid #d9d9d8;
    text-align: left;
    line-height: 30px;
}
.pricingTable .pricenew_contnt {
    padding-top: 1px;
    background: #fff;
    position: relative;
}
.pricingTable .pricenew_contnt ul {
    padding: 1px 45px;
}
.pricingTable .pricenew_contnt ul li {
    font-size: 15px !important;
    font-weight: 100 !important;
    color: #777473;
    line-height: 2.3em;
    text-align: left;
    list-style-type: initial;
    border-bottom: none;
}
a.tooltip_more span {
    z-index: 10;
    display: none;
    padding: 14px 20px;
    width: 239px;
    line-height: 30px;
    font-weight: 100;
    font-size: 15px;
    text-align: left;
}

a.tooltips:hover span {
    display: inline;
    position: absolute;
    color: #777473;
    border: 1px solid #DCA;
    background: #fffAF0;
}

a.tooltip_more:hover span {
    display: inline;
    position: absolute;
    color: #777473;
    border: 1px solid #DCA;
    background: #fffAF0;
}
.container_priceupdtd {
    width: 100%;
    display: flex;
    height: 15.4vh;
}
.container_priceupdtd .box_updted {
    position: relative;
    width: 300px;
    text-align: center;
    margin: 10px 14px;
    background: #e7e9ea;
    border-radius: 5px;
    border-color: #ccc;
}
#crmWebToEntityForm {
    border-bottom: 1px solid #ccc;
}
tr,td
{
    padding:6px;
    border-spacing:0px;
    border-width:0px;
}
.error {
    display: none;
    margin-left: 10px;
}