@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

.bg-info {
    background-color: #428bca !important; /*#1e88e5 !important;*/
}
.card {
    margin-bottom: 30px;
}
.card-block {
    padding: 0.1rem;
    background:#fff;
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 15px;
    color: #99abb4;
}
.card-info {
    background: #1e88e5;
    border-color: #1e88e5;
}
.card-actions {
    float: right;
}
.card-actions a {
    cursor: pointer;
    color: #67757c;
    opacity: 0.7;
    padding-left: 7px;
    font-size: 13px;
}
.card-actions a:hover {
    opacity: 1;
}
.card-columns .card {
    margin-bottom: 20px;
}
.card-info {
    background: #1e88e5;
    border-color: #1e88e5;
}
.card-primary {
    background: #7460ee;
    border-color: #7460ee;
}
.card-outline-info {
    border-color: #1e88e5;
}
.card-outline-info .card-header {
    background: #1e88e5;
    border-color: #1e88e5;
}
.message-box ul li .drop-title {
    font-weight: 500;
    padding: 11px 20px 15px;
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}
.message-box ul li .nav-link {
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    padding-top: 15px;
}
.message-box .message-widget {
    position: relative;
}
.message-box .message-widget a {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    display: block;
    text-decoration: none;
    padding: 9px 15px;
}
.message-box .message-widget a:hover {
    background: #f2f4f8;
}
.message-box .message-widget a:last-child {
    border-bottom: 0px;
}
.message-box .message-widget a div {
    white-space: normal;
}
.message-box .message-widget a .user-img {
    width: 45px;
    position: relative;
    display: inline-block;
    margin: 0 10px 15px 0;
}
.message-box .message-widget a .user-img img {
    width: 100%;
}
.message-box .message-widget a .user-img .profile-status {
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    left: 33px;
    position: absolute;
    top: -1px;
    width: 10px;
}
.message-box .message-widget a .user-img .online {
    background: #26c6da;
}
.message-box .message-widget a .user-img .busy {
    background: #fc4b6c;
}
.message-box .message-widget a .user-img .away {
    background: #ffb22b;
}
.message-box .message-widget a .user-img .offline {
    background: #ffb22b;
}
.message-box .message-widget a .mail-contnet {
    display: inline-block;
    width: 73%;
    vertical-align: middle;
}
.message-box .message-widget a .mail-contnet h5 {
    margin: 5px 0px 0;
    color: #000;
    font-size: 16px;
}
.message-box .message-widget a .mail-contnet .mail-desc,
.message-box .message-widget a .mail-contnet .time {
    font-size: 12px;
    display: block;
    margin: 1px 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #67757c;
    white-space: nowrap;
}
.card {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.img-circle {
    border-radius: 0;
}
.message-box .message-widget a .user-img img {
    width: 60%;
}
.text-white{
    color:#ffffff !important;
    font-size: 16px;
}
.user-img{
    background: none;
}
body{
    background: #fff;
}
#mappingClouds .message-widget a:nth-child(even) {
    background-color: #f2f2f2;
}
#mappingClouds .message-widget a{
    background-color: #fff;
}
.flat-button {
    border-radius: 0;
    border: 0;
    font-family: sans-serif;
}
.flat-button.btn-md{
    margin-top: 4vh;
    width: 50%;
    font-family: sans-serif;
}
/* Animated-Arrows*/
.animation-arrow {
    height: 100%;
    font-size: 1.8rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.animation-arrow:before, .animation-arrow:after {
    content: "";
    position: absolute;
    left: 7rem;
    width: 2rem;
    height: 2rem;
    margin-left: -1rem;
    margin-top: -1rem;
    border: 4px solid #2398ff;
    border-left: none;
    border-bottom: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: arrows 1.5s infinite;
    animation: arrows 1.5s infinite;
}
.animation-arrow:before {
    top: 15rem;
}
.animation-arrow:after {
    top: 15rem;
    left: 10rem;
}
.animation-arrow.third-arrow:after {
    left: 13rem;
}
@-webkit-keyframes arrows {
    to {
        -webkit-transform: translateX(100%) rotate(45deg);
        transform: translateX(100%) rotate(45deg);
        opacity: 0;
    }
}
@keyframes arrows {
    to {
        -webkit-transform: translateX(100%) rotate(45deg);
        transform: translateX(100%) rotate(45deg);
        opacity: 0;
    }
}



/* progressBar Horizontal */
.progress-container {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 70%;
}

.progress-line {
    background-color: rgb(229,233,235);
    height: 0.25em;
    position: relative;
    width: 15em;
    border: 4px;
}
.progress-bar {
    background-size: 15em 0.25em;
    height: 100%;
    position: relative;
    background-color: transparent !important;
    background-image: linear-gradient(to right, rgb(76,217,100), rgb(90,200,250), rgb(0,122,255), rgb(52,170,220), rgb(88,86,214), rgb(255,45,85));
    background-image: -o-linear-gradient(to right, rgb(76,217,100), rgb(90,200,250), rgb(0,122,255), rgb(52,170,220), rgb(88,86,214), rgb(255,45,85));
    background-image: -ms-linear-gradient(to right, rgb(76,217,100), rgb(90,200,250), rgb(0,122,255), rgb(52,170,220), rgb(88,86,214), rgb(255,45,85));
    background-image: -webkit-linear-gradient(to right, rgb(76,217,100), rgb(90,200,250), rgb(0,122,255), rgb(52,170,220), rgb(88,86,214), rgb(255,45,85));
    background-image: -moz-linear-gradient(to right, rgb(76,217,100), rgb(90,200,250), rgb(0,122,255), rgb(52,170,220), rgb(88,86,214), rgb(255,45,85));
    animation: cssload-width 4.35s cubic-bezier(0.45, 0, 1, 1) infinite;
    -o-animation: cssload-width 4.35s cubic-bezier(0.45, 0, 1, 1) infinite;
    -ms-animation: cssload-width 4.35s cubic-bezier(0.45, 0, 1, 1) infinite;
    -webkit-animation: cssload-width 4.35s cubic-bezier(0.45, 0, 1, 1) infinite;
    -moz-animation: cssload-width 4.35s cubic-bezier(0.45, 0, 1, 1) infinite;
}
.progress-shadow {
    height: 2em;
    position: absolute;
    top: 100%;
    width: 100%;
    transform: skew(45deg);
    -o-transform: skew(45deg);
    -ms-transform: skew(45deg);
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    background-image: linear-gradient(to bottom, rgb(234,236,238), transparent);
    background-image: -o-linear-gradient(to bottom, rgb(234,236,238), transparent);
    background-image: -ms-linear-gradient(to bottom, rgb(234,236,238), transparent);
    background-image: -webkit-linear-gradient(to bottom, rgb(234,236,238), transparent);
    background-image: -moz-linear-gradient(to bottom, rgb(234,236,238), transparent);
}



@keyframes cssload-width {
    0%, 100% {
        transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-o-keyframes cssload-width {
    0%, 100% {
        -o-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-ms-keyframes cssload-width {
    0%, 100% {
        -ms-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes cssload-width {
    0%, 100% {
        -webkit-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-moz-keyframes cssload-width {
    0%, 100% {
        -moz-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


/*Progress Horizontal-Balls*/

.cssload-container{
    display: block;
    margin:75px auto;
    width:150px;
    margin-top: 65%;
}

.cssload-loading i{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    background: rgb(0,179,213);
}
.cssload-loading i:first-child{
    opacity: 0;
    animation:cssload-loading-ani2 1.25s linear infinite;
    -o-animation:cssload-loading-ani2 1.25s linear infinite;
    -ms-animation:cssload-loading-ani2 1.25s linear infinite;
    -webkit-animation:cssload-loading-ani2 1.25s linear infinite;
    -moz-animation:cssload-loading-ani2 1.25s linear infinite;
    transform:translate(-30px);
    -o-transform:translate(-30px);
    -ms-transform:translate(-30px);
    -webkit-transform:translate(-30px);
    -moz-transform:translate(-30px);
}
.cssload-loading i:nth-child(2),
.cssload-loading i:nth-child(3){
    animation:cssload-loading-ani3 1.25s linear infinite;
    -o-animation:cssload-loading-ani3 1.25s linear infinite;
    -ms-animation:cssload-loading-ani3 1.25s linear infinite;
    -webkit-animation:cssload-loading-ani3 1.25s linear infinite;
    -moz-animation:cssload-loading-ani3 1.25s linear infinite;
}
.cssload-loading i:last-child{
    animation:cssload-loading-ani1 1.25s linear infinite;
    -o-animation:cssload-loading-ani1 1.25s linear infinite;
    -ms-animation:cssload-loading-ani1 1.25s linear infinite;
    -webkit-animation:cssload-loading-ani1 1.25s linear infinite;
    -moz-animation:cssload-loading-ani1 1.25s linear infinite;
}




@keyframes cssload-loading-ani1{
    100%{
        transform:translate(60px);
        opacity: 0;
    }
}

@-o-keyframes cssload-loading-ani1{
    100%{
        -o-transform:translate(60px);
        opacity: 0;
    }
}

@-ms-keyframes cssload-loading-ani1{
    100%{
        -ms-transform:translate(60px);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-loading-ani1{
    100%{
        -webkit-transform:translate(60px);
        opacity: 0;
    }
}

@-moz-keyframes cssload-loading-ani1{
    100%{
        -moz-transform:translate(60px);
        opacity: 0;
    }
}

@keyframes cssload-loading-ani2{
    100%{
        transform:translate(30px);
        opacity: 1;
    }
}

@-o-keyframes cssload-loading-ani2{
    100%{
        -o-transform:translate(30px);
        opacity: 1;
    }
}

@-ms-keyframes cssload-loading-ani2{
    100%{
        -ms-transform:translate(30px);
        opacity: 1;
    }
}

@-webkit-keyframes cssload-loading-ani2{
    100%{
        -webkit-transform:translate(30px);
        opacity: 1;
    }
}

@-moz-keyframes cssload-loading-ani2{
    100%{
        -moz-transform:translate(30px);
        opacity: 1;
    }
}

@keyframes cssload-loading-ani3{
    100%{
        transform:translate(30px);
    }
}

@-o-keyframes cssload-loading-ani3{
    100%{
        -o-transform:translate(30px);
    }
}

@-ms-keyframes cssload-loading-ani3{
    100%{
        -ms-transform:translate(30px);
    }
}

@-webkit-keyframes cssload-loading-ani3{
    100%{
        -webkit-transform:translate(30px);
    }
}

@-moz-keyframes cssload-loading-ani3{
    100%{
        -moz-transform:translate(30px);
    }
}


/* Loader - Line */
.loader-line {
    height: 6px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ccc;
    margin-top: 80%;
}
.loader-line:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 6px;
    background-color: #2980b9;
    animation: loading 5s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
.custom-search-input {
    display:flex;
    /*position:realtive;
    margin:5em auto;
    float:right;
    border:1px solid #f2f2f2;*/
}

.custom-search-input>input[type=text],
.custom-search-input>button {
    display:block;
    font:1.2em Myriad Pro;
}

.custom-search-input>input[type=text] {
    flex:1;
    padding:0.6em;
    border:0.2em ;
}

.custom-search-input>button {
    padding:0.0em 0.8em;
    background-color:#bbb;
    color:white;
    border:none;
    height: 5vh;
}
.custom-search-input>button:hover {
    cursor:pointer;
}

.pagination{
    padding: 30px 0;
}

.pagination ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination a{
    display: inline-block;
    padding: 10px 18px;
    color: #222;
    width: 34px;
    height: 36px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    text-decoration: none;
}
.p1 a.is-active{
    background-color: #428bca;
    border-radius: 100%;
    color: #fff;
}
.forShow{
    border-bottom: 1px solid #bbb;
}
.forDomainName,.forDomainNameMin{
    border-bottom: 1px solid gainsboro;
    padding: 5px;
}
table tr{
    border-bottom:1px solid gainsboro!important;
}
.forImage{
    width: 7%;
    height: 24%;
    margin-right: 7px;
}
.fileActive{
    background: transparent!important;
}
.selectedClass{
    color: #bbb;
}
.closeBtn{
    cursor: pointer;
}
.fa-exchange{
    cursor: pointer;
}


