<div class="container-fluid">
    <div class="col-md-12">
        <div class="col-md-5 col-md-offset-3" ng-controller="changeview">
            <div ui-view="choosekeys"></div>
        </div>
    </div>
</div>