<div class="selectOptions">
    <select id="driveopt" class="form-control" ng-change="getvalue(option)" ng-model="option" ng-options="option as option.name for option in types">
        <option value=""> - Please Choose - </option>
    </select>
</div>

<div ui-view="changedrive"></div>