/*universal*/
.dashboard-logo{
	background: url('../img/cfdashboard-color.png') no-repeat center center;
}
.defaultFloat{
	width:100%;
    float:left;
}
.contentWrapper{    
    float:left;
    width:100%;
	padding: 0 15px;
	height:39px;
}
.divdisplay{
    display:none;
}
.user_navigation li {
    display: inline-block;
}
ul, li{
	list-style-type: none;
}
textarea {
    resize: none;
}
img{
	-webkit-border:0;
	-moz-border:0;
	-ms-border:0;
}
#mainContentWrapper{
	position: relative;
	max-height: 525px;
	margin: 0 0 10px;
	overflow:auto;
}
a,a:active,a:visited,a:hover,a:link{
	outline:0;
}

/*Notifications*/
.top-nav .cf-bell{
    padding-left: 5px;
    padding-right: 10px;
    color: #2bb5d8;
    font-size: 20px;
}
#cf_notification {
    position: absolute;
    background: #eee;
    border: 1px solid #000;
    z-index: 99;
    top:48px;
    right: 4px;
    box-shadow: 0 0 2px #ccc;
    width:270px;
}
#cf_notification:after, #cf_notification:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
#cf_notification:after {
    border: 18px rgba(204, 204, 204, 0);
    border-bottom-color: #fff;
    margin-left: -11px;
}
#cf_notification:before {
    border: 19px rgba(43, 181, 216, 0);
    border-bottom-color: #000;
    margin-left: -12px;
}
.notification_body{
    display: block;
    max-height: 280px;
    overflow: auto;
}
.notification_head{
    display: block;
    height: 33px;
    border-bottom: 1px solid lightgray;
    position: relative;
    padding: 6px;
    background: #fff;
}
.notify_unred{
    background: #ccc;
    border-bottom: 1px solid #000 !important;
}
.notification_body li{
    display: inline-block;
    height: auto;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.notification_body>li:hover{
    background: rgb(179, 227, 242);
    border: 2px solid #fff !important;
}
.notification_body .cf-cross32{
    font-size: 15px;
    float: right;
    padding-top: 12px;
    cursor: pointer;
    color:rgb(216, 8, 8);
}
.notification_body .icon{
    display: block;
    float: left;
    height: 100%;
    width: 35px;
    padding-top: 5px;
    position: relative;
}
.notification_body .icon>i{
    font-size: 22px;
}
.notification_body .content{
    display: block;
    float: left;
    height: 100%;
    width: 180px;
    overflow: hidden;
}
.notification_body .content>p{
    margin: 0;
}
.cf_notify{
    position:relative;
    cursor: pointer;
}
.cf_notify .badge{
    position: absolute;
    right: -30px;
    top: -12px;
    display: block;
    height: 17px;
    width: 28px;
    background: #dc0d17;
    border-radius: 10px;
    padding: 1px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    border: 1px solid darkred;
    box-shadow: none;
}
.notification_head>li{
    cursor: pointer;
    font-weight: bold;
}
.notification_footer{
    text-align: center;
    padding: 4px;
}
#stop_pagenav .badge{
    position: absolute;
    right: 9px;
    top: 3px;
    height: 20px;
    width: 32px;
    border-radius: 16px;
    text-align: center;
    padding: 2px;
    background: #dc0d17;
    box-shadow: none;
    font-size: 10px;
    text-shadow: 0 0 2px black;
    color: #fff;
    border: 1px solid darkred;
}
#CFSharedWithMe .red{
    font-size: 10px;
}
.notification_body .cf-circle2{
    font-size: 10px;
    position: absolute;
    bottom: 16px;
    right: 2px;
}
.notification_body .cf-circle2.green{
    color:green;
}
.notification_body .cf-circle2.gray{
    color:gray;
}

/*Bread Crumb*/
.BCRFList{
    float:left;
}
.breadcrum {
    float:left;
	margin-top:10px;;
}
#breadCrumbdync {
    margin: 0;
    padding: 0;
}
ul#breadCrumbdync, ul#breadCrumbdync li, #breadCrumbdync label {
    margin: 0 !important;
    padding: 0 !important;
    font-weight: normal;
}
ul#breadCrumbdync li:last-child label {
    color: #8B8B8B !important;
}

/*Search Box*/
.searchbox{
    width: 218px;
	float: right;
	padding-top: 7px;
	position: relative;
}
.searchbox .searchstyle {
    width: 26px;
    height: 24px;
    background: url(../img/FinalSprite.png?ver=0502) no-repeat -3px -116px;
    position: absolute;
    top: 11px;
    right: -5px;
}
.searchbox input.search{
	border: 1px solid #024a5b;
    margin-left: 9px;
}
/*Search Box*/

/*Action Panel*/
#actionPanel.maincontent2{
    float:left;
    width:100%;
	padding: 0 15px;
	height:55px;
}
.fileview{
	float:right;
	margin-top:10px;
}
#actionPanel{
	border-top:1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0;
}
.filecontrols {
    float:left;
}
.filecontrol-title1 {
    width:60px;
    font-size:10px;
}
.filecontrolicon1{
    width:100px;
}
.fileCreatecontrols{
    float:left;
    margin-top:10px;
    margin-left: 20px;
}
.fileCreatecontrols .filecontrolicon {
    margin-right: 10px;
}
.fileCreatecontrols.fm{
    margin-left: 8px;
}
.fileCreatecontrols.fm > div{
    width: 40px;
    height: 50px;
    float:left;
    cursor: pointer;
    color:#78808a;
    position: relative;
    text-align: center;
    margin:0 0 0 5px;
}
.fileCreatecontrols.fm a{
    font-size: 10px;
    position: absolute;
    bottom: 10px;
    left: 4px;
}
.filecontrolicon {
    float:left;
    height:54px;
    padding-left: 10px
}
.grid {
    width:25px;
    height:26px;
    float:left;
	background: url(../img/FinalSprite.png?ver=0502) -28px -605px;
    margin-left:5px;
}
.list {
    width:25px;
    height:26px;
    float:left;
    background: url(../img/FinalSprite.png?ver=0502) -1px -605px;
}
.open-filecontrol{
    background: url(../img/FinalSprite.png?ver=0502) no-repeat -60px -125px;
    width:32px;
    height:32px;
    margin: 0 auto;
}
.filecontrol-title{
    width:49px;
    height:10px;
    float:left;
    text-align:center;
    font-size:10px;
}
.category-filecontrol{
    background: url(../img/FinalSprite.png?ver=0502) no-repeat -1px -310px;
    width:32px;
    height:32px;
    margin: 0 auto;
}
.workspace-filecontrol{
    width: 32px;
	height: 32px;
    font-size: 26px;
    margin: 0 auto 0 8px;
    padding-top: 8px;
}
.share-filecontrol{
    background: url(../img/FinalSprite.png?ver=0502) no-repeat -60px -323px;
    width:32px;
    height:32px;
    margin: 0 auto;
}
.download-filecontrol{
    background: url(../img/FinalSprite.png?ver=0502) no-repeat -58px -407px;
    width:32px;
    height:32px;
    margin: 0 auto;
}
.delete-filecontrol{
    background: url(../img/FinalSprite.png?ver=0502) no-repeat -61px -453px;
    width:32px;
    height:32px;
    margin: 0 auto;
}
.CreateFolder-filecontrol, .CreateFile-filecontrol{
    background: url(../img/FinalSprite.png?ver=0502) no-repeat -74px -469px;
    width:32px;
    height:32px;
    margin: 0 auto;
}
.CFCreateFolder{
	width:30px;
	height:25px;
	background:url(../img/FinalSprite.png?ver=0502) -60px -502px;
	display:block;
	float:left;
	cursor:pointer;
	margin-right: 13px;
	border:0;
}
.CFUploadFiles{
	width:30px;
	height:25px;
	background: url(../img/FinalSprite.png?ver=0502) -770px -66px;
	display:block;
	float:left;
	cursor:pointer;
	border:0;
}
/*File Controls*/


/*List and Thumb*/
#ListContent, #ThumbnailContent{
	width: 100% !important;
}
#ThumbnailContent .file,#WorkspaceContent .file{
    width:115px;
    float:left;
    margin:6px 6px 3px;
	position:relative;
}
#ThumbnailContent .file{
    width:115px;
    float:left;
    height: 145px;
    margin:6px 6px 3px;
	position:relative;
}
#ThumbnailContent .file.selected,#WorkspaceContent .file.selected{
	background-color: #eee;
}
#ThumbnailContent .file.selected{
	background-color: #eee;
}
#ThumbnailContent .file .fileCheck,#WorkspaceContent .file .fileCheck{
	display:none;
}
#ThumbnailContent .file .fileCheck{
	display:none;
}
#ThumbnailContent .file.active .fileCheck,#WorkspaceContent .file.active .fileCheck{
	position: absolute;
	top: 90px;
	right: 8px;
	display:block;
}
#ThumbnailContent .file.active .fileCheck{
	position: absolute;
	top: 90px;
	right: 8px;
	display:block;
}
#ThumbnailContent .filethumbnail,#WorkspaceContent .WSthumbnail{
    width:115px;
    height:115px;
    border:1px solid #d0d0d0;
	float:left;
}
#ThumbnailContent .filethumbnail{
    width:115px;
    height:115px;
    border:1px solid #d0d0d0;
	float:left;
}
#ThumbnailContent  .addFilethumb .filethumbnail,#WorkspaceContent .addFilethumb .WSthumbnail{
	background:url(../img/AddFile.png) center center;
}
#ThumbnailContent  .addFilethumb .filethumbnail{
    width:115px;
    height:115px;
	background:url(../img/FinalSprite.png?ver=0502) no-repeat -387px -324px;
}
#ThumbnailContent .file.checked .filethumbnail,#ThumbnailContent .file > a.filethumbnail:hover{
	border: 5px solid #086CA2;
}
#WorkspaceContent .file.active .WSthumbnail,#WorkspaceContent .file > a.WSthumbnail:hover{
	border: 5px solid #086CA2;
}
#ListContent{
	float:left;
	width:100%;
	margin-top:-1px;
}
#ListContent .panel-default > .panel-heading{
	height: 47px;
	background-color: transparent;
	padding: 5px 15px;
}
#ListContent .panel-default > .panel-heading > .panel-title{
	color:#2bb5d8;
	padding-top: 8px;
}
#ListContent .panel-body{
	padding:0;
	font-size:12px;
}
#ListContent .panel-data{
	width:100%;
	float:left;
	border-top: 1px solid #e9e9e9;
	padding:4px 0;
	height:29px;
    margin-bottom: 1px;
}
#ListContent .panel-data:hover{
	background-color:#e9e9e9;
}
.panel-dataHoverClass{
    background-color:#e9e9e9;
}
#ListContent .panel-data.heading{
	color:#2bb5d8;
	background-color: #f9f9f9;
	font-weight:700;
	position:fixed;
	z-index:999;
	height:39px;
	width:83%;
}
#ListContent .LVcheckBox{
	width:5%;
	float:left;
	padding: 0 15px;
}
#LVContentHeader .LVHcheckBox{
	width:5%;
	float:left;
    padding: 6px 15px 0;
}
#LVWContentHeader .LVHcheckBox{
	width:5%;
	float:left;
    padding: 6px 15px 0;
}
#ListContent .LVfileName{
	width:38%;
	float:left;
	cursor:pointer;
}
.responsiveFileName{
	width:82%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#ListContent .LVfileName a{
	color:#333;
}
#ListContent .LVfileName a:hover{
	color:#2bb5d8;
}
#ListContent .LVFavorites{
	width:7%;
	float:left;
	text-align:center;
}
#LVContentHeader .LVHFavorites{
	width:7%;
	float:left;
	text-align:center;
	padding-top: 6px;
}
#LVWContentHeader .LVHFavorites{
	width:7%;
	float:left;
	text-align:center;
	padding-top: 6px;
}
#ListContent .LVfileSize{
	width:11%;
	float:left;
	text-align:center;
}
#LVContentHeader .LVHfileSize{
	width:10%;
	float:left;
	text-align:center;
	padding-top: 6px;
    cursor: pointer;
}
#LVWContentHeader .LVHfileSize{
	width:10%;
	float:left;
	text-align:center;
	padding-top: 6px;
}
#ListContent .LVdrive{
	width:20%;
	float:left;
}
#LVContentHeader  .LVHdrive{
	width:20%;
	float:left;
	padding-top: 6px;
	cursor:pointer;
}
#LVWContentHeader  .LVHdrive{
	width:14%;
	float:left;
	padding-top: 6px;
}
#ListContent .LVaddedDate{
	width:10%;
	float:left;
}
#LVContentHeader .LVHaddedDate{
	width:10%;
	float:left;
	padding-top: 6px;
	cursor:pointer;
}
#LVWContentHeader .LVHaddedDate{
	width:9%;
	float:left;
	padding-top: 6px;
}
#ListContent .LVmodifiedDate{
	width:10%;
	float:left;
}
#LVContentHeader .LVHmodifiedDate{
	width:11%;
	float:left;
	padding-top: 6px;
	cursor:pointer;
}
#LVWContentHeader .LVHmodifiedDate{
	width:11%;
	float:left;
	padding-top: 6px;
	cursor:pointer;
}
#LVContentHeader .panel-data.heading{
	height:39px;
	color:#2bb5d8;
	background-color:#f9f9f9;
	font-weight:700;
	font-size:12px;
	border-bottom:1px solid #ccc;
	padding-top:4px;
}
#LVWContentHeader .panel-data.heading{
	height:39px;
	color:#2bb5d8;
	background-color:#f9f9f9;
	font-weight:700;
	font-size:12px;
	border-bottom:1px solid #ccc;
	padding-top:4px;
}
#LVContentHeader .LVHfileName{
	width:38%;
	float:left;
	cursor:pointer;
	padding-top: 6px;
    margin-left:7px;
	}
#LVWContentHeader .LVHfileName{
	width:38%;
	float:left;
	cursor:pointer;
	padding-top: 6px;
}
.file.addFilethumb .filename{
	text-align: center;
	float: left;
}
.filename {
    font-size:12px;
    text-align:left;
    display: block;
    width: 116px;
}
.displvfilename{
    display: inline-block;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.LVSharetrue{
    display: inline-block;
    width: 20px;
    height: 20px;
    float: right;
    font-style: normal;
}
.LVSharetrue:before{
    font-family: "cloudfuze";
    content: '\e631';
    font-size: 14px;
}
.filesize {
    text-align:left;
    font-size:12px;
}
#ThumbnailContent{
	padding:10px 15px;
}


/*Secondary Menu Section*/
.refreshicon1,.refreshicon{
	width: 36px;
	height: 32px;
	float: right;
	margin: 33px 0;
	cursor: pointer;
}
.allicon{
    width:32px;
    height:32px;
    float:left;
}
.recenticon{
    width:32px;
    height:32px;
    float:left;
}
.favicon{
   width:32px;
   height:32px;
   float:left;
   margin-top:4px;
}
.shareByme{
    width:32px;
    height:32px;
    float:left;
}
.shareWithme{
    width:32px;
    height:32px;
    float:left;
}
.categoryicon{
    width:32px;
    height:32px;
    float:left;
}
.getFiles{
	word-wrap:break-word;
}
.categoryInput,.CFTHCreateFolder{
	width: 77%;
	height: 20px;
	margin-bottom:0;
}
.tagInput {
    outline: 0;
    padding-left: 5px;
    border: 1px solid #CCC;
    margin-left: 42px !important;
    width: 56%;
    height: 21px;
}
.ctRemove{
	font-style: normal;
	cursor: pointer;
}
.tagRemove{
	margin: 6px;
	font-style: normal;
	cursor: pointer;
}
.editCategory{
    float: right;
    width: 19px;
    height: 20px;
    cursor: pointer;
    margin-left: 4px;
}
.removeTag, .ctRemove,.CancelCategoryEdit,.tageditcancel,.RenameCancel,.FolderCancel{
    float: right;
    cursor: pointer;
}
.editCategory:hover{
	color:#fff !important;
}
.removeCategory{
	margin-left: 0;
	margin-right: 0;
	float:right;
	cursor: pointer;
}
.RenameCancel{
	margin: 5px 4px 15px 0;
}
.OkCategoryEdit,.RenameOk,.FolderOk{
	float: right;
    width: 19px;
    height: 20px;
    cursor: pointer;
    margin-left: 4px;
}
.emailOk{
	float: right;
    margin-top:13px;
    cursor: pointer;
}
.RenameOk{
	margin-top: 4px;
}
.FolderOk,.FolderCancel{
	float:left;
	margin-top:3px;
}
.ctRemove{
	margin-top:1px;
}
.driveToggle{
	width: 21px;
	height: 21px;
	float: right;	
	margin-top: 5px;
	cursor:pointer;
}
#addCategory {
    height: 20px;
    cursor: pointer;
}
.addCategory{
    float: left;
	height: 12px;
	width: 14px;
	margin: 0 0 0 15%;
}
#addTag {
    width: 36%;
    height: 20px;
    cursor: pointer;
    margin-left: 32px;
}
.addTag{
    float: left;
	/* background: url(../img/FinalSprite.png?ver=0502) -335px -265px !important; */
	height: 12px;
	width: 14px;
	margin: 0 0 0 15%;
}

.panel{
	border-radius:0;
}
.panel-default {
    border: none;
}
.panel-heading {
    display: none;
}
#accordion > div > div.panel-heading {
    display: block;
}
#page-header{
	position: fixed;
	z-index: 99;
	left: 281px;
	right: 0;
	background:#fff;
}
.mainNav {
    position: fixed;
    width: 100%;
}

/*All Files Section*/
.Driveicon{
    width:36px;
    height:26px;
    float:left;
    display: inline-block;
    vertical-align:super;
}
#G_DRIVE.Driveicon,#TEAM_DRIVE.Driveicon{
	background: url(../img/FinalSprite.png?ver=0502) -168px -397px;
}
#G_SUITE.Driveicon{
	background: url(../img/FinalSprite.png?ver=0502) -202px -444px;
}
#GOOGLE_TEAM_DRIVE.Driveicon{
    background: url(../img/FinalSprite.png?ver=0502) -168px -397px;
}
#CENTURYLINK.Driveicon{
    background: url(../img/FinalSprite.png?ver=0502) -92px -444px;
}

td.Driveicon{
    width:0;
    height:0;
    float:none;
}
#BOX.Driveicon,#BOX_BUSINESS.Driveicon{
	background: url(../img/FinalSprite.png?ver=0502) -168px -490px;
}
#ALFRESCO.Driveicon{
	background: url(../img/FinalSprite.png?ver=0502) -124px -269px;
}
#DROP_BOX.Driveicon{
	background: url(../img/FinalSprite.png?ver=0502) -167px -444px;
}
#DROPBOX_BUSINESS.Driveicon{
    background: url(../img/FinalSprite.png?ver=0502) -167px -444px;
}
#EGNYTE_STORAGE.Driveicon{
	background: url(../img/FinalSprite.png?ver=0502) -165px -228px;
}
#WALRUS.Driveicon {
    background: url(../img/FinalSprite.png?ver=0502) -168px -269px;
}
#DOCUMENTUM.Driveicon{
    background:url(../img/FinalSprite.png?ver=0502) -167px -351px;
}
#SHAREFILE.Driveicon{
    background:url(../img/FinalSprite.png?ver=0502) -168px -531px;
}
#SKYDRIVE.Driveicon ,#ONEDRIVE.Driveicon{
    background:url(../img/FinalSprite.png?ver=0502) -168px -564px;
}
#ONEDRIVE_BUSINESS.Driveicon,#ONEDRIVE_BUSINESS_ADMIN.Driveicon{
    background:url(../img/FinalSprite.png?ver=0502) -56px -564px;
}
#WEBDAV.Driveicon{
    background:url(../img/FinalSprite.png?ver=0502) -124px -309px;
}
#SUGAR_SYNC.Driveicon{
    background:url(../img/FinalSprite.png?ver=0502) -167px -310px;
}
#CMIS.Driveicon{
    background:url(../img/FinalSprite.png?ver=0502) -127px -351px;
}
#UBUNTU.Driveicon{
    background:url(../img/FinalSprite.png?ver=0502) -126px -396px;
}
#FTP.Driveicon{
    background:url(../img/FinalSprite.png?ver=0502) -127px -443px;
}
#AMAZON.Driveicon{
    background:url(../img/FinalSprite.png?ver=0502) -125px -492px;
}
#WASABI.Driveicon{
    background:url(../img/PNG/wasabi22.png);
    width: 25px;
    height: 25px;
    margin-top: 1px;
    margin-right: 10px;
    margin-left: 2px;
}
#SHAREPOINT_2013.Driveicon{
    background:url(../img/FinalSprite.png?ver=0502) -126px -565px;
}
#SHAREPOINT_2010.Driveicon {
    background: url(../img/FinalSprite.png?ver=0502) -124px -228px
}
#CLOUDIAN.Driveicon{
    background:url(../img/FinalSprite.png?ver=0502) -126px -591px;
}
#AZURE_OBJECT_STORAGE.Driveicon{
    background:url(../img/FinalSprite.png?ver=0502) -126px -616px;
}
#NTLM_STORAGE.Driveicon {
    background: url(../img/FinalSprite.png?ver=0502) -91px -616px;
}
#ORANGE.Driveicon{
    background: url(../img/FinalSprite.png?ver=0502) -92px -589px;
}
#YANDEX_DISK.Driveicon{
    background: url(../img/FinalSprite.png?ver=0502) -88px -641px;
}
#AXWAY.Driveicon{
    background: url(../img/FinalSprite.png?ver=0502) -92px -562px;
}
#SALES_FORCE.Driveicon{
    background:url(../img/FinalSprite.png?ver=0502) -90px -535px;
}
#CIFS.Driveicon{
    background: url(../img/FinalSprite.png?ver=0502) -90px -503px;
}
#AMAZON_STORAGE.Driveicon{
    background: url(../img/FinalSprite.png?ver=0502) -91px -473px;
}
#SHAREPOINT_ONLINE.Driveicon {
    background: url(../img/FinalSprite.png?ver=0502) -92px -411px;
}
/* Responsive styles*/

/*Meta data shared with*/
.comments-data .panel-body {
    max-height: 150px;
    overflow-y: scroll;
}
.comments-data p {
    margin: 14px;
}
.shared-data p span {
    display: inline-block;
    width: 45%;
    color: #2A6496;
}
.shared-data p i {
    width: 5%;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
.shared-data p input {
    display: inline-block;
    width: 10%;
}
.deleteEmails {
    display: inline-block;
    width: 5%;
}
.shareEmails {
    display: inline-block;
    width: 45%;
    margin: 6px 0;
}
.readEmail, .editEmail, .coOwnerEmails {
    display: inline-block;
    width: 10%;
    margin: 6px 0;
    text-align: center;
}
.addEmail {
    background: #F9F9F9;
    padding: 3px 0;
}
.addNewemail, .cancleUpdate {
    float: right;
    font-style: normal;
    /*
    font-size: 12px;
    border: 1px solid #E2E2E2;
    margin: 0px 5px;
    color: #2E2E2E; */
    cursor: pointer;
}
.cancleUpdate {
    display: none;
}
.addEmail input[type="text"] {
    display: inline-block;
    width: 45%;
    border: 1px solid #ccc;
}
.addEmail input[name="readEmail"], .addEmail input[name="editEmails"], .addEmail input[name="coOwnerEmails"] {
    display: inline-block;
    width: 10%;
}
.metadatacontrols input.form-control, .metadatacontrols .calendar {
    border: 1px solid #CCC;
    width: 47% !important;
    padding: 3px 4px !important;
    height: 28px !important;
    float: left;
    display: none;
}
.metadatacontrols .calendar {
    margin-left: 10px;
}

/*Icons*/
.DefaultIcon{
	background:url(../img/FileIcons/Common-Icon.jpg) no-repeat center 33px;
}
.jpg , .JPG{
	background:url(../img/FileIcons/Jpeg.png) no-repeat center 33px;
}
.ppt{
	background:url(../img/FileIcons/PPT.png) no-repeat center 33px;
}
.ai{
	background:url(../img/FileIcons/AI.png) no-repeat center 33px;
}
.avi{
	background:url(../img/FileIcons/AVI.png) no-repeat center 33px;
}
.csv{
	background:url(../img/FileIcons/CSV.png) no-repeat center 33px;
}
.dll{
	background:url(../img/FileIcons/DLL.png) no-repeat center 33px;
}
.dmg{
	background:url(../img/FileIcons/DMG.png) no-repeat center 33px;
}
.exe{
	background:url(../img/FileIcons/EXE.png) no-repeat center 33px;
}
.flv{
	background:url(../img/FileIcons/FLV.png) no-repeat center 33px;
}
.gif{
	background:url(../img/FileIcons/Gif.png) no-repeat center 33px;
}
.mov{
	background:url(../img/FileIcons/Mov.png) no-repeat center 33px;
}
.mpg{
	background:url(../img/FileIcons/MPG.png) no-repeat center 33px;
}
.pdf{
	background:url(../img/FileIcons/PDF.png) no-repeat center 33px;
}
.png{
	background:url(../img/FileIcons/PNG.png) no-repeat center 33px;
}
.psd{
	background:url(../img/FileIcons/PSD.png) no-repeat center 33px;
}
.wma{
	background:url(../img/FileIcons/WMA.png) no-repeat center 33px;
}
.doc , .docx{
	background:url(../img/FileIcons/Word.png) no-repeat center 33px;
}
.xls , .xlsx{
	background:url(../img/FileIcons/XL.png) no-repeat center 33px;
}
.folder{
	background:url(../img/FileIcons/folder.png) no-repeat 30px 30px;
}
.LVFOLDER,.LVNOTEBOOK{
	width:32px;
	height:18px;
	margin-right:5px;
}
.LVFILE,.LVNOTE{
	width:26px;
	height:20px;
	margin-right:5px;
}
.LVFILE:before,.LVFILE1:before,.LVFOLDER:before,.LVFIL:before,.LVNOTEBOOK:before,.LVNOTE:before{
    font-family: 'cloudfuze';
    font-style: normal;
}
/*.LVFOLDER:before{
    content: "\e900";
    font-size: 16px;
    color: rgb(222, 204, 30);
    text-shadow: 1px 1px 1px #000;
}*/
.LVFOLDER:before,.LVNOTEBOOK:before{
    content: "\e61d";
    font-size: 20px;
}
.LVFILE:before,.LVFILE1:before,.LVNOTE:before{
    content:"\e901";
    font-size: 16px;
}
.LVFILE1{
	width:32px;
	height:20px;
	margin-right:5px;
}
.LVWSpace {
    width:32px;
	height:20px;
	background: url(../img/FinalSprite.png?ver=0502) no-repeat -600px -271px;
	margin-right:5px;
}
#ListContent .LVAddFav{
    width:32px;
    height:20px;
	margin-left:30px;
	display:block;
}
#ListContent .LVFav{
    width:24px;
    height:20px;
	margin-left:39px;
	display:block;
}
#ThumbnailContent .LVAddFav{
	width:32px;
	height:20px;
	margin-right:5px;
	position:absolute;
	top:87px;
}
#ThumbnailContent .LVPublic{
	width:32px;
	height:20px;
	margin-right:5px;
	position:absolute;
	top:10px;
	left:8px;
}
#ThumbnailContent .LVFav{
    width:32px;
    height:20px;
	margin-right:5px;
	position:absolute;
	top:87px;
}
.PUBLIC:before{
	content: '\00a0Public';
	color: green;
	font-weight:900;
}
.SHARED:before{
	content: '\00a0Private';
	color: blue;
	font-weight:900;
}
.Protected:before{
	content: '\00a0Protected';
	color: red;
	font-weight:900;
}
.renameInput{
	outline: 0;
	padding-left: 5px;
	border: 1px solid #CCC;
	width: 56%;
	height: 21px;
}
.rename-filecontrol{
    background: url(../img/FinalSprite.png?ver=0502) no-repeat -557px -167px;
    width:32px;
    height:32px;
    margin: 0 auto;
}
.active-link {
    background: #7EBEC5;
}
.active-link1 {
    background: #F7FDAD;
    font-size: 12pt;
    padding: 2px 10px 4px 12px;
    border: 1px solid rgb(192, 69, 38);
}
#LVContentHeader .LVHdrive {
    width: 14%;
}
#ListContent .LVdrive {
    width: 14%;
}
#LVContentHeader .LVHmodifiedDate {
    width: 13%;
}
#ListContent .LVHmodifiedDate {
    width: 14%;
}
#LVContentHeader .panel-data.heading {
    padding-top: 5px;
}
#CFCreateWorkSpace{
    font-size: 10pt;
}
#syncstatus{
   background-color: #FF0;
    z-index: 1045;
    position: absolute;
    margin: 0 auto;
    left: 50%;
}
.secondary-nav-menu > li > ul > li{
	padding-left: 10px;
	color: #fff;
	cursor:pointer;
}
.secondary-nav-menu > li > ul > li.getFiles:hover{
	background-color: #024A5B !important;
}
.secondary-nav-menu > li > ul{
	height:150px;
	overflow-y:scroll !important;
}
.secondary-nav-menu > li > ul#CloudDriveList{
    height: auto;
    max-height: 200px;
    overflow-y:scroll !important;
}
.getFiles a{
	color:#fff;
}
#categoryList > li{
    cursor: default;
}
#categoryList > li:hover,.secondary-nav-menu > li > ul > li#addCategory:hover{
    background-color: #D1E3FA !important;
    cursor: pointer;
}
.secondary-nav-menu > li > ul > li#newCategory1:hover .ctRemove::before,.secondary-nav-menu > li > ul > li#newCategory1:hover .OkCategoryEdit::before{
    color:black;
}
#categoryList > li:hover,#categoryList > li:hover > a,#categoryList > li:hover > .removeCategory::before,#categoryList > li:hover > .editCategory::before{
    color:black;
}
#categoryList > li > a{
    display: inline-block;
    width: 76%;
    cursor: pointer;
}
.catactive{
    background-color: #024A5B !important;
}
.cltrigger ,.cltrigger:hover{
	display: block;
	height:26px;
	color:#fff;
	padding-top:4px;
}
.cltrigger:hover{
	background-color: #D1E3FA !important;
	color:#024A5B;
}
.trigactive{
	background-color: #D1E3FA !important;
	color:#024A5B;
}
li.getCloudFiles{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
li.getCloudFiles:hover{
	background-color: #024A5B !important;
    cursor: pointer;
}


/*Share POPUP*/
.shareAccessUser{
	border:0;
	text-align:center;
	word-wrap:break-word;
}
.btn1 {
  display: inline-block;
  padding: 6px 25px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  float:right;
}
#sharedFilesList{
	border-right: 1px solid #000;
	overflow-y: auto;
	width: 25%;
	float: left;
	height: 100%;
}
.shareAccessUserTH{
	border-bottom:1px solid #ccc;
	background:#ccc;
	color:#000;
}
.showAccessSettings{
	width:100%;
	display: block;
	height: 40px;
	background: #ccc;
	padding-top: 10px;
	font-size: 17px;
	padding-left: 20px;
	cursor:pointer;
	color:#000;
}
.shareAccessAddNewUser{
	width:50%;
	cursor:pointer;
	float:left;
	text-align:right;
}
.shareAccessMargin{
	width:100%;
	margin-bottom:8px;
	margin-top:8px;
}
.setPassword{
	width:90%;
	margin-bottom:0;
}
.setExpPassword,.setdownCount{
	width:90%;
	margin-bottom:0;
}
.shareSettings{
	width:100%;
	display: block;
	height: 40px;
	background: #ccc;
	padding-top: 10px;
	font-size: 17px;
	padding-left: 20px;
	cursor:pointer;
	color:#000;
	margin-bottom:2px;
}
.removeEmail{
	margin-left: 0;
	margin-right: 0;
	float:right;
}
.ui-datepicker-header{
	background:#515151;
}
.sharepopSettings{
	float:left;height:100%;width:75%;padding:10px;overflow:auto;
}
#shareFilesModel{
    width:660px;
}
.ShareFilesSingleFile{
	float: left; width: 84%; border-bottom: 1px solid rgb(204, 204, 204);
}
.sharepopupmain{
	height:526px;padding:5px;overflow:hidden;
}
.sharepopuplink{
	border:0;width:66%;float:left
}
.removeTag1{
	font-style: normal;
	cursor: pointer;
    margin: 3px;
}
.removeTag1:before{
    content: "\e632";
    font-family: "cloudfuze";
}

/*SWITCH*/
.onoffswitch {
    position: relative; width: 99px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #006ECC; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 23px; padding: 0; line-height: 23px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Public";
    padding-left: 10px;
    background-color: #006ECC; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Private";
    padding-right: 10px;
    background-color: #EEEEEE; color: #006ECC;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 19px;
    background: #FFFFFF;
    border: 2px solid #006ECC; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 72px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
    height: 20px;
    margin: 4px 2px 2px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}
/*SWITCH*/

.CFfooterLinks {
    color: black;
    border-top: 1px solid #000;
    -webkit-box-shadow: 0 0 10px;
    max-height: 33px;
    position: fixed;
    bottom: 0;
    background: #ddd;
    z-index: 999;
    text-align: center;
    padding-top: 3px;
}
.CFfooterLinks a:hover{
    text-decoration: underline;
}

/*Responsive for Iphone*/
.cloudRefresh{
    cursor: pointer;
    margin-top:2px;
    height: 16px;
    width: 16px;
    display: inline-block;
    background: url(../img/FinalSprite.png?ver=0502) 0 -356px no-repeat;
    /* float: right; */
	margin-bottom:2px;
}
.cloudSpinn{
    cursor: pointer;
    margin-top:2px;
    height: 16px;
    width: 16px;
    display: inline-block;
    background: url(../img/syncCloud.gif) no-repeat;
    /* float: right; */
	margin-bottom:2px;
}
.cloudDispName{
    display: inline-block;
    width:90%;
    margin:0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ms-ctn{
    margin:0 auto;
}
@media (min-width: 320px) and (max-width: 568px){
    nav#primary > ul > li{
        width:16%
    }
    #manageclouddiv  td:nth-child(2), #manageclouddiv td:nth-child(3){
        display:none;
    }
    #manageclouddiv  td:nth-child(4){
        width:200px;
        white-space:nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
    }
    #manageclouddiv th:nth-child(2),#manageclouddiv th:nth-child(3){
        display:none;
    }
    .profile-menu .pull-left{
        position:absolute;
        width:70%;
        margin-top:40px;
    }
    .LVHfileSize,.LVHdrive,.LVHaddedDate,.LVHmodifiedDate{
        display:none;
    }
    .LVfileSize,.LVaddedDate,.LVdrive,.LVmodifiedDate{
        display:none;
    }
    #ListContent .LVfileName{
        width:67%;
        float:left;
        cursor:pointer;
    }
    #LVContentHeader .LVHfileName{
        width:67%;
        float:left;
        cursor:pointer;
        padding-top: 6px;
        margin-left:7px;
    }
    #LVWContentHeader .LVHfileName{
        width:68%;
        float:left;
        cursor:pointer;
        padding-top: 6px;
    }
    .modal{
        left:0;
    }
    #sharedFilesList{
        border-right: 1px solid #000;
        overflow-y: auto;
        width: 100%;
        height:auto;
    }
    #filesList > li{
        width:25%;
        border-right:1px solid #ccc;
        word-wrap: break-word;
        float:left;
    }
    #shareFilesModel{
        width:320px;
    }
    .sharepopSettings{
        width:100%;
        height:300px;
    }
    .ShareFilesSingleFile{
        float: left; width: 73%; border-bottom: 1px solid rgb(204, 204, 204);
    }
    .sharepopupmain{
        height:350px;padding:2px;overflow:hidden;
    }
    .sharepopuplink{
        border:0;width:54%;float:left
    }
}

@media (min-width: 568px) and (max-width: 600px){
    nav#primary > ul > li{
        width:16%
    }
    .profile-menu .pull-left{
        position:absolute;
        width:70%;
        margin-top:40px;
    }
    .LVHmodifiedDate{
        display:none;
    }
    .LVmodifiedDate{
        display:none;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    #sidebar-wrapper{
        width:210px;
    }
    .navbar-left {
        margin-left:0 !important;
        position: absolute;
        left: 89px;
        right: 215px;
        text-align: center;
        margin-top: 11px;
    }
    .navbar-nav > li {
        float:initial !important;
        text-align: center;
        display: inline-block;
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 4px;
    }
    .nav.navbar-nav.navbar-right {
        margin: 18px 10px;
    }
    .categoty {
        height: 40px;
    }
    #LVContentHeader .LVHfileName{
        width:39%;
        float:left;
        cursor:pointer;
        padding-top: 6px;
        margin-left:7px;
    }
    #LVWContentHeader .LVHfileName{
        width:38%;
        float:left;
        cursor:pointer;
        padding-top: 6px;
    }
}

@media (min-width: 320px) and (max-width: 1024px){
    #page-header{
        left:0;
    }
    .profile-menu{
        height:35px;
    }
    nav#primary > ul > li {
        width: 16%
    }
}

/*Profile Name Responsive Design*/
@media (min-width: 339px) and (max-width: 1024px){
    .profile-menu .pull-left{
        margin-left: 19px;
        width: 72%;
        margin-top:40px;
        -moz-margin-start:0%;
    }
    .CFfooterLinks{
        width: 100%;
    }
}

@media screen and (min-width: 1025px){
    #ListContent .LVfileName{
        width:38%;
        float:left;
        cursor:pointer;
    }
    .profile-menu{
        height:1px;
    }
}

/*Samsung Tab potroit*/
@media screen and (max-width: 620px) {
    .CFTHCreateFolder{
        width:151px;
    }
    nav#primary > ul > li {
        width: 16%
    }
    .displvfilename{
        width: 83%;
    }
}
#priviewBody .icon-download-alt{
    display: block;
    text-align: center;
}
.text-align-center{
    text-align: center;
}

/*Workspace Code*/
.buttonDisable{
    pointer-events:none;
    opacity: 0.2;
}
#workspaceFiles .gradeA:nth-child(even){
    background: #fff;
}
#getComments.cf-comments2{
    width: 22px;
    height: 29px;
    display: block;
    margin-top: 0;
    cursor: pointer;
    color: #999;
}
#workspaceFiles .gradeA .folder{
    cursor: pointer;
    width: 66%;
    padding: 3px 8px 0 5px;
    background: none !important;
}
#workspaceFiles .gradeA .sorting_1{
    cursor: pointer;
    width: 66%;
    padding: 3px 8px 0 5px;
}
#workspaceFiles .gradeA .LVFILEIcon ,#workspaceFiles .gradeA .wsfcheckbox{
    width: 2%;
    padding: 3px 8px 0 5px;
}
#addWorkspaceUser.button{
    font-size: 10pt;
    padding: 8px;
}
.modal-footer #workspaceSubmit,.modal-footer #workspaceCancel,.modal-footer #CFEditWs{
    margin-left: 20px;
    font-size: 10pt;
    padding: 7px 14px 7px 14px;
}
#admin_contact label{
    display: inline-block;
    width: 150px;
}
#workspaceFiles .cf-back:hover{
    cursor: pointer;
}
.ErrorRefresh{
    pointer-events: none;
    color: red !important;
}

/*Action Panel Icons*/
.cf-cabinet3,.cf-workspace,.cf-trashcan2,.cf-share4,.cf-cloud-download2,.cf-edit3,.cf-eye8{
    font-size: 23px;
    height: 28px;
    width: 28px;
    margin: 4px auto 0;
    display: block;
    margin-top: 7px;
}
.cf-trashcan2{
    font-size: 20px;
    height: 26px;
    margin-top: 10px;
    margin-left: 15px
}
.cf-edit3{
    font-size: 20px;
    height: 24px;
    margin-top: 12px;
}
.cf-share4{
    font-size: 20px;
    height: 25px;
    margin-top: 11px;
    margin-left: 15px;
}
.cf-workspace{
    margin-top: 8px;
    font-size: 26px;
}
.cf-cloud-download2{
    font-size: 25px;
    margin-top: 7px;
}
.cf-cabinet3{
    height: 25px;
    font-size: 20px;
    margin-top: 11px;
}
#secondary .cf-cabinet3{
    display: inline-block;
    font-size: 25px;
    margin: 0;
}
.cf-folder-add2{
    width: 26px;
    height: 26px;
    font-size: 22px;
}
.cf-cloud-upload2{
    font-size: 25px;
}
.fileCreatecontrols .cf-workspace{
    font-size: 16px;
    display: inline-block;
    height: auto;
    width: auto;
    margin: 0;
}
button .cf-cloud-upload2{
    font-size: 16px;
}
.cf-heart32,.cf-heart22{
    font-size: 14pt;
    margin-left: 20px;
    cursor: pointer
}

#ThumbnailContent .cf-heart32,#ThumbnailContent .cf-heart22{
    font-size: 14pt;
    position: absolute;
    margin: 5px;
    bottom: 30px;
}
#actionPanel a:hover{
    color:#2bb5d8 !important;
}
.fileCreatecontrols>div:hover{
    color:#2bb5d8 !important;
}
nav#secondary > ul > li > a i{
    font-size: 24px;
    vertical-align: middle;
    color: #FFFFFF;
    display: inline-block;
    line-height: 1;
    margin: 0;
    padding: 0;
}
.LVSITE:before{
    content: "\e64a";
}
.LVSITE{
    font-family: "cloudfuze" !important;
    font-style: normal;
    font-size: 20px;
    margin-right: 18px;
}
.file.SITE:before{
    content: "\e64a";
    font-family: "cloudfuze" !important;
    font-style: normal;
    position: absolute;
    margin: 29%;
    font-size: 50px;
    color: #2bb5db;
}

.INACTIVE:before{
    color: orange;
    content: '\00a0 Disabled';
    font-weight: 900;
    font-style: normal;
}

/*PrimaryNav*/
#primary .badge{
    position: absolute;
    right: 9px;
    top: 3px;
    height: 20px;
    width: 32px;
    border-radius: 16px;
    text-align: center;
    padding: 2px;
    background: #dc0d17;
    box-shadow: none;
    font-size: 10px;
    text-shadow: 0 0 2px black;
    color: #fff;
    border: 1px solid darkred;
}

