.statusMesg {
    color: red;
}

.recendConf {
    color: blue;
    font-style: normal;
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
}

.confirm {
    height: 200px;
    width: 298px;
    border: 1px solid #3A3A41;
    border-radius: 5px;
    background-color: #3A3A41;
    color: #fff;
}

.confirm p:first-child {
    text-align: center;
    margin-top: 14%;
}

.confirm p {
    text-align: center;
}

label > a:hover {
    text-decoration: underline;
}

.CFfooterLinks {
    color: black;
    border-top: 1px solid #000;
    -webkit-box-shadow: 0px 0px 10px;
    max-height: 33px;
    position: fixed;
    bottom: 0px;
    background: #ddd;
    z-index: 9999;
    text-align: center;
    padding-top: 3px;
    width: 100%;
}

.CFfooterLinks a:hover {
    text-decoration: underline;
}

.cf-cross22 {
    position: absolute;
    font-size: 16px;
    right: 10px;
    top: 8px;
    height: 25px;
    width: 30px;
}

#iphone.SmallBox, #android.SmallBox {
    width: 100%;
}

/*Flip*/
.loginHide{
    transition: 1s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
#loginWrapperFooter{
    text-align: center;
    height: 30px;

}
.Orline{

    margin:1% 0 5% 0;
}
.Dragbottom{
    position:absolute;
    bottom:0%;
}
.Orcontent{
    position: absolute;
    top: -15px;
    left: 46%;
    display: block;
    padding: 2%;
    background: white;
}
.login-btn--o365 {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: .1rem solid transparent;
    border-radius: .25em;
    box-shadow: inset 0 0 0 0 transparent;
    text-decoration: none;
    text-transform: inherit;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
    transition-duration: 100ms;
    transition-property: background-color,border,box-shadow;
    user-select: none;
    fill: currentColor;
    display: flex;
    color: #fff;
    background-color: #eb3c01;
}
.login-btn--o365 .login-btn--o365__icon {
    margin: -.8rem 0 -.8rem -0.8rem;
    width: 4rem;
    height: 4rem;
}
btn--o365 .d-svg {
    width: 4rem;
    height: 4rem;
}
.login-btn--o365 .d-svg {
    border-radius: .2rem;
}
.login-btn--o365 .login-btn--o365__label {
    flex: 1 auto;
}
.social-iconstab{
    height:151px;
}

.login-btn--google {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
    border: .1rem solid transparent;
    border-radius: .25em;
    box-shadow: inset 0 0 0 0 transparent;
    text-decoration: none;
    text-transform: inherit;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    transition-timing-function: cubic-bezier(.645,.045,.355,1);
    transition-duration: 100ms;
    transition-property: background-color,border,box-shadow;
    user-select: none;
    fill: currentColor;
    display: flex;
    color: #fff;
    background-color: #4285f4;
}
.login-btn--google .login-btn--google__icon {
    margin: -.8rem 1.6rem -.8rem -0.8rem;
    width: 4rem;
    height: 4rem;
}
.login-btn--google .d-svg {
    width: 2rem;
    height: 4rem;
}
.login-btn--o365  .d-svg{
    width: 2rem;
    height: 4rem;
}
.login-btn--google .d-svg {
    border-radius: .2rem;
}
.login-btn--google .login-btn--google__label {
    flex: 1 auto;
}
.loginList, .loginList li{
    list-style: disc !important;
}
.loginList{
    margin-left: 18px !important;
}
.orangeOffer{
    width: 220px;
    height: 240px;
    position: relative;
    border: 1px solid #ccc;
    background: #fff;
}
.orangeOffer .a{
    display: block;
    width: 100%;
    height: 30px;
    padding: 6px;
    background-color: #2bb5d8;
    color: #fff;
}

.orangeOffer .b{
    height: 70px;
    width: 100%;
    display: block;
    color:#000;
    border-bottom: 1px solid #7B6A6A;
    text-align: center;
}
.orangeOffer .b h2{
    display: inline-block;
    color:#000;
}
.orangeOffer .b i{
    display: block;
    width: 80%;
    border: 2px solid #D45050;
    transform: rotate(-15deg);
    position: absolute;
    top: 26%;
    margin-left: 10%;
}
.orangeOffer .c{
    color: #000;
    padding: 4px;
    display: block;
}
.orangeOffer .offer{
    position: absolute;
    background: url("/img/offer.png") no-repeat;
    width: 150px;
    height: 150px;
    background-size: 150px 150px;
    right: -78px;
    top: -32px;
    z-index: 9;
    text-align: center;
    padding: 27px;
    font-weight: bold;
    font-size: 13px;
}

.login-button:hover, input[type="submit"]:hover{
    background-image: none;
    -webkit-background-image: none;
    -moz-background-image: none;
    /*background-color: #22B5F5;*/
    background:rgba(11, 165, 232, 0.2);

    /*box-shadow: 0 0 0 2px #00a9d7 !important;*/
}
.login-button{
    background-image: none;
    -webkit-background-image: none;
    -moz-background-image: none;
    /*border: 2px solid transparent;
    background: #0ba5e8;
    color: #ffffff;*/
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;


    border: 2px solid #3498DB;
    background: rgba(11, 165, 232, 0.1);
    color: #2bb5d8;
}

input {
    text-align: center;
    background-color: #ECF0F1 !important;
    border:0px solid transparent !important;
    border-radius: 3px !important;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 20px !important;
    padding: 0 !important;
    width: 250px;
    transition: border .5s !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

input:focus {
    border: 2px solid #3498DB !important;
    box-shadow: none;
}
.input-group,button{
    width: 100% !important;
}
body{
    background: #266294 !important;
    background-image: none !important;
}


/* for iphone sE*/
@media (max-width: 320px) {
    .loginspan6 {
        padding: 0 !important;
    }
    .login-wrapper{
        padding: 11px 5px 2px 5px !important;
    }
    #login-linkal {
        width: 317% !important;
    }
    #loginWrapperFooter{
        padding: 0 5px !important;
    }
}

@media (max-width: 720px) {
    .span4{
        margin-top: 20% !important;
    }
}

#email:-webkit-autofill{
    -webkit-box-shadow: 0 0 0px 1000px #ECF0F1 inset !important;
    -moz-box-shadow:0 0 0px 1000px #ECF0F1 inset !important;
    -ms-box-shadow: 0 0 0px 1000px #ECF0F1 inset !important;
    box-shadow:0 0 0px 1000px #ECF0F1 inset !important;
}
.login-wrapper
{
    padding:19px 35px 4px 35px ;
    margin: 2px ;
}
.login-wrapper1{
    padding:0 35px 4px 35px;
}
/*.login .row-fluid .span5 {
    margin-left: 400px;
}*/
#register
{
    padding-bottom: 10px !important;
    padding-top: 13px !important;
}