.move{
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 25%;
    cursor: pointer;
    display: inline-block;
	margin-bottom:1%;
	margin-top:10%;
}
#userEmail{
    font-size: 12px;
    text-align: center;
    color: #0E6E85;
    font-weight: bold;
    overflow: hidden;
  /*  white-space: nowrap;
    text-overflow: ellipsis;*/
    float: left;
    max-width: 140px;
    width:100%;
    display: inline-block;
	word-break:break-all;
	padding:0px 7px; 
	line-height: 1.5;
}
.moveCloudBlock{ 
    width: 100px;
height: 100px; 
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #E5E5E5;
border-radius: 5px;
margin:2%;
float:left;
}

.moveCloudBlock:hover>input ,.moveCloudBlockDragHover>input{ 
    visibility: visible;
}
input:checked{
    visibility: visible;
}


.moveHeader{
    height: 40px;
    width: 40px;
    display: none;
    float: left;
	 margin-left:2%;
	 background: #fcfcfc;
    padding: 3px;
    border: 1px solid #e5e5e5;
    border-radius: 20px;
	margin-top:-1.5%;
	position:relative;  
}
.migrateImg {
  width: 40px;
    height: 40px;
    border: 1px solid #e5e5e5;
    padding: 2%;
    background: #fcfcfc;
    border-radius: 20px;
    margin-right: 3%;
    margin-top: -5%;
	float:left;
}

.destCloudInput{
    visibility: hidden;
    float: left;
    margin: 10px;
}
.dropabbleParent{
    height:45px;
    cursor:pointer;
    background:none;
    width:87%;
    margin:0 auto;
}
/*.rootDragHover{
    background: #B6DDE6;
    border: 1px dashed #000;
}*/
#verifyStatus{
    float: right;
    margin-top: 5px;
}
.moveLoader{
    background-image: none;
}
/*.draghover{
    background: #B6DDE6;
    border: 1px dashed #000;
}*/
.moveCloudBlockDragHover{
    display: block;
    height: 100px;
    width: 100px;
    float: left;
    opacity: 1;
    zoom:1;
    background: #F1FFF7 0% 0% no-repeat padding-box;
    border: 0.800000011920929px solid #00C64F;
	margin:2%;
}
#moveSource .list-group-item:hover,#moveSource .dropabbleParent:hover,#moveSource .ui-draggable:hover{
    cursor: move;
    color:#000;
    background: #B6DDE6;
   border-bottom: none;
   width:100%;
}
#moveDestination .list-group-item:hover,#moveDestination .draghover:hover,#moveDestination .dropabbleParent:hover{
    background: #B6DDE6;
   border-bottom: none;
}
#moveSource .list-group-item{
   border-bottom: none;
   color:#1f2129;  
	   width:100%;
	   display:flex;
}
#moveDestination .list-group-item{
   border-bottom: none;
   color:#1f2129;  
	   width:80%;
	   border:none;
	   margin-right:15%;
	   display: flex;
}
#moveSource .list-group-item:last-child{ 
    border-bottom: 1px solid #e5e5e5;
    margin-bottom:5%;
}
#moveDestination .list-group-item:last-child{
  margin-bottom:5%;
}

#moveSource .list-group-item>input:checked{
    border: 1px dashed #000;
}
.moveDroppableHover{
    background: #B6DDE6;
    border: 1px dashed #000;
}
.cloudActive{
    height: 95px;
    width: 150px;
    background: #509bad;
    color: #000000;
}
#moveSource .list-group-item.fileActive{
    color: #1220f6;
}
#moveDestination .list-group-item.fileActive{
	background: #F2F3FF 0% 0% no-repeat padding-box;
border-radius: 4px;
}
.moveCloudBlock.button:hover,.moveCloudBlock.fileActive{
background: #F1FFF7 0% 0% no-repeat padding-box;
border: 0.800000011920929px solid #00C64F;
}
#moveReportsForUser .ERROR,#moveDetailedReport .ERROR,#moveSyncReportsForUser .ERROR{
    color:#FF4C4C;
    font-weight: bold;
}
#moveReportsForUser .CONFLICT,#moveDetailedReport .CONFLICT,#moveSyncReportsForUser .CONFLICT{
    color:#FF4C4C;
    font-weight: bold;
}
#moveReportsForUser .CANCEL,#moveDetailedReport .CANCEL,#moveSyncReportsForUser .CANCEL{
    color:#FF4C4C;
    font-weight: bold;
}
#moveReportsForUser .PAUSE,#moveDetailedReport .PAUSE,#moveSyncReportsForUser .PAUSE{
    color:#FF4C4C;
    font-weight: bold;
}
#moveReportsForUser .IN_PROGRESS,#moveDetailedReport .IN_PROGRESS,#moveSyncReportsForUser .IN_PROGRESS{
    color:blue;
    font-weight: bold;
}
#moveReportsForUser .PROCESSED,#moveDetailedReport .PROCESSED,#moveSyncReportsForUser .PROCESSED{
    color:#00C64F;
    font-weight: bold;
}
#moveReportsForUser .COMPLETED,#moveDetailedReport .COMPLETED,#moveSyncReportsForUser .COMPLETED{
    color:#00C64F;
    font-weight: bold;
}

#moveReportsForUser .CONSUMERTRAIL_COMPLETED,#moveDetailedReport .CONSUMERTRAIL_COMPLETED,#moveSyncReportsForUser .CONSUMERTRAIL_COMPLETED{
    color:#00C64F;
    font-weight: bold;
}


#moveReportsForUser .NOT_PROCESSED,#moveDetailedReport .NOT_PROCESSED,#moveSyncReportsForUser .NOT_PROCESSED{
    color:brown;
    font-weight: bold;
}
#moveReportsForUser .NOT_STARTED,#moveDetailedReport .NOT_STARTED,#moveSyncReportsForUser .NOT_STARTED{
    color:brown;
    font-weight: bold;
}
#moveReportsForUser .IN_QUEUE,#moveDetailedReport .IN_QUEUE,#moveSyncReportsForUser .IN_QUEUE{
    color:brown;
    font-weight: bold;
}
#moveReportsForUser .WARNING,#moveDetailedReport .WARNING,#moveSyncReportsForUser .WARNING{
    color:orange;
    font-weight: bold;
}
#moveReportsForUser .SUSPENDED,#moveDetailedReport .SUSPENDED,#moveSyncReportsForUser .SUSPENDED{
    color:#cc6600;
    font-weight: bold;
}
#moveReportsForUser .PROCESSED_WITH_SOME_ERRORS,#moveDetailedReport .PROCESSED_WITH_SOME_ERRORS,#moveSyncReportsForUser .PROCESSED_WITH_SOME_ERRORS{
    color:#00C64F;
    font-weight: bold;
}
#moveReportsForUser .PROCESSED_WITH_SOME_CONFLICTS,#moveDetailedReport .PROCESSED_WITH_SOME_CONFLICTS,#moveSyncReportsForUser .PROCESSED_WITH_SOME_CONFLICTS{
    color:#00C64F;
    font-weight: bold;
}
#moveReportsForUser .PROCESSED_WITH_SOME_WARNINGS,#moveDetailedReport .PROCESSED_WITH_SOME_WARNINGS,#moveSyncReportsForUser .PROCESSED_WITH_SOME_WARNINGS{
    color:#00C64F;
    font-weight: bold;
}
#moveReportsForUser .PROCESSED_WITH_SOME_CONFLICTS_AND_PAUSE,#moveDetailedReport .PROCESSED_WITH_SOME_CONFLICTS_AND_PAUSE,#moveSyncReportsForUser .PROCESSED_WITH_SOME_CONFLICTS_AND_PAUSE{
    color:#00C64F;
    font-weight: bold;
}
#moveReportsForUser .PROCESSED_WITH_SOME_PAUSE,#moveDetailedReport .PROCESSED_WITH_SOME_PAUSE,#moveSyncReportsForUser .PROCESSED_WITH_SOME_PAUSE{
    color:#00C64F;
    font-weight: bold;
}

/*Move*/
td.ERROR, #moveReportFilesList .ERROR {
    color: #FF4C4C;
    font-weight: bold;
}
td.CONFLICT, #moveReportFilesList .CONFLICT {
    color: #FF4C4C;
    font-weight: bold;
}
td.PAUSE, #moveReportFilesList .PAUSE{
    color: #FF4C4C;
    font-weight: bold;
}

td.CANCEL, #moveReportFilesList .CANCEL {
    color: #FF4C4C;
    font-weight: bold;
}

td.IN_PROGRESS, #moveReportFilesList .IN_PROGRESS {
    color: #1220f6;
    font-weight: bold;
}

td.PROCESSED, #moveReportFilesList .PROCESSED {
    color: #00C64F;
    font-weight: bold;
}

td.NOT_PROCESSED, #moveReportFilesList .NOT_PROCESSED,td.NOT_STARTED, #moveReportFilesList .NOT_STARTED {
    color: brown;
    font-weight: bold;
}

td.IN_QUEUE, #moveReportFilesList .IN_QUEUE {
    color: brown;
    font-weight: bold;
}

td.WARNING, #moveReportFilesList .WARNING {
    color: orange;
    font-weight: bold;
}
td.SUSPENDED, #moveReportFilesList .SUSPENDED {
    color:#cc6600;
    font-weight: bold;
}
td.COMPLETED, #moveReportFilesList .COMPLETED {
    color:#00C64F;
    font-weight: bold;
}
td.PROCESSED_WITH_SOME_ERRORS, #moveReportFilesList .PROCESSED_WITH_SOME_ERRORS {
    color:#00C64F;
    font-weight: bold;
}
td.PROCESSED_WITH_SOME_CONFLICTS, #moveReportFilesList .PROCESSED_WITH_SOME_CONFLICTS {
    color:#00C64F;
    font-weight: bold;
}
td.PROCESSED_WITH_SOME_WARNINGS, #moveReportFilesList .PROCESSED_WITH_SOME_WARNINGS {
    color:#00C64F;
    font-weight: bold;
}
td.PROCESSED_WITH_SOME_CONFLICTS_AND_PAUSE, #moveReportFilesList .PROCESSED_WITH_SOME_CONFLICTS_AND_PAUSE {
    color:#00C64F;
    font-weight: bold;
}
td.PROCESSED_WITH_SOME_PAUSE, #moveReportFilesList .PROCESSED_WITH_SOME_PAUSE {
    color:#00C64F;
    font-weight: bold;
}
.CFfooterLinks {
    max-height: 33px;
    position: fixed;
    bottom: 0;
    background: #ddd;
    z-index: 999;
    text-align: center;
    padding-top: 3px;
    color: black;
    border-top: 1px solid #000;
    -webkit-box-shadow: 0 0 10px;
}
.CFfooterLinks a:hover{
    text-decoration: underline;
}
@media screen and (min-width: 1024px){
    .CFfooterLinks{
        width: 95%;
    }
}
@media (min-width: 339px) and (max-width: 1024px){
    .CFfooterLinks{
        width: 100%;
    }
    #primary>ul{
        margin-bottom: 0;
    }
}
.moveCloudBlock.cf-warning{
    color: red !important;
    font-size: 14pt;
}
#CFFileMove.buttonDisabled{
    opacity: 0.2 !important;
    pointer-events: none !important;
}
#movePageShowMore{
    display: none !important;
}
#breadCrumbdyncmove{
    display: none !important;
}

#OptionsPopUp .table tr,#previewPopUp .table tr{
	background: #FCFCFC 0% 0% no-repeat padding-box;
	border: 1px solid #E5E5E5;
	border-radius: 4px;
}

.button.blue{
	background: #24DFD3 0% 0% no-repeat padding-box!important;
	color:#fff!important;  
}
.moveHeaderIcon#AMAZON,.drive#AMAZON,.migrationImage#AMAZON {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -10px -10px;
	margin-top: 10%;  
}


.moveHeaderIcon#AZURE_OBJECT_STORAGE,.drive#AZURE_OBJECT_STORAGE,.migrationImage#AZURE_OBJECT_STORAGE  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -60px -10px;
}


.moveHeaderIcon#BOX,.drive#BOX,.migrationImage#BOX  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -10px -60px;
}


.moveHeaderIcon#BOX_BUSINESS,.drive#BOX_BUSINESS,.migrationImage#BOX_BUSINESS  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -60px -60px;
}


.moveHeaderIcon#CIFS,.drive#CIFS,.migrationImage#CIFS  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -110px -10px;
}


.moveHeaderIcon#DROP_BOX,.drive#DROP_BOX,.migrationImage#DROP_BOX  {
    width: 30px; height: 28px;
    background: url('../img/css_sprites_1.png') -110px -60px;
	    margin-top: 10%;
		top: 3%!important;
}


.moveHeaderIcon#DROPBOX_BUSINESS,.drive#DROPBOX_BUSINESS,.migrationImage#DROPBOX_BUSINESS  {
    width: 30px; height: 28px;
    background: url('../img/css_sprites_1.png') -10px -110px;
}


.moveHeaderIcon#EGNYTE_ADMIN,.drive#EGNYTE_ADMIN ,.migrationImage#EGNYTE_ADMIN {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -60px -110px;
	
}


.moveHeaderIcon#EGNYTE_STORAGE,.drive#EGNYTE_STORAGE,.migrationImage#EGNYTE_STORAGE {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -110px -110px;
}


.moveHeaderIcon#FTP,.drive#FTP,.migrationImage#FTP  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -160px -10px;
}


.moveHeaderIcon#G_DRIVE,.drive#G_DRIVE,.migrationImage#G_DRIVE  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -160px -60px;
}


.moveHeaderIcon#G_SUITE,.drive#G_SUITE,.migrationImage#G_SUITE  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -160px -110px;
}


.moveHeaderIcon#GOOGLE_SHARED_DRIVES,.drive#GOOGLE_SHARED_DRIVES,.migrationImage#GOOGLE_SHARED_DRIVES  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -10px -160px;
}


.moveHeaderIcon#NETWORK_FILESHARES,.drive#NETWORK_FILESHARES,.migrationImage#NETWORK_FILESHARES  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -60px -160px;
}


.moveHeaderIcon#NFS,.drive#NFS,.migrationImage#NFS  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -110px -160px;
}


.moveHeaderIcon#NTLM_STORAGE,.drive#NTLM_STORAGE,.migrationImage#NTLM_STORAGE  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -160px -160px;
}


.moveHeaderIcon#ONEDRIVE,.drive#ONEDRIVE,.migrationImage#ONEDRIVE  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -260px -110px;
}


.moveHeaderIcon#ONEDRIVE_BUSINESS,.drive#ONEDRIVE_BUSINESS,.migrationImage#ONEDRIVE_BUSINESS  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -210px -10px;
}


.moveHeaderIcon#ONEDRIVE_BUSINESS_ADMIN,.drive#ONEDRIVE_BUSINESS_ADMIN,.migrationImage#ONEDRIVE_BUSINESS_ADMIN  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -210px -60px;
}


.moveHeaderIcon#ONEDRIVE_BUSINESS_ADMIN_HYBRID,.drive#ONEDRIVE_BUSINESS_ADMIN_HYBRID,.migrationImage#ONEDRIVE_BUSINESS_ADMIN_HYBRID  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -210px -110px;
}


.moveHeaderIcon#SHAREFILE_BUSINESS,.drive#SHAREFILE_BUSINESS,.migrationImage#SHAREFILE_BUSINESS  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -10px -210px;
}


.moveHeaderIcon#SHAREPOINT_2010,.drive#SHAREPOINT_2010,.migrationImage#SHAREPOINT_2010  {
    width: 30px; height: 29px;
    background: url('../img/css_sprites_1.png') -260px -160px;
}


.moveHeaderIcon#SHAREPOINT_2013,.drive#SHAREPOINT_2013,.migrationImage#SHAREPOINT_2013  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -60px -210px;
}


.moveHeaderIcon#SHAREPOINT_CONSUMER_HYBRID,.drive#SHAREPOINT_CONSUMER_HYBRID,.migrationImage#SHAREPOINT_CONSUMER_HYBRID  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -110px -210px;
}


.moveHeaderIcon#SHAREPOINT_ONLINE_BUSINESS,.drive#SHAREPOINT_ONLINE_BUSINESS,.migrationImage#SHAREPOINT_ONLINE_BUSINESS  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -160px -210px;
}


.moveHeaderIcon#SHAREPOINT_ONLINE_CONSUMER,.drive#SHAREPOINT_ONLINE_CONSUMER,.migrationImage#SHAREPOINT_ONLINE_CONSUMER  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -210px -210px;
}


.moveHeaderIcon#SHAREPOINT_ONLINE_HYBRID,.drive#SHAREPOINT_ONLINE_HYBRID,.migrationImage#SHAREPOINT_ONLINE_HYBRID  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -260px -10px;
}

.moveHeaderIcon#WASABI,.drive#WASABI,.migrationImage#WASABI  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -260px -60px; 
}


.moveHeaderIcon#SHARED_DRIVES,.drive#SHARED_DRIVES,.migrationImage#SHARED_DRIVES  {
    width: 30px; height: 30px;
    background: url('../img/css_sprites_1.png') -210px -160px;  
	    margin-top: -14%;
}
.moveHeaderIcon#MICROSOFT_TEAMS,.drive#MICROSOFT_TEAMS,.migrationImage#MICROSOFT_TEAMS  {
    width: 27px!important; height: 27px!important; 
    background: url('../img/PNG/MICROSOFT_TEAMS1.png');  
	    margin-top: 5%;
}
.moveHeaderIcon#SLACK,.drive#SLACK,.migrationImage#SLACK  { 
    width: 27px!important; height: 27px!important; 
    background: url('../img/PNG/SLACK1.png');  
	    margin-top: 5%;
}
.moveHeaderIcon{
margin-left:2.75%;
position: absolute;
    top: 11%;
}
.drive{
margin-left:4%;
    margin-top: 5%;
}
.move.AMAZON {
    width: 65px; height: 49px;
    background: url('../img/css_sprites.png') -190px -10px;
	margin-left: 13%;
}


.move.AZURE_OBJECT_STORAGE {
    width: 70px; height: 37px;
    background: url('../img/css_sprites.png') -10px -184px;
}


.move.BOX {
    width: 50px; height: 28px;
    background: url('../img/css_sprites.png') -415px -283px; 
	margin-top: 25%;
    margin-left: 25%;
    margin-bottom: 8%;
}

.move.BOX_BUSINESS {
    width: 50px; height: 28px;
    background: url('../img/css_sprites.png') -415px -331px;
}


.move.CIFS {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -190px -79px;
}


.move.DROP_BOX {
    width: 50px; height: 47px;
    background: url('../img/css_sprites.png') -415px -149px;
}


.move.DROPBOX_BUSINESS {
    width: 50px; height: 47px;
    background: url('../img/css_sprites.png') -415px -216px;
}

.move.EGNYTE_ADMIN {
    width: 70px; height: 70px;
    background: url('../img/css_sprites.png') -10px -10px;
}


.move.EGNYTE_STORAGE {
    width: 60px; height: 70px;
    background: url('../img/css_sprites.png') -100px -10px;  
	margin-top: -5%;
    margin-left: 15%;
    margin-bottom: -8%;
}


.move.FTP {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -275px -10px;
}


.move.G_DRIVE {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -275px -80px;
}


.move.G_SUITE {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -275px -150px;
}


.move.GOOGLE_SHARED_DRIVES {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -10px -241px;
}


.move.NETWORK_FILESHARES {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -80px -241px;
}


.move.NFS {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -150px -241px;
}


.move.NTLM_STORAGE {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -220px -241px;
}

.move.ONEDRIVE {
    width: 60px; height: 64px;
    background: url('../img/css_sprites.png') -10px -100px;
	    margin-top: 0%;
    margin-left: 17%;
    margin-bottom: -4%;
}


.move.ONEDRIVE_BUSINESS {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -345px -10px;
}


.move.ONEDRIVE_BUSINESS_ADMIN {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -345px -80px;
}


.move.ONEDRIVE_BUSINESS_ADMIN_HYBRID {
    width: 64px; height: 64px;
    background: url('../img/css_sprites.png') -94px -100px;
}


.move.SHARED_DRIVES {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -345px -150px;
}


.move.SHAREFILE_BUSINESS {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -345px -220px;
}


.move.SHAREPOINT_2010 {
    width: 50px; height: 49px;
    background: url('../img/css_sprites.png') -415px -80px;
}


.move.SHAREPOINT_2013 {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -10px -311px;
}


.move.SHAREPOINT_CONSUMER_HYBRID {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -80px -311px;
}


.move.SHAREPOINT_ONLINE_BUSINESS {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -150px -311px;
}


.move.SHAREPOINT_ONLINE_CONSUMER {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -220px -311px;
}


.move.SHAREPOINT_ONLINE_HYBRID {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -290px -311px;
}


.move.WASABI {
    width: 50px; height: 50px;
    background: url('../img/css_sprites.png') -415px -10px;
}