#move_multiUser_container .spark_container {
    text-align: center;
    padding: 5px;
    box-shadow: 0 1px 1px 1px #ccc;
    width: 100%;
}

#move_multiUser_container .move_multiUser_container.active {
    box-shadow: 0 1px 1px 1px #024a5b;
    -moz-box-shadow: 0 1px 1px 1px #024a5b;
}

#all_clouds_container {
    height: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    overflow: auto;
    box-shadow: 1px 1px 1px 1px #000;
    overflow-x: hidden;
}

#all_clouds_container [data-container="files"] li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

#all_clouds_container [data-container="files"] li:hover, #all_clouds_container [data-container="files"] li.active {
    background: #eee;
    cursor: pointer;
}

#all_clouds_container [data-container="files"] li input {
    margin-top: -2px;
}

#all_clouds_container [data-container="files"] li i {
    margin: 10px;
}

#all_clouds_container #breadCrumbdync {
    padding: 2px !important;
    background: #eee;
    color: #000;
    border-bottom: 1px solid #bbb;
    margin: 5px;
}

#all_clouds_container #breadCrumbdync li:after {
    margin: 4px;
    content: '\e800';
    font-family: 'cloudfuze';
    line-height: 1.2;
}

#all_clouds_container #breadCrumbdync li {
    display: inline-block;
    margin-right: 5px !important;
}

#all_clouds_container [data-action="loadmore"] {
    display: none;
}

.bredcrumb_fixed {
    position: fixed;
}
.google-visualization-tooltip {
    width: 100px;
}

#loadMoreBtn:hover {
    border: 2px solid #00a9d7;
    background: #fff;
    box-shadow: 0 0 0 2px #00a9d7;
    border-radius: 5px;
}
#loadMoreBtn {
    margin-left: -80%;
    width: 200%;
    border: 2px solid #00c0ef;
    background: white;
    color: #2bb5d8;
}

#move_multiUser_map .spark_room{
    width: 84%;
    height: 60px;
    text-align: center;
    line-height: 40px;
    padding: 3px;
    border:1px solid #f2f2f2;
    margin: 0 auto;
}
#move_multiUser_map .spark_room span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-align: left;
}
#move_multiUser_map .list-group-item{
    border: 0;
    padding: 2px;
}
#move_multiUser_map .list-group-item p{
    overflow: hidden;
    word-break: break-all;
}
#move_multiUser_map .clouds_drop_down{
    padding: 5px;
    border: 1px solid #ccc;
    max-height: 350px;
    min-height: 200px;
    overflow: auto;
}
.spark_room .tooltip-inner{
    line-height: 13px;
}

/*Spark Room Container is step 2*/
.move_multiUser_map_container{
    width: 35px;
    height: 35px;
    position: absolute;
    right: 40%;
    margin-top: 10px;
    border-radius: 100%;
    text-align: center;
    padding: 0;
}
.move_multiUser_map_container i{
    font-size: 15px;
    line-height: 33px;
    margin: 0;
    float: none;
    position: initial;
    color: #fff;
}


/*Spark Progress Bar In Step 2*/
.multiUser_link{
    position: relative;
}
.multiUser_link .cf-right-dark{
    float: left;
    display: inline-block;
    margin-top: 21px;
    color:#ddd;
    position: absolute;
    right: 15px;
}
.multiUser_link .progress{
    margin-top: 25px;
    height: 4px;
    border:none;
    width:94%;
    float:left;
    margin-left: 7px;
}
.multiUser_link .progress .progress-bar-info{
    background-color: #ddd !important;
}

/*Choose Destination in Step 2*/
.clouds_drop_down li.files{
    display: block;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
}
.clouds_drop_down li.files input{
    margin-top: -5px;
    margin-right: 10px;
}
.clouds_drop_down li.files i{
    margin-right: 5px;
}
.clouds_drop_down li{
    display: inline-block;
}
.clouds_drop_down .cloudcontainer{
    width: 134px;
    height: 40px;
}
.clouds_drop_down .cloudcontainer img {
    width: 32px;
    padding: 3px;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-right: 8px;
}

[data-container="files-mini"] .bread{
    background: transparent;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    padding-left: 5px;
}

.bread{
    background: #C3EAC1;
    padding: 2px;
    border: 1px solid #ccc;
    font-size: 12px;
}
.bread li{
    display: inline-block;
}
.bread li+li:before{
    content: '\e800';
    font-family: 'cloudfuze';
    line-height: 1.2;
    margin: 5px;
}
.multiUser_dest_display{
    float: left;
    width: 69%;
    padding: 4px;
    border: 1px solid #ccc;
    margin-top: 7px;
    cursor: pointer;
}
.multiUser_dest_display ~ ul{
    width: 69%;
    float: left;
    margin-right: 31px;
}
#show_move_multiUser_map.btn-primary{
    color: #2bb5d8;
    background-color: #fff;
    border-color: #2bb5d8;
    margin-left: 8%;
}
#show_move_multiUser_map.btn-primary:hover{
    background-color: #22B5F5;
    background: rgba(11, 165, 232, 0.2);
}
#show_move_multiUser_map.btn-primary i{
    display: block;
    float: right;
    width: 30px;
    text-align: right;
    font-size: 24px;
    line-height: 12px;
}
#show_move_multiUser_map .cf-sort-up{
    margin-top: 8px;
}
[data-container="files-mini"] .cf-times{
    margin: 3px;
    font-size: 20px;
}
/*Spark Pair*/
.pair_container{
    border: 1px solid #ccc;
    height: 300px;
    margin-bottom: 50px;
}
.pair_header{
    height: 30px;
    background: #2bb5d8;
    border-bottom: #ddd;
    display: flex;
    justify-content: center;
}
.pair_body > div{
    height: 298px;
    overflow: auto;
    border-right: 1px solid #ccc;
}
.pair_body .list-group-item{
    border: 0;
    padding: 8px 5px;
    height: 45px;
    line-height: 26px;
    border-radius: 0;
    width:100%
}
.pair_body .list-group-item input{
    float: left;
    margin-top: 8px;
}
.pair_body .list-group-item .room_icon{
    float: left;
    position: relative;
    width: 40px;
    text-align: center;
}
.pair_body .list-group-item img{
    width: 22px;
}
.pair_body .clouds img{
    margin: 0 5px;
}
.pair_body .clouds .list-group-item:hover{
    cursor: pointer;
}
.pair_body .clouds{
    padding: 0;
    overflow-x: hidden;
}
.pair_body .clouds .bread{
    margin-top: 0;
}
.pair_body li.files{
    padding: 3px;
    line-height: 20px;
    cursor: pointer;
}
.pair_body li.files input{
    margin-top: -4px;
}
.pair_body li.files i{
    margin: 0 5px;
}

[data-container="clouds"] li+li{
    border-top:1px solid #f2f2f2;
}

.room_icon span{
    position: absolute;
    right: 13px;
    font-size: 10px;
    color: white;
}

.map_container{
    padding-top: 12%;
}
.map_container .cf-right-dark{
    right: 10px;
}
.fa-spin {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.userOk
{
    content:"\e606";
}