@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

body{
    font-family: sans-serif !important;
}
.btn-primary {
    color: #fff;
    background-color: #0062FF;
    border-color: #0062FF;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0062FF;
    border-color: #0062FF;
}
.bg-info {
    background-color: #0062FF !important;
	border-top-left-radius:3px;
	border-top-right-radius:3px;}
.card {
    margin-bottom: 30px;
}
.card-block { 
    background:#fff;
	height:56vh;
	overflow-y:auto;
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 15px;
    color: #99abb4;
}
.card-info {
    background: #1e88e5;
    border-color: #1e88e5;
}
.card-actions {
    float: right;
}
.card-actions a {
    cursor: pointer;
    color: #67757c;
    opacity: 0.7;
    padding-left: 7px;
    font-size: 13px;
}
.card-actions a:hover {
    opacity: 1;
}
.card-columns .card {
    margin-bottom: 20px;
}
.card-info {
    background: #1e88e5;
    border-color: #1e88e5;
}
.card-primary {
    background: #7460ee;
    border-color: #7460ee;
}
.card-outline-info {
    border-color: #1e88e5;
}
.card-outline-info .card-header {
    background: #1e88e5;
    border-color: #1e88e5;
}
.message-box ul li .drop-title {
    font-weight: 500;
    padding: 11px 20px 15px;
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}
.message-box ul li .nav-link {
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    padding-top: 15px;
}
.message-box .message-widget {
    position: relative;
}
.message-box .message-widget a {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    display: block;
    text-decoration: none;
        padding: 15px;
    height: 9vh;
}
.message-box .message-widget a:hover {
    background: #f2f4f8;
}
.message-box .message-widget a:last-child {
    border-bottom: 0px;
}
.message-box .message-widget a div {
    white-space: normal;
}
.message-box .message-widget a .user-img {
    width: 25%;
    position: relative;
    display: inline-block;
    margin: 0;
	float:left;
	
}
.message-box .message-widget a .user-img img {
    width: 100%;
}
.message-box .message-widget a .user-img .profile-status {
    border: 2px solid #ffffff;
    /*border-radius: 50%;*/
    display: inline-block;
    height: 10px;
    left: 33px;
    position: absolute;
    top: -1px;
    width: 10px;
}
.message-box .message-widget a .user-img .online {
    background: #26c6da;
}
.message-box .message-widget a .user-img .busy {
    background: #fc4b6c;
}
.message-box .message-widget a .user-img .away {
    background: #ffb22b;
}
.message-box .message-widget a .user-img .offline {
    background: #ffb22b;
}
.message-box .message-widget a .mail-contnet {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
}
.message-box .message-widget a .mail-contnet h5 {
    margin: 5px 0px 0;
    color: #000;
    font-size: 14px;
}
.message-box .message-widget a .mail-contnet .mail-desc,
.message-box .message-widget a .mail-contnet .time {
    font-size: 10px;
    display: block;
    margin: 1px 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #67757c;
    white-space: nowrap;
}
.card {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1); 
    border-radius: 4px;
}
.img-circle {
    width: 30px;
    height: 30px;
    border: 1px solid #e5e5e5;
    padding: 6%;
    background: #fcfcfc;
    border-radius: 15px; 
} 
.message-box .message-widget a .user-img img {
    width: 30px;
    height: 30px;
    border: 1px solid #e5e5e5;
    padding: 6%;
    background: #fcfcfc;
    border-radius: 15px;
}
.text-white{
    color:#ffffff !important;
    font-size: 14px;
	padding-top:0.1rem;
}
.user-img{
    background: none;
}
body{
    background: #fff;
}
#mappingClouds .message-widget a:nth-child(even) {
    background-color: #FAFAFF;
}
#mappingClouds .message-widget a{
    background-color: #fff;
}
.flat-button {
    border-radius: 4px;
    border: 0;
    font-family: sans-serif;
}
.flat-button.btn-md{
    margin-top: 4vh;
    width: 50%;
    font-family: sans-serif;
    font-weight: 500;
}
#mappingClouds .bg-info h5{
    text-align: center;
}
/* Animated-Arrows*/
.animation-arrow {
    height: 100%;
    font-size: 1.8rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
.animation-arrow:before, .animation-arrow:after {
    content: "";
    position: absolute;
    left: 7rem;
    width: 2rem;
    height: 2rem;
    margin-left: -1rem;
    margin-top: -1rem;
    border: 4px solid #1220f6;/*#2398ff;*/
    border-left: none;
    border-bottom: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: arrows 1.5s infinite;
    animation: arrows 1.5s infinite;
}
.animation-arrow:before {
    top: 15rem;
}
.animation-arrow:after {
    top: 15rem;
    left: 10rem;
}
.animation-arrow.third-arrow:after {
    left: 13rem;
}
@-webkit-keyframes arrows {
    to {
        -webkit-transform: translateX(100%) rotate(45deg);
        transform: translateX(100%) rotate(45deg);
        opacity: 0;
    }
}
@keyframes arrows {
    to {
        -webkit-transform: translateX(100%) rotate(45deg);
        transform: translateX(100%) rotate(45deg);
        opacity: 0;
    }
}



/* progressBar Horizontal */
.progress-container {
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 70%;
}

.progress-line {
    background-color: rgb(229,233,235);
    height: 0.25em;
    position: relative;
    width: 15em;
    border: 4px;
}
/*.progress-bar {
    background-size: 15em 0.25em;
    height: 100%;
    position: relative;
    background-color: transparent !important;
    background-image: linear-gradient(to right, rgb(76,217,100), rgb(90,200,250), rgb(0,122,255), rgb(52,170,220), rgb(88,86,214), rgb(255,45,85));
    background-image: -o-linear-gradient(to right, rgb(76,217,100), rgb(90,200,250), rgb(0,122,255), rgb(52,170,220), rgb(88,86,214), rgb(255,45,85));
    background-image: -ms-linear-gradient(to right, rgb(76,217,100), rgb(90,200,250), rgb(0,122,255), rgb(52,170,220), rgb(88,86,214), rgb(255,45,85));
    background-image: -webkit-linear-gradient(to right, rgb(76,217,100), rgb(90,200,250), rgb(0,122,255), rgb(52,170,220), rgb(88,86,214), rgb(255,45,85));
    background-image: -moz-linear-gradient(to right, rgb(76,217,100), rgb(90,200,250), rgb(0,122,255), rgb(52,170,220), rgb(88,86,214), rgb(255,45,85));
    animation: cssload-width 4.35s cubic-bezier(0.45, 0, 1, 1) infinite;
    -o-animation: cssload-width 4.35s cubic-bezier(0.45, 0, 1, 1) infinite;
    -ms-animation: cssload-width 4.35s cubic-bezier(0.45, 0, 1, 1) infinite;
    -webkit-animation: cssload-width 4.35s cubic-bezier(0.45, 0, 1, 1) infinite;
    -moz-animation: cssload-width 4.35s cubic-bezier(0.45, 0, 1, 1) infinite;
}*/
.progress-shadow {
    height: 2em;
    position: absolute;
    top: 100%;
    width: 100%;
    transform: skew(45deg);
    -o-transform: skew(45deg);
    -ms-transform: skew(45deg);
    -webkit-transform: skew(45deg);
    -moz-transform: skew(45deg);
    transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    background-image: linear-gradient(to bottom, rgb(234,236,238), transparent);
    background-image: -o-linear-gradient(to bottom, rgb(234,236,238), transparent);
    background-image: -ms-linear-gradient(to bottom, rgb(234,236,238), transparent);
    background-image: -webkit-linear-gradient(to bottom, rgb(234,236,238), transparent);
    background-image: -moz-linear-gradient(to bottom, rgb(234,236,238), transparent);
}



@keyframes cssload-width {
    0%, 100% {
        transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-o-keyframes cssload-width {
    0%, 100% {
        -o-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-ms-keyframes cssload-width {
    0%, 100% {
        -ms-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes cssload-width {
    0%, 100% {
        -webkit-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-moz-keyframes cssload-width {
    0%, 100% {
        -moz-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
    }
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


/*Progress Horizontal-Balls*/

.cssload-container{
    display: block;
    margin:75px auto;
    width:150px;
    margin-top: 65%;
}

.cssload-loading i{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    background: rgb(0,179,213);
}
.cssload-loading i:first-child{
    opacity: 0;
    animation:cssload-loading-ani2 1.25s linear infinite;
    -o-animation:cssload-loading-ani2 1.25s linear infinite;
    -ms-animation:cssload-loading-ani2 1.25s linear infinite;
    -webkit-animation:cssload-loading-ani2 1.25s linear infinite;
    -moz-animation:cssload-loading-ani2 1.25s linear infinite;
    transform:translate(-30px);
    -o-transform:translate(-30px);
    -ms-transform:translate(-30px);
    -webkit-transform:translate(-30px);
    -moz-transform:translate(-30px);
}
.cssload-loading i:nth-child(2),
.cssload-loading i:nth-child(3){
    animation:cssload-loading-ani3 1.25s linear infinite;
    -o-animation:cssload-loading-ani3 1.25s linear infinite;
    -ms-animation:cssload-loading-ani3 1.25s linear infinite;
    -webkit-animation:cssload-loading-ani3 1.25s linear infinite;
    -moz-animation:cssload-loading-ani3 1.25s linear infinite;
}
.cssload-loading i:last-child{
    animation:cssload-loading-ani1 1.25s linear infinite;
    -o-animation:cssload-loading-ani1 1.25s linear infinite;
    -ms-animation:cssload-loading-ani1 1.25s linear infinite;
    -webkit-animation:cssload-loading-ani1 1.25s linear infinite;
    -moz-animation:cssload-loading-ani1 1.25s linear infinite;
}




@keyframes cssload-loading-ani1{
    100%{
        transform:translate(60px);
        opacity: 0;
    }
}

@-o-keyframes cssload-loading-ani1{
    100%{
        -o-transform:translate(60px);
        opacity: 0;
    }
}

@-ms-keyframes cssload-loading-ani1{
    100%{
        -ms-transform:translate(60px);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-loading-ani1{
    100%{
        -webkit-transform:translate(60px);
        opacity: 0;
    }
}

@-moz-keyframes cssload-loading-ani1{
    100%{
        -moz-transform:translate(60px);
        opacity: 0;
    }
}

@keyframes cssload-loading-ani2{
    100%{
        transform:translate(30px);
        opacity: 1;
    }
}

@-o-keyframes cssload-loading-ani2{
    100%{
        -o-transform:translate(30px);
        opacity: 1;
    }
}

@-ms-keyframes cssload-loading-ani2{
    100%{
        -ms-transform:translate(30px);
        opacity: 1;
    }
}

@-webkit-keyframes cssload-loading-ani2{
    100%{
        -webkit-transform:translate(30px);
        opacity: 1;
    }
}

@-moz-keyframes cssload-loading-ani2{
    100%{
        -moz-transform:translate(30px);
        opacity: 1;
    }
}

@keyframes cssload-loading-ani3{
    100%{
        transform:translate(30px);
    }
}

@-o-keyframes cssload-loading-ani3{
    100%{
        -o-transform:translate(30px);
    }
}

@-ms-keyframes cssload-loading-ani3{
    100%{
        -ms-transform:translate(30px);
    }
}

@-webkit-keyframes cssload-loading-ani3{
    100%{
        -webkit-transform:translate(30px);
    }
}

@-moz-keyframes cssload-loading-ani3{
    100%{
        -moz-transform:translate(30px);
    }
}


/* Loader - Line */
.loader-line {
    height: 6px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ccc;
    margin-top: 80%;
}
.loader-line:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 6px;
    background-color: #2980b9;
    animation: loading 5s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
.custom-search-input {
    display:flex;
    /*position:realtive;
    margin:5em auto;
    float:right;
    border:1px solid #f2f2f2;*/
}

.custom-search-input>input[type=text],
.custom-search-input>button {
    display:block;
    font:1.2em;
}

.custom-search-input>input[type=text] {
    flex:1;
    padding:0.6em;
    border:0.2em ;
	color:#1f2129;
}

.custom-search-input>button {
    padding:0.0em 0.8em;
    background-color:#bbb;
    color:white;
    border:none;
    height: 5vh;
}
.custom-search-input>button:hover {
    cursor:pointer;
}
/*
.pagination{
    padding: 30px 0;
}

.pagination ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination a{
    display: inline-block;
    padding: 10px 18px;
    color: #222;
    width: 34px;
    height: 36px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    text-decoration: none;
}
.p1 a.is-active{
    background-color: #428bca;
    border-radius: 100%;
    color: #fff;
}
*/
.forShow{
    border-bottom: 1px solid #e5e5e5;
    height: 40px;
	background:#f2f3ff;
}
.forDomainName,.forDomainNameMin{
    border-bottom: 1px solid #e5e5e5;
 /*   height: 40px;*/
}
/*table tr{
    border-bottom:1px solid #e5e5e5!important;
}*/
.forImage{ 
	width: 25px;
    height: 25px;
    border: 1px solid #e5e5e5;
    padding: 1%;
    background: #fcfcfc;
    border-radius: 15px;
    margin-right: 7px;
}
.fileActive{
    background: none;
}
.selectedClass{
    color: #bbb; 
}
.closeBtn{
    cursor: pointer;
}
.fa-exchange,.fa-pencil{
    cursor: pointer;
}
#mappingUsers .bg-info, #preview .bg-info{
    height: 40px;
}
#mappingUsers .custom-search-input>button {
    /*height: 4.9vh !important;*/
}
/*pagination*/
.pagination li.active.page a{
    color: #fff!important;
}
.page.active > a {
    background: #ccc !important;
}
.pagination.p1{
    text-align: center;
	background:#fff;
}
.pagination li.page a,.pagination ul li.first a,.pagination ul li.prev a,.pagination ul li.last a,.pagination ul li.next a{
    border: none!important;
    padding: 10px 18px!important;
    color: #222!important;
    width: 40px!important;
    height: 30px!important;
    line-height: 32px!important;
    padding: 0!important;
    text-align: center!important;
    border-radius: 100%!important;
}
.pagination ul li.first a,.pagination ul li.prev a,.pagination ul li.last a,.pagination ul li.next a{
    font-weight: 400;
    font-size: 1.2em;
}
.pagination ul li.first.disabled a,.pagination ul li.prev.disabled a,.pagination ul li.last.disabled a,.pagination ul li.next.disabled a{
    color: #ccc!important;
}
#mappedMigration th .cfFilter{
    background-image: url(../images/filter.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 60%;
    zoom:0.7;
    cursor: pointer;
}
.fa-exchange,.noPointer{
    /*background-image: url(../images/auto.png);
    width: 64px;
    height: 64px;
    zoom: 0.4;
    margin-left: -12px; */
    margin-top: -7px;
    border-radius: 0;
    cursor: pointer;
    border:1px solid #ffffff !important;
}
.fa-exchange:before {
    content: " " !important;
}
#clearBtn{
    cursor: pointer;
}

#mappedMigration .dropdown-menu.align{
    margin-left: 62%;
    border: 1px solid lightblue;
    border-radius: 0;
}
#mappedMigration.dropdown-submenu {
    position: relative;
}


#mappedMigration .dropdown {
    position: fixed !important;
    margin-left: 13%;
}
.moveWorksapceList.cloudRmvd{
    color: rgba(0,0,0,0.55);
}
.moveWorksapceList.cloudRmvd .fa-plus{
    cursor: not-allowed;
}


/*styling for mozilla */
@-moz-document url-prefix() {
    .custom-search-input>input[type=text] {
        min-width: 7.5em;
        margin-left: -6px;
        height: 33px;
    }
    /*  #mappingUsers .custom-search-input > button {
          height: 33px !important;
      }
      .fa-exchange{
          -moz-transform: scale(0.4);
          margin-top: -22px;
          margin-left: -24px;
      }*/

    th img#clearBtn{
        margin-left: 2px !important;
    }
    #mazThStyling{
        width: 43% !important;
    }
    #clearBtn{
        margin-left: 1px!important;
    }
    .ui-autocomplete.source{
        width: 166px !important;
        top: 7% !important;
        left: 38% !important;
        position: absolute !important;
    }
    .ui-autocomplete.mapping{
        width: 273px !important;
        top: 7% !important;
        left: 32% !important;
        position: absolute !important;
    }
	.ui-autocomplete.permissions{
        width: 273px !important;
        top: 7% !important;
        left: 32% !important;
        position: absolute !important;
    }
    .ui-autocomplete.destination,.ui-autocomplete.desti{
        width: 155px !important;
        top: 7% !important;
        left: 38% !important;
        position: absolute !important;
    }
}

.fa-refresh{
    cursor: pointer;
    border-radius: 0;
    border: 1px solid #fff !important;
    height: 5vh;
    margin-top: -8px;
    font-family: sans-serif !important;
}
.fa-refresh:before{
    content:'' !important;
}
/* options screen */
.mgrtnOptionsCloudImg{
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
}
.bold{
    font-weight: 600;
}
#jobDetails td{
    font-size: 12px;
        padding: 0% 2%;
    vertical-align: middle!important;
}
#jobDetailsNEW td{
    font-size: 12px;
    /* padding: 2.55%;*/
}
#jobDetails tr td:first-child{
    width: 28%;
}
#jobDetails tr td:nth-child(2){
    width: 10%;
}
#jobDetails td input, #jobOptions td input{
    border-radius: 0;
}
#jobOptions td{
    font-size: 12px;
    padding: 2%;
}
#jobOptions tr td:first-child{
    width: 25%;
}
#jobOptions tr td:nth-child(2){
    width: 8%;
}
#jobNewOptions td{
    font-size: 12px;
        padding: 0% 2%;
    vertical-align: middle;
}
#jobNewOptions tr td:first-child{
    width: 2%;
}
#jobNewOptions tr td:nth-child(2){
    width: 8%;
}
#appendJob .STARTED{
    color:#000;
}
#appendJob .COMPLETED{
    color:#008000;
}
#appendJob .MULTIUSERTRAIL_COMPLETED{
    color:green;
}
#appendSyncJob .STARTED{
    color:#000;
}
#appendSyncJob .COMPLETED{
    color:#008000;
}

/* New Pagination */


.paginationDiv{
    display:flex;
    font-size:12px;
    color: #666;
    height: 40px;
   /* margin: 12px 0px;*/
    justify-content: center;
}
.paginationDiv select.input-sm{
    width: 35px;
    padding: 0;
    border-radius: 0;
    height: 17px;
    font-size: 9px;
}  
.paginationDiv .show{
    display:flex !important;
}
.paginationDiv .show label{
    width: 53px;
    margin: 0;
    font-weight: normal;
    font-size: 9px;
}
.paginationDiv .paginationCF span{
    padding: 0 3% 0 2%;
    font-size: 9px;
}
.paginationDiv .paginationCF .fa{
    cursor: pointer;
    background: #f9f9f9;
    padding: 3px;
    border: 1px solid #ccc;
    height: 18px;
    width: 20px;
}
.paginationDiv .paginationCF div{
    display:flex !important;
}
.paginationDiv .paginationCF input{
    width: 25px;
    border-radius: 0;
    padding: 0px;
    height: 18px;
	font-size:9px;
}



/* Preview Screen */

#preview .table>tbody>tr>td{
    padding-top: 1.1rem;
	font-size:12px;
}

/* Mapping Screen */
/*#mappingUsers img{
    border-radius: 50%;
}*/





 
/* Options Screen Check Styling*/
#jobDetails .ClickedEditJob .fa-check,#jobDetails .ClickedEditPath .fa-check{
    color: white !important;
    background: #428BCA;
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #286090;
    text-align: center;
}
#jobDetails .ClickedEditJob .fa-times,#jobDetails .ClickedEditPath .fa-times{
    color: #666;
    background: #fff;
    margin-right: 5px;
    cursor: pointer;
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
    text-align: center;
}



/* Preview Window Arrow */

.arrowHeader .line-arrow.right {
    border-top: 1px solid #286090;
    border-right: 1px solid #286090;
    transform: rotate(54deg) skew(20deg);
    font-size: 2px;
    width: 4em;
    height: 4em;
    margin-left: -7px;
    padding: 0;
    text-decoration: none;
}
.arrowHeader div{
    border-top: 1px solid #286090;
    width: 90px;
    margin-top: 3px;
}
.arrowHeader{
    display: flex;
}


/* TableAppend */

#dev-table tr th{
    padding: 14px;
    background: #f2f2f2;
    border-bottom: 1px solid #999;
    /*text-align: center;*/
}

#dev-table tbody tr:nth-child(even) td{
    background-color: #fff !important;
}
#dev-table tbody td{
    /*text-align: center;*/
}

/*For Auto complete*/
.autoCompleteScroll{
   /* padding: 6px;
    border-bottom: 1px solid #ccc;*/
    cursor: pointer;
    width: 400px;
}
.autoCompleteScroll:hover{
    background-color: #f2f2f2;
}

.ui-autocomplete.source{
	padding-left: 0;
    list-style: none;
    width: 180px!important;
    top: 10%;
    left: 42%;
    position: absolute !important;
    max-height: 180px !important;
    overflow-y: auto !important;
    border: 1px solid #bbb !important;
    background-color: white !important;
}

.ui-autocomplete.mapping{
	padding-left: 0;
    list-style: none;
    width: 284.922px ;
    top: 10%;
    left: 34%;
    position: absolute !important;
    max-height: 180px !important;
    overflow-y: auto !important;
    border: 1px solid #bbb !important;
    background-color: white !important;
}
.ui-autocomplete.permissions{
	padding-left: 0;
    list-style: none;
    width: 284.922px ;
    top: 10%;
    left: 39%;
    position: absolute !important;
    max-height: 180px !important;
    overflow-y: auto !important;
    border: 1px solid #bbb !important;
    background-color: white !important;
z-index:1; 
}
.ui-autocomplete.destination{
	padding-left: 0;
    list-style: none;
    width: 180px!important;
    top: 10%;
    left: 31%;
    position: absolute !important;
    max-height: 180px !important;
    overflow-y: auto !important;
    border: 1px solid #bbb !important;
    background-color: white !important;
}
.ui-autocomplete.desti{
	padding-left: 0;
    list-style: none;
    width: 265px!important;
    top: 100%;
    left: 9%;
    position: absolute !important;
    max-height: 180px !important;
    overflow-y: auto !important;
    background-color: white !important;
	z-index: 1;
	box-shadow: 0px 0px 10px #0000001f; 
}

.ui-autocomplete.desti> .autoCompleteScroll{
	height:5vh;
	padding: 5% 1%;
}
.fldr_parent1 .usr-folder1:last-child
{
    margin-bottom: 0;
}
.fldr_parent1
{
    padding-bottom: 0;
}
.LVSITE:before {
    content: "\e64a";
}
.LVSITE {
    font-family: "cloudfuze" !important;
    font-style: normal;
    font-size: 16px;
}
/*csv loading*/

/*styling for folder display next and previous*/
#nextPrevFolderLeft{
    cursor: pointer;
    background: #f9f9f9;
    padding: 3px;
    border: 1px solid #ccc;
    height: 20px;
    width: 20px;
    margin-left: 84%;
}
#nextPrevFolderRight{
    cursor: pointer;
    background: #f9f9f9;
    padding: 3px;
    border: 1px solid #ccc;
    height: 20px;
    width: 20px;
}
.disabledpagination .fa-chevron-left:before, .disabledpagination .fa-chevron-right:before
{
    opacity: 0.5;
}
.disabledpagination .fa-chevron-left, .disabledpagination .fa-chevron-right
{
    pointer-events: none;
}
#mappingUsers .message-widget.contact-widget span {
    font-size: 12px !important;
    font-weight: 500;
}
#mappingUsers .message-widget.contact-widget .fa
{
    font-size: medium !important;
}
#mappingUsers .message-widget.contact-widget .fa-plus:before, #mappingUsers .message-widget.contact-widget .fa-minus:before
{
    font-size: 11px;
}
.tooltip-inner {
    word-wrap: break-word;
    font-size: 14px;

}
.csvPath + .tooltip > .tooltip-inner {
    background-color: #286090;
    max-width: 400px;
}
.manualPath + .tooltip > .tooltip-inner {
    background-color: #286090;
    max-width: 400px;
}
.csvFolderPath + .tooltip > .tooltip-inner {
    background-color: #286090;
    max-width: 400px;
}
.progress{
    text-align: center;
    font-weight:bold;
}
#help + .tooltip > .tooltip-inner {
    background-color: #286090;
    max-width: 400px;
}

.noPointer{
    cursor:not-allowed;
    opacity:0.5;

}
.pathException + .tooltip > .tooltip-inner {
    background-color: lightgray;
    max-width: 400px;
    color:red;
}
#additionalEmails ul {
    list-style-type:none;
}

li.multipleInput-email {
    font-size: 13px;
    float:left;
    padding:2px 5px;
    color: gray;
    background: #fff;
    margin-top: 0;
    border-radius: 10px;
    margin: 6px 2px 6px 6px;
    margin-right: 2%;
    border:1px solid lightgray;
}

.multipleInput-close {
    width:16px;
    height:16px;
    display:block;
    float:right;
    margin: 0px 0px 0px 8px;
    color: gray;
    font-size: 16px;
}
/*files*/
#fileTypeExc ul {
    list-style-type:none;
}

li.multipleInput-files {
    font-size: 13px;
    float:left;
    padding:2px 5px;
    color: gray;
    background: #fff;
    border-radius: 10px;
    margin: 5px 2px 6px 6px;
    margin-right: 2%;
    border:1px solid lightgray;
}

.multipleInput-closefile {
    width:16px;
    height:16px;
    display:block;
    float:right;
    margin: 0 0 0 8px;
    color: gray;
    font-size: 16px;
}

body:not(.user-is-tabbing) #fileTypeExc:focus {
    outline: none;
}
