#mulUsrPayments h1{
    color:#2c3e50;
}
#mulUsrPayments h4 a{
    color:#ff9715;
    text-decoration:none;
}
/*#mulUsrPayments h4 a:hover{
    color:#2c3e50;
}*/
#mulUsrPayments .pro {
    padding: 0;
    float: left;
    margin:20px 3%;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAIfP378zwjjgzj8/PyMYAEYB8RmROaABAAVMg/XkcvroQAAAABJRU5ErkJggg==   ) repeat;
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
    border:1px solid #1d6391;
    /*border-bottom:10px solid #1d6391;*/
}
#mulUsrPayments .pricing-table-signup-pro {
    margin-top: 25px;
    padding-bottom: 10px;
}
#mulUsrPayments .pricing-table strong{
    font-weight: 700;
    color: #3d3d3d;
}
#mulUsrPayments .pricing-table-header-tiny {
    padding: 5px 0 5px 0;
    background: #16a085;
    border-bottom:10px solid #14937a;
}
#mulUsrPayments .pricing-table-header-small {
    padding: 5px 0 5px 0;
    background: #f39c12;
    border-bottom:10px solid #cd8109;

}
#mulUsrPayments .pricing-table-header-medium {
    padding: 5px 0 5px 0;
    background: #c0392b;
    border-bottom:10px solid #a12f23;
}
#mulUsrPayments .pricing-table-header-pro {
    padding: 5px 0 5px 0;
    background: #2980b9;
    /*border-bottom:10px solid #1d6391;*/
    text-align: center;
}
#mulUsrPayments .pricing-table-header-tiny h2,#mulUsrPayments  .pricing-table-header-small h2,#mulUsrPayments  .pricing-table-header-medium h2, #mulUsrPayments .pricing-table-header-pro h2 {  font-weight: 700; color:#FFF; }
#mulUsrPayments .pricing-table-header-tiny h3, #mulUsrPayments .pricing-table-header-small h3, #mulUsrPayments .pricing-table-header-medium h3, #mulUsrPayments .pricing-table-header-pro h3 { font-weight: 500; color:#FFF;  }
#mulUsrPayments .pricing-table-header-pro h4 { color:#FFF;  }
#mulUsrPayments .pricing-table-text {
    margin: 15px 30px 0 30px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    color: #888;
}
#mulUsrPayments .pricing-table-features {
    margin: 15px 10px 0 10px;
    padding: 0 10px 15px 10px;
    border-bottom: 1px dashed #888;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: #000;
}
#mulUsrPayments .pricing-table-signup-pro {
    margin-top: 25px;
    padding-bottom: 10px;
    text-align: center;
}

#mulUsrPayments .pricing-table-signup-pro a {
    display: inline-block;
    width:40%;
    height: 40px;
    background: #2980b9;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

/*#mulUsrPayments .pricing-table-signup-pro a:hover {
    text-decoration: none;
    background-color:#1d6391;
    color: #fff;
}*/

#mulUsrPayments .pricing-table-signup-pro a:active {
    background-color:#1d6391;
    color: #fff;

}

#mulUsrPayments .top {margin-top:20px;}

#mulUsrPayments .space {margin:10px;}
/*#mulUsrPayments .pro:hover{
    border:1px solid #ccc;
    background: #f2f2f2;
}*/
#mulUsrPayments .planActive{
    background :rgba(41, 128, 185, 0.2) !important;
}
/*#mulUsrPayments .planActive:hover{
    border:1px solid #1d6391;
}*/
#mulUsrPayments .planActive .pricing-table-signup-pro a{
    background :rgba(41, 128, 185, 0.7) !important;
}
#mulUsrPayments #cpnVal{
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#mulUsrPayments .mgrtnMsg{
    margin-top:2%;
}
#mulUsrPayments .border{
    border:1px solid #ccc;
}
#mulUsrPayments #cpnVal{
    /*width:68%;*/
}
#mulUsrPayments #aplyCpn{
    margin-left:3%;
}
#mulUsrPayments .prcngDtls tr td,.prcngDtls tr th{
    border:none !important;
    border-bottom: 1px solid #bbb !important;
}
#mulUsrPayments .haveCpn{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 7%;
}

/*.prcngDtls{
    margin-top:-1%;
}*/

#mulUsrPay:hover
{
    cursor: pointer;
}
#mulusrpmnt-popupbox .table {
    width: 75%;
    margin-bottom: 20px;
}
#mulusrpmnt-overlay
{
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 0.5;
    display: none;
}
#mulusrpmnt-popup
{
    position: absolute;
    top: 22%;
    left: 20%;
    background: #fff;
    width: 70%;
    z-index: 999;
    display: none;
}
#mulusrpmnt-popup-content
{
    padding: 50px 40px;
    display: flex;
}
#mulusrpmnt-popup #pmntpopup-close
{
    position: relative;
    right: 5px;
}
#mulusrpmnt-popup .boxPricingSettings
{
    width: 30%;
    border: 1px solid rgb(50, 118, 177);
    float: left;
    text-align: center;
    margin-right: 5%;
}
#mulusrpmnt-popup .boxPricingSettings:last-child
{
    margin-right: 0;
}
#mulusrpmnt-popup .head
{
    background: #337ab7;
    color: #fff;
    padding: 20px 0;
    font-size: 18px;
}
#mulusrpmnt-popup .price
{
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}
#mulusrpmnt-popup .users
{
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}
#mulusrpmnt-popup .btn-box
{
    background-color: #eee;
    padding: 10px 0;
}
#mulusrpmnt-popup .btn
{
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 25px;
}
#mulusrpmnt-popupbox
{
    display: block;
    background-color: #fff;
    z-index: 999;
    width: 40%;
    position: absolute;
    top: 25%;
    left: 30%;
    border-radius: 5px;
}
#mulusrpmnt-popupbox .tab-header
{
    background: #2bb5d8;
    color: #fff;
    padding: 5px 5px 5px 10px;
    border-radius: 5px 5px 0 0;
    font-size: 18px;
    font-weight: bold;
}
#mulusrpmnt-popupbox .tab-header span
{
    position: relative;
    left: 10px;
    top: -5px;
}
#mulusrpmnt-popupbox .tab-content
{
    margin: 15px;
}
#mulusrpmnt-popupbox .button
{
    margin-right: 20px;
    margin-bottom: 20px;
}
