.prod-ser-pricing{
    margin: 0 -15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    background: #fff;
    text-align: center;
    position: relative;
    transition: all 0.4s ease 0s;
    border: 1px solid #ccc;
}
.prod-ser-pricing:hover{
    background: #f5f4f2;
}
.prod-ser-pricing .prod-ser-pricing-header{
    background-color: #D1E9E9;
    color: #989a8f;
    padding: 15px 0 50px 0;
    position: relative;
    transition: all 0.5s ease 0s;
}
.prod-ser-pricing:hover .prod-ser-pricing-header{
    background: #5BC0DE;
    color: #fff;
}
.prod-ser-pricing .heading{
    font-size: 20px;
    margin: 0;
    text-transform: uppercase;
}
.prod-ser-pricing .price-value{
    width: 115px;
    height: 115px;
    line-height: 115px;
    border-radius: 50%;
    background: #888888;/*#D96C00;*/
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 50px;
    left: 28%;
    transition: all 0.5s ease-in-out 0s;
}
.prod-ser-pricing:hover .price-value{
    background:#585858; /*#D9534F;*/
}
.prod-ser-pricing .pricingContent ul{
    padding: 0;
    list-style: none;
    margin-top: 80px;
}
.prod-ser-pricing .pricingContent ul li{
    color: #989a8f;
    padding: 5px 0;
}
.prod-ser-pricing .prod-ser-pricing-sign-up{
    padding: 15px 0;
}
.prod-ser-pricing .btn-buy{
    width: 50%;
    border-radius: 5px;
    width:auto;
    border: 1px solid #989a8f;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
    transition: all 0.5s ease 0s;
    text-decoration: none;
}
.prod-ser-pricing .btn-more{
    width: 50%;
    border-radius: 5px;
    width:auto;
    border: 1px solid #989a8f;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    transition: all 0.5s ease 0s;
    text-decoration: none;
}
.prod-ser-pricing:hover .btn-buy{
    background: #8A211E;
    color: #fff;
    border: 1px solid #5a5d8a;
}
.prod-ser-pricing:hover .btn-more{
    background: #1F7E9A;
    color: #fff;
    border: 1px solid #5a5d8a;
}
.inputStyle{
    padding:8px;
    display:block;
    border:1px solid #ccc;
    width:100%;
    margin: 20px 0px 5px 0px;
}
.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled {
    cursor: not-allowed;
}
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
    background-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #337ab7; }

input[type="radio"].styled:checked + label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
input[type="radio"] .styled:checked + label::before {
    color: #fff;
}
input[type="radio"] .styled:checked + label::after {
    color: #fff;
}

@media screen and (max-width:990px){
    .prod-ser-pricing{ margin-bottom: 30px; }

    .prod-ser-pricing .price-value{ left:40%; }
}
@media screen and (max-width:767px){
    .prod-ser-pricing{margin: 0 0 30px;}

    .prod-ser-pricing .price-value{ left:45%; }
}
@media screen and (max-width:480px){
    .prod-ser-pricing .price-value{ left:42%; }
}
@media screen and (max-width:360px){
    .prod-ser-pricing .price-value{ left:38%; }
}


/*...........Ribbion..............*/
.corner-ribbon > div > div {
    background : transparent;
    height     : 200px;
    width      : 200px;
    position   : absolute;
    top        : -10px;
    left       : 10px;
    overflow   : hidden;
    content    : hi;

}

/* ----- Top Curl ---------------------------------------*/
.corner-ribbon > div > div:before {
    content               : "";
    display               : block;
    -webkit-border-radius : 10px 10px 0px 0px;
    border-radius         : 10px 10px 0px 0px;
    width                 : 50px;
    height                : 10px;
    position              : absolute;
    right                 : 86px;

    background: rgb(0,138,59); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzAwOGEzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iIzBmMzMwYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(0,138,59,1) 1%, rgba(15,51,10,1) 45%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(0,138,59,1)), color-stop(45%,rgba(15,51,10,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,138,59,1) 1%,rgba(15,51,10,1) 45%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,138,59,1) 1%,rgba(15,51,10,1) 45%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,138,59,1) 1%,rgba(15,51,10,1) 45%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,138,59,1) 1%,rgba(15,51,10,1) 45%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008a3b', endColorstr='#0f330a',GradientType=1 ); /* IE6-8 */

}

/* ----- Right Curl ---------------------------------------*/
.corner-ribbon > div > div:after {
    content               : "";
    display               : block;
    -webkit-border-radius : 0px 10px 10px 0px;
    border-radius         : 0px 10px 10px 0px;
    width                 : 10px;
    height                : 50px;
    position              : absolute;
    right                 : 0px;
    top                   : 85px;

    background: rgb(15,51,10); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1NSUiIHN0b3AtY29sb3I9IiMwZjMzMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiMwMDhhM2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(15,51,10,1) 55%, rgba(0,138,59,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(55%,rgba(15,51,10,1)), color-stop(99%,rgba(0,138,59,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(15,51,10,1) 55%,rgba(0,138,59,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(15,51,10,1) 55%,rgba(0,138,59,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(15,51,10,1) 55%,rgba(0,138,59,1) 99%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(15,51,10,1) 55%,rgba(0,138,59,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f330a', endColorstr='#008a3b',GradientType=0 ); /* IE6-8 */


}

/* ----- Ribbon ---------------------------------------*/
.corner-ribbon > div > div > div {
    width              : 200px;
    height             : 40px;
    position           : relative;
    top                : 30px;
    right              : -50px;
    z-index            : 1;
    overflow           : hidden;
    transform          :rotate(45deg);
    -ms-transform      :rotate(45deg); /* IE 9 */
    -moz-transform     :rotate(45deg); /* Firefox */
    -webkit-transform  :rotate(45deg); /* Safari and Chrome */
    -o-transform       :rotate(45deg); /* Opera */
    box-shadow         : inset 0px 0px 0px 3px rgb(0,114,45),inset 0px 0px 0px 4px rgba(0,0,0,0.5),inset 0px 0px 0px 5px rgba(255,255,255,0.4), 0px 21px 5px -18px rgba(0,0,0,0.8);
    -webkit-box-shadow : inset 0px 0px 0px 3px rgb(0,114,45),inset 0px 0px 0px 4px rgba(0,0,0,0.5),inset 0px 0px 0px 5px rgba(255,255,255,0.4), 0px 21px 5px -18px rgba(0,0,0,0.8);

    background: rgb(0,114,45); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzIyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzAwOGEzYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDU2MWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(0,114,45,1) 0%, rgba(0,138,59,1) 51%, rgba(0,86,28,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,114,45,1)), color-stop(51%,rgba(0,138,59,1)), color-stop(100%,rgba(0,86,28,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(0,114,45,1) 0%,rgba(0,138,59,1) 51%,rgba(0,86,28,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(0,114,45,1) 0%,rgba(0,138,59,1) 51%,rgba(0,86,28,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(0,114,45,1) 0%,rgba(0,138,59,1) 51%,rgba(0,86,28,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(0,114,45,1) 0%,rgba(0,138,59,1) 51%,rgba(0,86,28,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00722d', endColorstr='#00561c',GradientType=1 ); /* IE6-8 */


}

/* ----- Top Glare ---------------------------------------*/
.corner-ribbon > div > div > div:before {
    content           : "";
    display           : block;
    height            : 72px;
    width             : 13px;
    position          : relative;
    top               : -13px;
    left              : 27px;
    transform         : rotate(45deg);
    -ms-transform     : rotate(45deg);
    -moz-transform    : rotate(45deg);
    -webkit-transform : rotate(45deg);
    -o-transform      : rotate(45deg);

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 1%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 */

}

/* ----- Right Clear ---------------------------------------*/
.corner-ribbon > div > div > div:after {
    content           : "";
    display           : block;
    height            : 72px;
    width             : 13px;
    position          : relative;
    bottom            : 90px;
    left              : 154px;
    transform         : rotate(45deg);
    -ms-transform     : rotate(45deg);
    -moz-transform    : rotate(45deg);
    -webkit-transform : rotate(-45deg);
    -o-transform      : rotate(45deg);

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 1%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 1%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-8 */

}
.corner-ribbon-text{
    -ms-transform     : rotate(45deg);
    -moz-transform    : rotate(45deg);
    -webkit-transform : rotate(45deg);
    -o-transform      : rotate(45deg);
    transform: rotate(45deg);
    margin-top: 2%;
    position: absolute;
    margin-left: 38%;
    z-index: 1;
    color: #fff;
    font-size: 18px;
}
.corner-ribbon > div > div{
    margin-left: 53%;
    margin-top: 8%;
    zoom: 83%;
}
@-moz-document url-prefix() {
    .corner-ribbon > div > div{
        margin-left: 52%;
        margin-top: 7%;
        z-index: 1;
        -moz-transform: scale(0.83,0.83);
    }
}