#putButton{
	text-decoration: none;
	color: white;
	display: inline-block;
	width: 50px;
	font-size: 1.1em;
	text-align: center;
	background-color: #2BC556;
	border-radius:10px/50%;
 }
 #deleteButton{
	text-decoration: none;
	color: white;
	display: inline-block;
	width: 50px;
	font-size: 1.1em;
	text-align: center;
	background-color: #BB2205;
	border-radius:10px/50%;
 }
 #updateButton{
	text-decoration: none;
	color: white;
	display: inline-block;
	width: 50px;
	font-size: 1.1em;
	text-align: center;
	background-color: #0597BB;
	border-radius:10px/50%;
 }
 #getButton {
     background: url(../img/FinalSprite.png) -46px -415px;
     background-repeat: no-repeat;
     height: 19px;
     margin-top: 10px;
     margin: 0 auto;
     text-decoration: none;
     color: white;
     display: inline-block;
     width: 50px;
 }
	#showMore {
        float: right;
        background-color: #024a5b;
        color: #ffffff;
        font-weight: 700;
        font-size: 14px;
    }
	#showMoreAudit {
        float: right;
        background-color: #024a5b;
        color: #ffffff;
        font-weight: 700;
        font-size: 14px;
    }
	 tr td,th td {
         border: 0;
     }
    .tab-header {
        text-shadow: none;
    }
    .actlSuHs{
        display: block;
        float:left;
        text-align: center;
        border-right: 1px solid #ddd;
        height: 100%;
    }
    .actlSH{
        background: #e5e5e5;
        display: block;
        height: 30px;
        width: 100%;
        background-image: -webkit-linear-gradient(top, #ebebeb, #e5e5e5);
        background-image: -moz-linear-gradient(top, #ebebeb, #e5e5e5);
        background-image: linear-gradient(top, #ebebeb, #e5e5e5);
        text-shadow: 0 1px rgba(255, 255, 255, 0.5);
        color: #898989;
        padding: 7px;
        font-weight: bold;
    }
    .aclsusinh {
        height: 30px;
        width: 100%;
    }
.aclsusinh:nth-child(even){
    border-top: 1px solid #ddd;
    background: #fff;
}
#acclvlsum{
    max-height: 270px;
    overflow-y:auto;
}