#srcUsrSrch input,#dstUsrSrch input {
    outline: none;
}
#srcUsrSrch input[type=search],#dstUsrSrch input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
#srcUsrSrch input::-webkit-search-decoration,
#srcUsrSrch input::-webkit-search-cancel-button,
#dstUsrSrch input::-webkit-search-decoration,
#dstUsrSrch input::-webkit-search-cancel-button {
    display: none;
}


#srcUsrSrch input[type=search],#dstUsrSrch input[type=search] {
    background: #f2f2f2 url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
#srcUsrSrch input[type=search]:focus,#dstUsrSrch input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #2bb5d8;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}


#srcUsrSrch input:-moz-placeholder,#dstUsrSrch input:-moz-placeholder {
    color: #999;
}
#srcUsrSrch input::-webkit-input-placeholder,#dstUsrSrch input::-webkit-input-placeholder {
    color: #999;
}

#srcUsrSrch,#dstUsrSrch{
    height: 30px;
    margin: 0;
}
#srcUsrSrch input[type=search],#dstUsrSrch input[type=search] {
    width: 15px;
    padding-left: 10px;
    height:8px;
    color: transparent;
    cursor: pointer;
    margin-left: 66%;
}
#srcUsrSrch input[type=search]:hover,#dstUsrSrch input[type=search]:hover {
    background-color: #fff;
}
#srcUsrSrch input[type=search]:focus,#dstUsrSrch input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
    margin-left: 16%;
}
#srcUsrSrch input:-moz-placeholder,#dstUsrSrch input:-moz-placeholder {
    color: transparent;
}
#srcUsrSrch input::-webkit-input-placeholder,#dstUsrSrch input::-webkit-input-placeholder {
    color: transparent;
}