
  
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-link {
  display: block;
  padding: 0.5rem 1rem; }
  .nav-link:hover, .nav-link:focus {
    text-decoration: none; }
  .nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default; }

.nav-tabs {
  border-bottom: 1px solid #dee2e6; }
  .nav-tabs .nav-item {
    margin-bottom: -1px; }
  .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
      border-color: #e9ecef #e9ecef #dee2e6; }
    .nav-tabs .nav-link.disabled {
      color: #6c757d;
      background-color: transparent;
      border-color: transparent; }
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff; }
  .nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.nav-pills .nav-link {
  border-radius: 0.25rem; }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #007bff; }

.nav-fill .nav-item {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center; }

.nav-justified .nav-item {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center; }

.tab-content > .tab-pane {
  display: none; }

.tab-content > .active {
  display: block; }

.navbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem; }
  .navbar > .container,
  .navbar > .container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap; }
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none; }

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; }
  .navbar-nav .dropdown-menu {
    position: static;
    float: none; }

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem; }
  .navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none; }

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%; }

@media (max-width: 575.98px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 576px) {
  .navbar-expand-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .navbar-expand-sm .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .navbar-expand-sm .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto; }
    .navbar-expand-sm .navbar-toggler {
      display: none; } }

@media (max-width: 767.98px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 768px) {
  .navbar-expand-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .navbar-expand-md .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .navbar-expand-md .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto; }
    .navbar-expand-md .navbar-toggler {
      display: none; } }



@media (min-width: 992px) {
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .navbar-expand-lg .navbar-nav {
     /* -webkit-box-orient: horizontal;*/
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .navbar-expand-lg .navbar-nav .dropdown-menu{
        position: absolute; }
      .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .navbar-expand-lg .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
	        display: -webkit-box !important;
      flex-basis: auto; }
    .navbar-expand-lg .navbar-toggler {
      display: none; } }

@media (max-width: 1199.98px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .navbar-expand-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .navbar-expand-xl .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .navbar-expand-xl > .container,
    .navbar-expand-xl > .container-fluid {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .navbar-expand-xl .navbar-collapse {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto; }
    .navbar-expand-xl .navbar-toggler {
      display: none; } }

.navbar-expand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .navbar-expand > .container,
  .navbar-expand > .container-fluid {
    padding-right: 0;
    padding-left: 0; }
  .navbar-expand .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .navbar-expand .navbar-nav .dropdown-menu {
      position: absolute; }
    .navbar-expand .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem; }
  .navbar-expand > .container,
  .navbar-expand > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .navbar-expand .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto; }
  .navbar-expand .navbar-toggler {
    display: none; }

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9); }
  .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9); }

.navbar-light .navbar-nav .nav-link {
  color: #707070; }
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7); }
  .navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3); }

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #1F2129;
  font-weight: 600;}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1); }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5); }
  .navbar-light .navbar-text a {
    color: rgba(0, 0, 0, 0.9); }
    .navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
      color: rgba(0, 0, 0, 0.9); }

.navbar-dark .navbar-brand {
  color: #fff; }
  .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #fff; }

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5); }
  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75); }
  .navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25); }

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff; }

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1); }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.5); }
  .navbar-dark .navbar-text a {
    color: #fff; }
    .navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
      color: #fff; }

.list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
padding-bottom: 10%;
 }
#moveDestination .list-group{
	border:1px solid #e5e5e5;
}
.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit; }
  .list-group-item-action:hover, .list-group-item-action:focus {
    z-index: 1;
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa; }
  .list-group-item-action:active {
    color: #212529;
    background-color: #e9ecef; }

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125); }
  .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem; }
  .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem; }
  .list-group-item.disabled, .list-group-item:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff; }
  .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff; }

.list-group-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }
  .list-group-horizontal .list-group-item {
    margin-right: -1px;
    margin-bottom: 0; }
    .list-group-horizontal .list-group-item:first-child {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      border-top-right-radius: 0; }
    .list-group-horizontal .list-group-item:last-child {
      margin-right: 0;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0; }

@media (min-width: 576px) {
  .list-group-horizontal-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .list-group-horizontal-sm .list-group-item {
      margin-right: -1px;
      margin-bottom: 0; }
      .list-group-horizontal-sm .list-group-item:first-child {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0; }
      .list-group-horizontal-sm .list-group-item:last-child {
        margin-right: 0;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0; } }

@media (min-width: 768px) {
  .list-group-horizontal-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .list-group-horizontal-md .list-group-item {
      margin-right: -1px;
      margin-bottom: 0; }
      .list-group-horizontal-md .list-group-item:first-child {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0; }
      .list-group-horizontal-md .list-group-item:last-child {
        margin-right: 0;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0; } }

@media (min-width: 992px) {
  .list-group-horizontal-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .list-group-horizontal-lg .list-group-item {
      margin-right: -1px;
      margin-bottom: 0; }
      .list-group-horizontal-lg .list-group-item:first-child {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0; }
      .list-group-horizontal-lg .list-group-item:last-child {
        margin-right: 0;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0; } }

@media (min-width: 1200px) {
  .list-group-horizontal-xl {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    .list-group-horizontal-xl .list-group-item {
      margin-right: -1px;
      margin-bottom: 0; }
      .list-group-horizontal-xl .list-group-item:first-child {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        border-top-right-radius: 0; }
      .list-group-horizontal-xl .list-group-item:last-child {
        margin-right: 0;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0; } }

.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0; }
  .list-group-flush .list-group-item:last-child {
    margin-bottom: -1px; }

.list-group-flush:first-child .list-group-item:first-child {
  border-top: 0; }

.list-group-flush:last-child .list-group-item:last-child {
  margin-bottom: 0;
  border-bottom: 0; }

.list-group-item-primary {
  color: #004085;
  background-color: #b8daff; }
  .list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #004085;
    background-color: #9fcdff; }
  .list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #004085;
    border-color: #004085; }

.list-group-item-secondary {
  color: #383d41;
  background-color: #d6d8db; }
  .list-group-item-secondary.list-group-item-action:hover, .list-group-item-secondary.list-group-item-action:focus {
    color: #383d41;
    background-color: #c8cbcf; }
  .list-group-item-secondary.list-group-item-action.active {
    color: #fff;
    background-color: #383d41;
    border-color: #383d41; }

.list-group-item-success {
  color: #155724;
  background-color: #c3e6cb; }
  .list-group-item-success.list-group-item-action:hover, .list-group-item-success.list-group-item-action:focus {
    color: #155724;
    background-color: #b1dfbb; }
  .list-group-item-success.list-group-item-action.active {
    color: #fff;
    background-color: #155724;
    border-color: #155724; }

.list-group-item-info {
  color: #0c5460;
  background-color: #bee5eb; }
  .list-group-item-info.list-group-item-action:hover, .list-group-item-info.list-group-item-action:focus {
    color: #0c5460;
    background-color: #abdde5; }
  .list-group-item-info.list-group-item-action.active {
    color: #fff;
    background-color: #0c5460;
    border-color: #0c5460; }

.list-group-item-warning {
  color: #856404;
  background-color: #ffeeba; }
  .list-group-item-warning.list-group-item-action:hover, .list-group-item-warning.list-group-item-action:focus {
    color: #856404;
    background-color: #ffe8a1; }
  .list-group-item-warning.list-group-item-action.active {
    color: #fff;
    background-color: #856404;
    border-color: #856404; }

.list-group-item-danger {
  color: #721c24;
  background-color: #f5c6cb; }
  .list-group-item-danger.list-group-item-action:hover, .list-group-item-danger.list-group-item-action:focus {
    color: #721c24;
    background-color: #f1b0b7; }
  .list-group-item-danger.list-group-item-action.active {
    color: #fff;
    background-color: #721c24;
    border-color: #721c24; }

.list-group-item-light {
  color: #818182;
  background-color: #fdfdfe; }
  .list-group-item-light.list-group-item-action:hover, .list-group-item-light.list-group-item-action:focus {
    color: #818182;
    background-color: #ececf6; }
  .list-group-item-light.list-group-item-action.active {
    color: #fff;
    background-color: #818182;
    border-color: #818182; }

.list-group-item-dark {
  color: #1b1e21;
  background-color: #c6c8ca; }
  .list-group-item-dark.list-group-item-action:hover, .list-group-item-dark.list-group-item-action:focus {
    color: #1b1e21;
    background-color: #b9bbbe; }
  .list-group-item-dark.list-group-item-action.active {
    color: #fff;
    background-color: #1b1e21;
    border-color: #1b1e21; }

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5; }
  .close:hover {
    color: #000;
    text-decoration: none; }
  .close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
    opacity: .75; }

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
appearance: none; }

a.close.disabled {
  pointer-events: none; }


.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0; }
  .tooltip.show {
    opacity: 0.9; }
  .tooltip .arrow {
    position: absolute;
    display: block;
    width: 0.8rem;
    height: 0.4rem; }
    .tooltip .arrow::before {
      position: absolute;
      content: "";
      border-color: transparent;
      border-style: solid; }

.bs-tooltip-top, .bs-tooltip-auto[x-placement^="top"] {
  padding: 0.4rem 0; }
  .bs-tooltip-top .arrow, .bs-tooltip-auto[x-placement^="top"] .arrow {
    bottom: 0; }
    .bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
      top: 0;
      border-width: 0.4rem 0.4rem 0;
      border-top-color: #000; }

.bs-tooltip-right, .bs-tooltip-auto[x-placement^="right"] {
  padding: 0 0.4rem; }
  .bs-tooltip-right .arrow, .bs-tooltip-auto[x-placement^="right"] .arrow {
    left: 0;
    width: 0.4rem;
    height: 0.8rem; }
    .bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
      right: 0;
      border-width: 0.4rem 0.4rem 0.4rem 0;
      border-right-color: #000; }

.bs-tooltip-bottom, .bs-tooltip-auto[x-placement^="bottom"] {
  padding: 0.4rem 0; }
  .bs-tooltip-bottom .arrow, .bs-tooltip-auto[x-placement^="bottom"] .arrow {
    top: 0; }
    .bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
      bottom: 0;
      border-width: 0 0.4rem 0.4rem;
      border-bottom-color: #000; }

.bs-tooltip-left, .bs-tooltip-auto[x-placement^="left"] {
  padding: 0 0.4rem; }
  .bs-tooltip-left .arrow, .bs-tooltip-auto[x-placement^="left"] .arrow {
    right: 0;
    width: 0.4rem;
    height: 0.8rem; }
    .bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
      left: 0;
      border-width: 0.4rem 0 0.4rem 0.4rem;
      border-left-color: #000; }

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 0.25rem; }

body {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  background: #fafafa;
  color: #1f2129; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #3e64ff; }
  a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; }

/*button {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  button:hover, button:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
  color: #000; }

.ftco-section {
  padding: 7em 0; }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.heading-section {
  font-size: 28px;
  color: #000; }
  .heading-section small {
    font-size: 18px; }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
*/
.navbar {
	height: 70px;
  padding: 15px 10px;
  background: #ffffff!important;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }

.navbar-btn {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none !important;
  border: none; }

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0; }

.wrapper {
  width: 100%; }

#sidebar {
  min-width: 270px;
  max-width: 270px;
  background: #001A6F;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position:relative;
  }
  #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center; }
    #sidebar.active ul.components li {
      font-size: 12px;
	  height:80px;
	  width:80px;}
      #sidebar.active ul.components li a {
        padding: 15px 0; }
        #sidebar.active ul.components li a span {
          margin-right: 0;
          display: block;
          font-size: 24px; }
    #sidebar.active .logo {
      padding: 10px 0; }
    #sidebar.active .footer {
      display: none; }
  #sidebar .logo {
    display: block;
    color: #fff;
    font-size: 10px;
    padding: 10px 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      #sidebar .logo {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
  #sidebar ul.components {
    padding: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    @media (prefers-reduced-motion: reduce) {
      #sidebar ul.components {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
  #sidebar ul li {
    font-size: 16px; }
	#sidebar ul li:hover{
    background:#0037A9;} 
	#sidebar ul li.active{
    background:#0037A9;border-left: 3px solid #fff;}
    #sidebar ul li > ul {
      margin-left: 10px; }
      #sidebar ul li > ul li {
        font-size: 14px; }
    #sidebar ul li a {
	font-size:10px;
      padding: 10px 30px;
      display: block;
      color: white;
     /* border-bottom: 1px solid rgba(255, 255, 255, 0.1);*/ }
      #sidebar ul li a span {
        margin-right: 15px; }
        @media (max-width: 991.98px) {
          #sidebar ul li a span {
            display: block; } }
      #sidebar ul li a:hover {
        color: #fff; }
    #sidebar ul li.active > a {
		font-size:13px;
      background: transparent;
      color: #fff; }
  @media (max-width: 991.98px) {
    #sidebar {
      min-width: 80px;
      max-width: 80px;
      text-align: center;
      margin-left: -80px !important; }
      #sidebar.active {
        margin-left: 0 !important; } }

a[data-toggle="collapse"] {
  position: relative; }

/*.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }*/
.navbar-light .navbar-nav .nav-link {
    font-size:14px;
}
#addHr{
	border-top: 6px solid #24DFD3;
	width: 87px;
}
#manageHr{
	border-top: 6px solid #24DFD3;
	width:50px;
}
#personalHr{
	border-top: 6px solid #24DFD3;
	width: 90%;
	margin-top: 0%;
}
#backupHr{
	border-top: 6px solid #24DFD3;
	width:85%;
	margin-top: 0%;
}
#teamHr,#slackHr{
	border-top: 6px solid #24DFD3; 
	width:85%;
	margin-top: 0%;
}
@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none; } 
	.navbar-light .navbar-nav .nav-link {
    font-size:10px;
}
#addHr{
	width: 50px;
}
#manageHr{
	width:50px;
}
	}
#content {
  width: 100%;
  padding: 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
 .form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1; 
	font-size: 12px;}
  .form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
	font-size: 12px;}
  .form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
	font-size: 12px;}
  .form-control::placeholder {
    color: #6c757d;
    opacity: 1;
	font-size: 12px;}
  .form-control{
  font-size:12px;
  }
  .pagination {
  margin: 20px 0; }

/* line 10, bootstrap/_pagination.css.scss */
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }

/* line 21, bootstrap/_pagination.css.scss */
.pagination ul > li {
  display: inline; }

/* line 25, bootstrap/_pagination.css.scss */
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 24px; 
  text-decoration: none;
  background-color: white;
  border: 1px solid #dddddd;
  border-left-width: 0; }

/* line 36, bootstrap/_pagination.css.scss */
.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #0062FF;
  color:#fff;}

/* line 40, bootstrap/_pagination.css.scss */
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #fff;
  cursor: default; }

/* line 46, bootstrap/_pagination.css.scss */
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default; }

/* line 52, bootstrap/_pagination.css.scss */
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span { 
  border-left-width: 1px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px; }

/* line 57, bootstrap/_pagination.css.scss */
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px; }

/* line 65, bootstrap/_pagination.css.scss */
.pagination-centered {
  text-align: center; }

/* line 68, bootstrap/_pagination.css.scss */
.pagination-right {
  text-align: right; }

/* line 79, bootstrap/_pagination.css.scss */
.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px; }
/* line 84, bootstrap/_pagination.css.scss */
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px; }
/* line 88, bootstrap/_pagination.css.scss */
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px; }

/* line 97, bootstrap/_pagination.css.scss */
.pagination-mini ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > a,
.pagination-small ul > li:first-child > span {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px; }
/* line 101, bootstrap/_pagination.css.scss */
.pagination-mini ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > a,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px; }

/* line 109, bootstrap/_pagination.css.scss */
.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px; }

/* line 117, bootstrap/_pagination.css.scss */
.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 1px 6px;
  font-size: 10.5px; }

/* line 6, bootstrap/_pager.css.scss */
.pager {
  margin: 20px 0;
  list-style: none;
  text-align: center;
  *zoom: 1; }
/* line 15, bootstrap/_mixins.css.scss */
.pager:before, .pager:after {
  display: table;
  content: "";
  line-height: 0; }
/* line 22, bootstrap/_mixins.css.scss */
.pager:after {
  clear: both; }

/* line 12, bootstrap/_pager.css.scss */
.pager li {
  display: inline; }

/* line 16, bootstrap/_pager.css.scss */
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px; }

/* line 23, bootstrap/_pager.css.scss */
.pager li > a:hover {
  text-decoration: none;
  background-color: #f5f5f5; }

/* line 28, bootstrap/_pager.css.scss */
.pager .next > a,
.pager .next > span {
  float: right; }

/* line 32, bootstrap/_pager.css.scss */
.pager .previous > a,
.pager .previous > span {
  float: left; }

/* line 37, bootstrap/_pager.css.scss */
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > span {
  color: #999999;
  background-color: #fff;
  cursor: default; }
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.bg-info {
  background-color: #0062FF !important;  
  color:#fff;}
  button,a,.close{
  cursor:pointer;
  outline:none; 
  }
  
  /* pricing css */
  
  ul.pricingtabs{
	padding: 0px;
	list-style: none;
        text-align: center;
        max-width: 480px;
    margin: 0px auto;
    background: #F2F3FF;
    padding: 10px;
	height:70px;
    border-radius: 50px;
}
ul.pricingtabs li{
	background: none;
	color: #222;
	display: inline-block;
	cursor: pointer;
        font-size: 20px;
        padding: 10px 52px;
		width:220px;
		height:50px;
}
ul.pricingtabs li.current{
	    background: #0062FF;
    color: #fff;
    
    font-weight: bold;
    border-radius: 50px;
    
}
.pricing-tab-content{
	display: none;
	padding: 15px;
        padding-top: 8px;
}
.pricing-tab-content.current{
	display: block;
    margin: 0px auto;
    width: 100%;
    float: left;
}

.pricingcss{
    margin: 5%;
    float: left;
    display: block;
    margin-top: 3%;
}
.pricing-head{
    font-size: 34px !important;
    font-weight: 600 !important;
    text-align: center;
        margin-bottom: 20px;
}
.center-text{
    text-align: center;
}
.comp-link{
    text-align: center;
    font-size:12px;
    margin-top: 8px !important;
    margin-bottom: 0px !important;
}
.pricing-tab-content .pricing-plans{
    width: 100%;
    float: left;
}
.pricing-plans .plan-box{
    width: 50%;
    float: left;
    padding: 10px;
    text-align: center;
}
.pricing-plans .plan-box .plan-details{
    background: #ffffff;
    padding: 8%;
}
.plan-details .plan-title{
    font-size:20px;
    font-weight: bold;
    color: #0062FF;
}
.plan-details .plan-price{
    font-size: 34px;
    font-weight: 600;
    color: #1F2129;  
}
.plan-details .plan-data{
    font-size: 20px;
    font-weight: 600;
    color: #1F2129;
    margin-bottom: 0px;
}
.plan-details .plan-addlchrgs{
    font-size: 16px; 
    color:#B4B4B4;
}
.plan-details .plan-buynow{
   /* padding: 10px 65px 10px 65px;*/
    padding: 3% 10%;
    border: 1px solid 0062FF ;
    color: #ffffff;
    border-radius: 50px;
    font-weight: 700;
	background:#0062FF;
	font-size:20px;
}
.plan-details ul.plan-features{
    padding: 0% 6%;
    margin-top: 25px;
}
.plan-details .plan-features li{
    list-style-type: none;
    line-height: 20px;
    margin-bottom: 8px;
    text-align: left;
    display: flex;
    margin-top: 10px;
     font-size: 15px;
}
.plan-details .plan-features li i{
        color: #5e5e5e;
    font-weight: 600;
    font-size: 12px;
    margin-right: 5px;
    margin-top: 5px;
} 
.plan-details:hover,.plan-details.active{
    background: #fff !important;
    box-shadow: 0 14px 28px rgba(0,0,0,0.09), 0 10px 10px rgba(0,0,0,0.09);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
}
.plan-details:hover .plan-title,.plan-details.active .plan-title{
    color:#1220f6 !important;
}
.plan-details:hover .plan-buynow,.plan-details.active .plan-buynow{
    background-color: #1220f6 !important;
    border: 1px solid #1220f6 !important;
    color: #fff !important;
}
.plan-details:hover #recommendedSpan,.plan-details.active #recommendedSpan{
	 background-color: #1220f6 !important;
}
.pricing-table-css table{
    background-color: #fff;
}
.pricing-table-css .table-2 table thead{
    background-color: #fff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.pricing-table-css .table-2 table thead th{
    color:#092933;
    font-size:18px;
    font-weight: bold;
}
.pricing-table-css .table-2 tr td{
    padding: 8px 20px;
}
.pricing-table-css .table-2{
    padding: 1% 5%;
    background-color: #fff;
    border-radius: 5px;
    padding-bottom: 4%;
}
.pricing-table-css .table-2 tr td:nth-child(1){
    color:#1F2129;
}
.pricing-table-css .table-2 tr td:nth-child(2){
    text-align: center;
}
.pricing-table-css .table-2 tr td:nth-child(3){
    text-align: center;
}
.pricing-table-css .table-2 tr th:nth-child(2){
    text-align: center;
}
.pricing-table-css .table-2 tr th:nth-child(3){
    text-align: center;
}
.pricing-faq-css strong{
    color:#092933;
}

.business-plan ul.plan-features{
    padding: 0px !important;
	list-style:none;
	font-size:15px;
}
.business-plan ul.plan-features li{
    line-height: 20px;
    margin-bottom: 8px;
    text-align: left;
    margin-top: 10px;
}
.business-plan ul.plan-features li::before {
  content: "\2022";
  color:#0062FF;
  display:inline-block;
  width:3%;
  margin-left:-1rem;
  font-size:20px;
  }
.business-plan ul.plan-features li i{
    color: #5e5e5e;
    font-weight: 600;
    font-size: 12px;
    margin-right: 5px;
    margin-top: 5px;
}
.pricingcss #tab-2{
    border: 1px solid #fafaff;
    margin-top: 2%;
    padding-bottom: 15px;
    margin-bottom: 1%;
	background: #FAFAFF 0% 0% no-repeat padding-box;
border-radius: 4px;
}
/*.pricingcss #tab-1{
     margin-bottom: 5%;
}*/
.business-plan{
background: #fff;
    width: 100%;
    float: left;
}

.business-plan .plan-box {
    width: 50%;
    float: left;
    padding: 10px;
}
.business-plan .plan-box.business-features{
    padding: 10px 30px;
    border-radius: 5px;
}
.business-plan .req-quote-head{
    font-size: 20px;
    font-weight: bold;
    color:#092933;
    margin-bottom: 15px;
    margin-top: 15px;
}
.business-plan .plan-box.contct-form{
    padding: 0px 10px 0px 25px;
}
.business-plan .plan-box.contct-form .wpcf7{
    margin:0px !important;
}
.business-plan .plan-box.contct-form .wpcf7-form .wpcf7-text{
    padding: 0 5%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 230px;
    height: 46px;
}
.business-plan .plan-box.contct-form .wpcf7-form .wpcf7-text:focus{
     border: 1px solid #0062FF!important;
}
.business-plan .plan-box.contct-form .wpcf7-form textarea{
    background-color: #fff;
        max-height: 130px;
		    border: 1px solid #e5e5e5;
    border-radius: 4px;
	padding:2%;
	width:100%;
}
.business-plan .plan-box.contct-form .wpcf7-form textarea:focus{
		    border: 1px solid #0062FF!important;
}
.business-plan .plan-box.contct-form .quot{
    margin-top: -10px;
}
.business-plan .plan-box.contct-form .quot input{
    width: 120px;
    height: 40px;
    font-size: 16px;
	  border: 1px solid #0062FF;
    background: #0062FF;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}
.business-plan .plan-box.contct-form .quot input:hover{
    background: #14CFC3;
	border: 1px solid #14CFC3;
	box-shadow: 0 14px 28px rgba(0,0,0,0.09), 0 10px 10px;
}
.pricingcss #tab-2 .business-title{
    width: 100%;
    float: left;
    margin-top: 20px;
}
.pricingcss #tab-2 h2.businessplan-head{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 25px;
	color:#1F2129;
}
.pricingcss #tab-2 .businessplan-head-desc{
    text-align: center;
    padding: 0% 15%;
}

.pricingcss-hed-desc{
    width: 100%;
    float: left;
    padding: 0px 20%;
}
.pricingcss img#info_icon{
    display: none;
}
.pricingcss a.tooltips{
    margin-left: 5px;
}

.switch {
  position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    top: 14px;
}

.switch input { 
 display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
/*  background-color: #ccc;*/
  background-color: #14CFC3;
/*  border: 1px solid #ccc;*/
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 5px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}


input:checked + .slider.trans:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-left: 1px solid #14CFC3;
    box-shadow: 0px 1px 3px #00000033;
    border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}
a.tooltips span {
    z-index: 10;
    display: none;
    padding: 14px 20px;
    width: 239px;
    line-height: 30px;
	  font-weight: 100;
	  font-size: 15px;
    text-align:left;
}

a.tooltips:hover span {
    display: inline;
    position: absolute;
    color: #1F2129;
    border: 1px solid #DCA;
    background: #fffAF0;
	font-weight:300;
}


#CFShowLoading,#moveFileCheck{
    opacity: 1!important;
    background: rgba(0,0,0,0.4);
    z-index: 9999999999;
	    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#CFShowLoading .backdrop,#moveFileCheck .backdrop{
    width:400px;
    height:500px;
    background: #fff;
    border: 1px solid #ccc;
    top:0;
    bottom:0;
    left:0;
    right:0;
    position:absolute;
    margin: auto;
}
#CFShowLoading p,#moveFileCheck p{ 
    text-align: center;
    font-size: 25px;
    margin-top: 15%;
    margin-bottom: 150%;
}
.modal-backdrop{
	opacity:0.5;
}
 .Driveicon {
    width: 40px;
    height: 40px;
    float: left;
	margin-right:4%;
    display: inline-block;
    vertical-align: super;
	background: #fcfcfc;
	padding: 3px;
	border: 1px solid #e5e5e5;
	border-radius: 20px;
}
		::-webkit-scrollbar {
  width: 5px;
  height:5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #fff 0% 0% no-repeat padding-box;
border-radius: 10px; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EDEDED 0% 0% no-repeat padding-box;
border-radius: 10px;
}

/* Handle on hover*/
::-webkit-scrollbar-thumb:hover { 
 background: #C0C0C0 0% 0% no-repeat padding-box;
border-radius: 10px;
} 


/*  alert css  */
.alertScs,.alertErr{
  z-index: 1;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 10px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  width: 413px; 
  height: 90px;
  background: #F1FFF7 0% 0% no-repeat padding-box;
  border: 1px solid #E5E5E5;
  border-radius: 4px 0px 0px 4px;
  border-left: 8px solid #00c64f;

}
.alertErr{
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 10px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  width: 413px; 
  height: 90px;
  background: #FFF0F0 0% 0% no-repeat padding-box;
  border: 1px solid #E5E5E5;
  border-radius: 4px 0px 0px 4px;
  border-left: 8px solid #FF4C4C;

}
.alertScs.showAlert,.alertErr.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.alertScs.show,.alertErr.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alertScs.hide, .alertErr.hide{
  animation: hide_slide 1s ease forwards;
  display:none;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.alertScs .fa-check-circle{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #00C64F;
  font-size: 30px;
}
.alertErr .fa-times-circle{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: ##FF4C4C; 
  font-size: 30px;
}
.alertScs .msg, .alertErr .msg{
  padding: 0 20px;
  font-size: 12px;
  color: #8D8D8D;
  font-weight: bold;
  margin-bottom:0;
  margin-top:3%;
}
.alertScs .close-btnScs, .alertErr .close-btnErr{
  position: absolute;
  right: 0px;
  top: 18%;
  transform: translateY(-50%);
  padding: 20px 18px;
  cursor: pointer;
}
.alertScs .close-btnScs .lnil-cross-circle, .alertErr .close-btnErr .lnil-cross-circle{ 
  font-size: 18px;
}

.modal-content{
	border:none;
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0; }
#CFShowLoading .backdrop, #moveFileCheck .backdrop {
    width: 95vw;
}
#CFShowLoading p, #moveFileCheck p {
    font-size: 16px;
    margin-top: 26%;
}

	}
	.rootDragHover {
    background: #B6DDE6;
    border: 1px dashed #000; 
}

