.cloudThumbnail {
    height: 55px;
    width: 55px;
    border:none !important;
    background: transparent !important;
}
.CloudThumb_parent :hover{
    border:1px solid #2bb5d8;
    background: #f2f2f2;
    border-radius: 5px;
}
.cloudThumbnail img{
    height: 55px ;
    width: 55px ;
}
.CloudThumb_parent {
    padding: 3px;
    height: 111px;
    width: 146px;
    margin-left: 30px;
    padding-left: 6px;
}
#cloud_bcm .CloudThumb_parent {
    padding: 3px;
    height: 105px;
    width: 146px;
}
#public_cloud_header,#cloud_ecm_header
{
    text-shadow: none !important;
}
.CloudThumb_parent p
{
//font-weight: bold;
    font-size:13px;
    margin-top: -10px;
}
.CloudThumb_parent p:hover,.CloudThumb_parent img:hover,.CloudThumb_parent a:hover
{
    background: transparent !important;
    border: none !important;
}