.cf-bell:before {
    content: "\e603";
}
.top-nav .cf-bell{
    padding-left: 5px;
    padding-right: 10px;
    color: #2bb5d8;
    font-size: 20px;
    position: absolute;
}
/*#cf-logout
{
    box-shadow: inset 0px 1px 0px 0px #70aad6;
    background: linear-gradient(to bottom, #46a0d8 5%, #227ebb 100%);
    background-color: #2F8DC8;
    border-radius: 5px;
    border: 1px solid #227ebb;
    text-shadow: 0px 1px 0px #227ebb;
    text-align: center;
    height: 28px;
    width: 80px;
    background:#46a0d8;
    line-height: 2;

}
#cf-logout:hover
{
    background: linear-gradient(to bottom, #227ebb 5%, #46a0d8 100%);
    background-color: #227ebb;
    border: 1px solid #227ebb;
}*/

.cf_upgrd_btn
{
    box-shadow: inset 0px 1px 0px 0px #ffd57a;
    background: linear-gradient(to bottom, #fcb315 5%, #e69d00 100%);
    background-color: #fcb315;
    border-radius: 5px;
    border: 1px solid #e68a00;
    text-shadow: 0px 1px 0px #e68a00;
    text-align: center;
    line-height: 2.1;
    height: 28px;
    width: 80px;
    background:#F9B012;
    margin-left: 5px;
    margin-right: 3px;
}
.cf_usr_btn{
    margin-left: 5px;
    margin-right: 3px;
}
.cf_upgrd_btn:hover
{
    background: linear-gradient(to bottom, #e69d00 5%, #fcb315 100%);
    background-color: #e69d00;
    border: 1px solid #e68a00;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    .cf_notify
    {
        position: absolute;
        margin-top: -19px;
        margin-left: -2px;
    }
    ::i-block-chrome, .cf_notify{
        right: 246px;
    }
}
 .cf_notify
    {
        position: fixed;
    }
@-moz-document url-prefix() {
            .cf_notify {
                margin-top: 3px !important;
            }
        }

