.wizard {
    position: relative;
    overflow: hidden;
    background-color: #fcfcfc;
   /* width: 62%;
    margin-top: 1%;*/
}
.wizard ul li.active {
    color: #fff;
    background: #0062FF;/*#1D92AF;*/
    cursor: pointer;
}
.wizard ul li.complete {
    cursor: pointer;
}
.wizard ul li:first-child {
    padding-left: 20px;
}
.wizard ul li {
    position: relative;
    float: left;
    height: 46px;
    padding: 0 30px;
    margin: 0;
    font-size: 12px;
    line-height: 46px;
    cursor: default;
	background:#F2F3FF;
	    color: #030303;
    font-weight: 500;
}
.wizard ul li .badge.badge-info {
    background-color: #0062FF;
}
.wizard ul li .badge {
    position: relative;
    top: -2px;
    margin-right: 8px;
    padding: 4px 7px;
    border-radius: 100%;
    border: 2px solid #F2F3FF;
    box-shadow: none;
	background:#fff;
	color: #0062FF;
}
.wizard ul li .chevron {
    position: absolute;
    top: -24px;
    right: -14px;
    z-index: 1;
    display: block;
    border: 48px solid transparent;
    border-right: 0;
    border-left: 24px solid #fff;
}
.wizard ul li.active .chevron:before {
    border-left: 24px solid #0062FF;/*#1D92AF;*/
}
.wizard ul li .chevron:before {
    position: absolute;
    top: -48px;
    right: 5px;
    display: block;
    border: 48px solid transparent;
    border-right: 0;
    border-left: 24px solid #F2F3FF;
    content: "";
}
.wizard ul li.completed .chevron:before {
    border-left: 24px solid #D5D8FF;
}
.wizard ul li.completed{
    background: #D5D8FF;
    color: #1F2129;
    cursor: pointer;
}
.wizard ul li.completed .badge {
    background: #0062FF;
    color: #fff;
	border:2px solid #D5D8FF;
}
.wizard ul li.active .badge{
 background-color: #fff;
    border: 2px solid #0062FF;
    box-shadow: none;
    color: #0062FF;
}