    @media (max-width: 480px) {
				 #page-header{
				   left:0px; 
				 }
				 #mainContentWrapper{
				  max-height:335px;;
				  overflow-y: auto;
                  overflow-x: hidden;
				 }
				 #spanNew{
				  margin-left:0px;
				 }
				 #actionPanel{
				   margin-left:0px;
				}
				.filecontrols{
				  padding-left:48px;
				}
				.fileCreatecontrols {
					right: 27px;
				}
			}
			@media (max-width: 768px) {
				 #page-header{
				   left:0px; 
				 }
				 #mainContentWrapper{
				  max-height:335px;;
				  overflow-y: auto;
                  overflow-x: hidden;
				 }
				 #spanNew{
				  margin-left:0px;
				 }
				 #actionPanel{
				   margin-left:0px;
				}
				.filecontrols{
				  padding-left:48px;
				}
			}
			@media (max-width: 1024px) {
				 #page-header{
				   left:0px; 
				 }
				 #mainContentWrapper{
				  max-height:335px;;
				  
				 }
				 #spanNew{
				  margin-left:0px;
				 }
				  #actionPanel{
				   margin-left:0px;
				}
				.filecontrols{
				  padding-left:48px;
				}
			}
			@media (min-width: 1024px) {
				 #page-header{
				   left:80px; 
				 }
				/*  #mainContentWrapper{
				  max-height:335px;;;
				  
				 } */
				 #spanNew{
				  margin-left:0px;
				 }
				  #actionPanel{
				   margin-left:0px;
				}
				.filecontrols{
				  padding-left:48px;
				}
			}
		