<!doctype html>
<html ng-app="testApp">
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/vendor.css">
    <link rel="stylesheet" href="styles/app.css">
    <title update-title></title>
</head>
<body id="wrap">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="col-md-5 col-md-offset-3">
                <form class="form-horizontal" ng-controller="IndexCtrl" name="loginform">
                    <div class="form-group">
                        <label for="cfUserId" class="col-sm-4 control-label">CloudFuze User Id</label>
                        <div class="col-sm-8">
                            <input type="email" required ng-model="login.email" class="form-control" id="cfUserId" placeholder="CloudFuze User Id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cfPassword" class="col-sm-4 control-label">CloudFuze Password</label>
                        <div class="col-sm-8">
                            <input type="password" ng-minlength="6" ng-maxlength="20" required ng-model="login.pwd" class="form-control" id="cfPassword" placeholder="CloudFuze Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 pull-left">
                            <button class="btn btn-default" ng-click="revokeAccess()">Revoke Access</button>
                        </div>
                        <div class="col-sm-3 pull-right">
                            <button class="btn btn-primary" ng-disabled="loginform.$invalid" ng-click="authenticate()">Authenticate</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div ui-view>

    </div>
<script src="js/vendor.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>