.move{
    width: 70px;
    height: 70px;
    float: left;
    margin-left: 40px;
    cursor: pointer;
    display: inline-block;
}
#userEmail{
    font-size: 9pt;
    text-align: center;
    color: #0E6E85;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    max-width: 140px;
    width:100%;
    display: inline-block;
}
.moveCloudBlock{
    display: block;
    height: 95px;
    width: 150px;
    float: left;
    margin: 5px;
}
.moveCloudBlock:hover>input ,.moveCloudBlockDragHover>input{
    visibility: visible;
}
input:checked{
    visibility: visible;
}
.move.ONEDRIVE{
    background: url(../img/FinalSprite.png?ver=0502) 1516px -872px;
}
.move.DROP_BOX{
    background: url(../img/FinalSprite.png?ver=0502) 1644px -867px;
}
.move.DROPBOX_BUSINESS{
    background: url(../img/FinalSprite.png?ver=0502) 1644px -867px;
}
.move.BOX{
    background: url(../img/FinalSprite.png?ver=0502) 1642px -747px;
}
.move.G_DRIVE{
    background: url(../img/FinalSprite.png?ver=0502) 2014px -748px;
}
.move.SHAREFILE{
    background: url(../img/FinalSprite.png?ver=0502) 1885px -868px;
}
.move.CMIS{
    background: url(../img/FinalSprite.png?ver=0502) 2011px -870px;
}
.move.UBUNTU{
    background: url(../img/FinalSprite.png?ver=0502) 1890px -748px;
}
.move.FTP{
    background: url(../img/FinalSprite.png?ver=0502) 1767px -748px;
}
.move.default{
    background: url(../img/FinalSprite.png?ver=0502) 1521px -748px;
}
.move.WEBDAV{
    background: url(../img/FinalSprite.png?ver=0502) 1412px -748px;
}
.move.AMAZON{
    background: url(../img/FinalSprite.png?ver=0502) 1301px -748px;
}
.move.ALFRESCO{
    background: url(../img/FinalSprite.png?ver=0502) 1413px -867px;
}
.move.COPY{
    background: url(../img/FinalSprite.png?ver=0502) 1779px -867px;
}
.move.EGNYTE_STORAGE{
    background: url(../img/FinalSprite.png?ver=0502) 1299px -867px;
}
.move.WALRUS{
    background: url(../img/FinalSprite.png?ver=0502) 178px -743px
}
.move.SUGAR_SYNC{
    background: url(../img/FinalSprite.png?ver=0502) 1188px -865px;
}
.move.DOCUMENTUM{
    background: url(../img/FinalSprite.png?ver=0502) 1084px -745px;
}
.move.SHAREPOINT_2013{
    background: url(../img/FinalSprite.png?ver=0502) 1088px -865px;
}
.move.SHAREPOINT_2010{
    background: url('../img/FinalSprite.png?ver=0502') 1302px -653px;
}
.move.CLOUDIAN{
    background: url('../img/FinalSprite.png?ver=0502') 1414px -653px;
}
.move.AZURE_OBJECT_STORAGE{
    background: url('../img/FinalSprite.png?ver=0502') 1180px -654px;
}
.move.NTLM_STORAGE{
    background: url('../img/FinalSprite.png?ver=0502') 1106px -571px;
}
.move.ORANGE{
    background: url('../img/FinalSprite.png?ver=0502') 1183px -570px;
}
.move.YANDEX_DISK{
    background: url('../img/FinalSprite.png?ver=0502') 1298px -572px;
}
.move.AXWAY{
    background: url('../img/FinalSprite.png?ver=0502') 1412px -571px;
}
.move.SALES_FORCE{
    background: url('../img/FinalSprite.png?ver=0502') 1081px -497px;
}
.move.ONEDRIVE_BUSINESS{
    background: url('../img/FinalSprite.png?ver=0502') 1152px -500px;
}
.move.CIFS{
    background: url('../img/FinalSprite.png?ver=0502') 1227px -501px;
}
.move.AMAZON_STORAGE{
    background: url('../img/FinalSprite.png?ver=0502') 1302px -501px;
}
.move.CENTURYLINK{
    background: url('../img/FinalSprite.png?ver=0502') 1074px -429px;
}
.move.SHAREPOINT_ONLINE{
    background: url('../img/FinalSprite.png?ver=0502') 1152px -429px;
}


.moveHeaderIcon{
    height: 18px;
    width: 20px;
    display: block;
    float: left;
    margin-top: 7px;
}
.moveHeaderIcon#G_DRIVE{
    background: url(../img/FinalSprite.png?ver=0502) 1992px -969px;
}
.moveHeaderIcon#ONEDRIVE{
    background:url(../img/FinalSprite.png?ver=0502) 1872px -968px;
}
.moveHeaderIcon#DROP_BOX{
    background: url(../img/FinalSprite.png?ver=0502) 1891px -968px;
}
.moveHeaderIcon#DROPBOX_BUSINESS{
    background: url(../img/FinalSprite.png?ver=0502) 1891px -968px;
}
.moveHeaderIcon#BOX{
    background: url(../img/FinalSprite.png?ver=0502) 1931px -969px;
}
.moveHeaderIcon#SHAREFILE{
    background: url(../img/FinalSprite.png?ver=0502) 1712px -968px;
}
.moveHeaderIcon#CMIS{
    background: url(../img/FinalSprite.png?ver=0502) 1694px -969px;
}
.moveHeaderIcon#UBUNTU{
    background:url(../img/FinalSprite.png?ver=0502) 1970px -968px;
}
.moveHeaderIcon#FTP{
    background: url(../img/FinalSprite.png?ver=0502) 1950px -969px;
}
.moveHeaderIcon#default{
    background: url(../img/FinalSprite.png?ver=0502) 1992px -969px;
}
.moveHeaderIcon#WEBDAV{
    background:url(../img/FinalSprite.png?ver=0502) 1912px -968px;
}
.moveHeaderIcon#AMAZON{
    background: url(../img/FinalSprite.png?ver=0502) 1791px -968px;
}
.moveHeaderIcon#ALFRESCO{
    background: url(../img/FinalSprite.png?ver=0502) 1853px -968px;
}
.moveHeaderIcon#COPY{
    background: url(../img/FinalSprite.png?ver=0502) 1753px -968px;
}
.moveHeaderIcon#EGNYTE_STORAGE{
    background: url(../img/FinalSprite.png?ver=0502) 1832px -968px;
}
.moveHeaderIcon#WALRUS{
    background: url(../img/FinalSprite.png?ver=0502) 1771px -968px;
}
.moveHeaderIcon#SUGAR_SYNC{
     background: url(../img/FinalSprite.png?ver=0502) 1811px -969px;
}
.moveHeaderIcon#DOCUMENTUM{
    background: url(../img/FinalSprite.png?ver=0502) 1731px -968px;
}
.moveHeaderIcon#SHAREPOINT_2013{
    background: url(../img/FinalSprite.png?ver=0502) 1674px -969px;
}
.moveHeaderIcon#CLOUDIAN{
    background: url(../img/FinalSprite.png?ver=0502) 1652px -969px;
}
.moveHeaderIcon#SHAREPOINT_2010{
    background: url(../img/FinalSprite.png?ver=0502) 1626px -967px;
}
.moveHeaderIcon#AZURE_OBJECT_STORAGE{
    background: url(../img/FinalSprite.png?ver=0502) 1601px -967px;
}
.moveHeaderIcon#NTLM_STORAGE {
    background: url(../img/FinalSprite.png?ver=0502) 1553px -968px
}
.moveHeaderIcon#ORANGE {
    background: url(../img/FinalSprite.png?ver=0502) 1528px -968px;
}
.moveHeaderIcon#YANDEX_DISK {
    background: url(../img/FinalSprite.png?ver=0502) 1506px -968px;
}
.moveHeaderIcon#AXWAY {
    background: url(../img/FinalSprite.png?ver=0502) 1481px -968px;
}
.moveHeaderIcon#SALES_FORCE {
    background: url(../img/FinalSprite.png?ver=0502) 1456px -968px;
}
.moveHeaderIcon#ONEDRIVE_BUSINESS{
    background:url(../img/FinalSprite.png?ver=0502) 1432px -968px;
}
.moveHeaderIcon#CIFS{
    background:url(../img/FinalSprite.png?ver=0502) 1409px -968px;
}
.moveHeaderIcon#AMAZON_STORAGE{
    background:url(../img/FinalSprite.png?ver=0502) 1385px -968px;
}
.moveHeaderIcon#CENTURYLINK{
    background:url(../img/FinalSprite.png?ver=0502) 1361px -968px;
}
.moveHeaderIcon#SHAREPOINT_ONLINE{
    background:url(../img/FinalSprite.png?ver=0502) 1338px -968px;
}

.destCloudInput{
    visibility: hidden;
    float: left;
    margin: 10px;
}
.dropabbleParent{
    height:45px;
    cursor:pointer;
    background:none;
    width:75%;
    margin:0 auto
}
.rootDragHover{
    background: #B6DDE6;
    border: 1px dashed #000;
}
#verifyStatus{
    float: right;
    margin-top: 5px;
}
.moveLoader{
    background-image: none;
}
.draghover{
    background: #B6DDE6;
    border: 1px dashed #000;
}
.moveCloudBlockDragHover{
    display: block;
    height: 95px;
    width: 150px;
    float: left;
    margin: 5px;
    opacity: 1;
    zoom:1;
    border:1px dashed #000000;
    background: #B6DDE6;
}
#moveSource .list-group-item:hover,#moveSource .dropabbleParent:hover,#moveSource .ui-draggable:hover{
    cursor: move;
    color:#000;
    background: #B6DDE6;
    border: 1px dashed #000;
}
#moveDestination .list-group-item:hover,#moveDestination .draghover:hover,#moveDestination .dropabbleParent:hover{
    background: #B6DDE6;
    border: 1px dashed #000;
 }
#moveSource .list-group-item>input:checked{
    border: 1px dashed #000;
}
.moveDroppableHover{
	background: #B6DDE6;
	border: 1px dashed #000;
}
.cloudActive{
    height: 95px;
    width: 150px;
    background: #509bad;
    color: #000000;
}
.fileActive{
    background: #B6DDE6;
    color: #000;
}
.moveCloudBlock.button:hover{
    border:1px dashed #000;
    background:#B6DDE6;
}
#moveReportsForUser .ERROR,#moveDetailedReport .ERROR{
    color:red;
    font-weight: bold;
}
#moveReportsForUser .CANCEL,#moveDetailedReport .CANCEL{
    color:orange;
    font-weight: bold;
}
#moveReportsForUser .IN_PROGRESS,#moveDetailedReport .IN_PROGRESS{
    color:blue;
    font-weight: bold;
}
#moveReportsForUser .PROCESSED,#moveDetailedReport .PROCESSED{
    color:green;
    font-weight: bold;
}
#moveReportsForUser .NOT_PROCESSED,#moveDetailedReport .NOT_PROCESSED{
    color:brown;
    font-weight: bold;
}
#moveReportsForUser .IN_QUEUE,#moveDetailedReport .IN_QUEUE{
    color:brown;
    font-weight: bold;
}
#moveReportsForUser .WARNING,#moveDetailedReport .WARNING{
    color:orange;
    font-weight: bold;
}
#moveReportsForUser .SUSPENDED,#moveDetailedReport .SUSPENDED{
    color:#cc6600;
    font-weight: bold;
}
#moveReportsForUser .PROCESSED_WITH_SOME_ERRORS,#moveDetailedReport .PROCESSED_WITH_SOME_ERRORS{
    color:green;
    font-weight: bold;
}
#moveReportsForUser .PROCESSED_WITH_SOME_WARNINGS,#moveDetailedReport .PROCESSED_WITH_SOME_WARNINGS{
    color:green;
    font-weight: bold;
}
.CFfooterLinks {
    max-height: 33px;
    position: fixed;
    bottom: 0;
    background: #ddd;
    z-index: 999;
    text-align: center;
    padding-top: 3px;
    color: black;
    border-top: 1px solid #000;
    -webkit-box-shadow: 0 0 10px;
}
.CFfooterLinks a:hover{
    text-decoration: underline;
}
@media screen and (min-width: 1024px){
    .CFfooterLinks{
        width: 95%;
    }
}
@media (min-width: 339px) and (max-width: 1024px){
    .CFfooterLinks{
        width: 100%;
    }
    #primary>ul{
        margin-bottom: 0;
    }
}
.moveCloudBlock.cf-warning{
    color: red !important;
    font-size: 14pt;
}
#CFFileMove.buttonDisabled{
    opacity: 0.2 !important;
    pointer-events: none !important;
}
#movePageShowMore{
    display: none !important;
}
#breadCrumbdyncmove{
    display: none !important;
}


/*#CFmoveStatus button {
    border: 1px solid #b7b7b7;
    padding: 10px 10px 10px 10px;
    background-color: #d3d3d3;
}

#CFmoveStatus button:hover {
    border: 1px solid #a0a0a0;
    background-color: #ccc;
}*/
.cf-plus5
{
    content: url(../img/down.png);
    width: 16px;
    margin-top: 5px;
}
.cf-minus5
{
    content: url(../img/up.png);
    width: 16px;
    margin-top: 5px;
}
.cf-plus5disabled{
    content: url(../img/down.png);
    width: 16px;
    margin-top: 5px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
