.cloudThumbnail {
    height: 90px !important;
    width: 90px !important;
    border:none !important;
    background: transparent !important;
}
.CloudThumb_parent :hover{
    border:2px solid #2bb5d8;
    background: #f2f2f2;
    border-radius: 5px;
    width:200px;
}
.CloudThumb_parent {
    padding: 15px;
    height: 200px;
    width: 200px;
    margin:20px 25px 20px 25px;
    border:2px solid transparent;
}
.cloudThumbnail img{
    height: 80px !important;
    width: 80px !important;
}
#public_cloud_header,#cloud_ecm_header
{
    text-shadow: none !important;
}
.CloudThumb_parent p
{
    font-weight: bold;
    font-size:15px;
    color: black;
    text-align: center;
}
.CloudThumb_parent p:hover,.CloudThumb_parent img:hover,.CloudThumb_parent a:hover
{
    background: transparent !important;
    border: none !important;
}