.cf-bell:before {
    content: "\e603";
}
.top-nav .cf-bell{
    padding-left: 5px;
    padding-right: 10px;
    color:  #2bb5d8;
    font-size: 20px;
    position: absolute;
}
#cf-logout
{
    box-shadow: inset 0px 1px 0px 0px #70aad6;
    background: linear-gradient(to bottom, #46a0d8 5%, #227ebb 100%);
    background-color: #2F8DC8;
    border-radius: 5px;
    border: 1px solid #227ebb;
    text-shadow: 0px 1px 0px #227ebb;
    text-align: center;
    height: 28px;
    width: 80px;
    background:#46a0d8;
    line-height: 2;

}
#cf-logout:hover
{
    background: linear-gradient(to bottom, #227ebb 5%, #46a0d8 100%);
    background-color: #227ebb;
    border: 1px solid #227ebb;
}

.cf_upgrd_btn
{
    box-shadow: inset 0px 1px 0px 0px #ffd57a;
    background: linear-gradient(to bottom, #fcb315 5%, #e69d00 100%);
    background-color: #fcb315;
    border-radius: 5px;
    border: 1px solid #e68a00;
    text-shadow: 0px 1px 0px #e68a00;
    text-align: center;
    line-height: 2.1;
    height: 28px;
    width: 80px;
    background:#F9B012;
    margin-left: 5px;
    margin-right: 3px;
}

.cf_upgrd_btn:hover
{
    background: linear-gradient(to bottom, #e69d00 5%, #fcb315 100%);
    background-color: #e69d00;
    border: 1px solid #e68a00;
}

.spark_btn {
    margin-top:-1px;
    border: 1px solid #37B2D0;
    background-color: white;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}
#sparkButton {
    background-color:  #2bb5d8;
    background-image: -webkit-gradient(linear, left top, left bottom, from( #2bb5d8), to( #2bb5d8));
    background-image: -webkit-linear-gradient(top,  #2bb5d8,  #2bb5d8);
    background-image: -moz-linear-gradient(top,  #2bb5d8,  #2bb5d8);
    background-image: -ms-linear-gradient(top,  #2bb5d8,  #2bb5d8);
    background-image: -o-linear-gradient(top,  #2bb5d8,  #2bb5d8);
    background-image: linear-gradient(to bottom,  #2bb5d8,  #2bb5d8);
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid  #2bb5d8;
    cursor:pointer;
    height: 29px;
    padding: 3px 10px 0px 10px;
}
#sparkButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05,#1a92c2), color-stop(1, 	#1e90ff));
    background:-moz-linear-gradient(top, #2bb5d8 5%, 	#1a92c2);
    background:-webkit-linear-gradient(top, #2bb5d8 5%, 	#1a92c2);
    background:-o-linear-gradient(top,#1a92c2 5%, 	#1a92c2);
    background:-ms-linear-gradient(top,#1a92c2 5%, 	#1a92c2);
    background:linear-gradient(to bottom,#1a92c2 5%, 	#1a92c2);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='	#1e90ff',GradientType=0);
    background-color:powderblue;
}
#sparkButton a
{
    color: #ffffff;
}
#sparkButton a:hover
{
    color: #fff;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .cf_notify
    {
        position: absolute;
        margin-top: -19px;
        margin-left: -2px;
    }
    ::i-block-chrome, .cf_notify{
        right: 246px;
    }
}
 .cf_notify
    {
        position: fixed;
    }
@-moz-document url-prefix() {
            .cf_notify {
                margin-top: 3px !important;
            }
        }


