
	@media (max-width: 480px) {
				 #page-header{
				   left:0px; 
				 }
	           #wsFiles{
				  margin-left:0px;
				}
				 #mainContentWrapper{
				  max-height:227px;
				  overflow-y: auto;
                  overflow-x: hidden;
				 }
				 #spanNew{
				  margin-left:0px;
				 }
				 #commentText{
				  width: 50%;
				 }
				  #actionPanel{
				   margin-left:29px;
				}
				#wsFiles{
				  margin-left:0px;
				}
				#AFTWButton{
				  margin-left:2%;
				}
			}
			@media (min-width: 480px) and (max-width: 768px) {
				 #page-header{
				   left:0px; 
				 }
				#wsFiles{
				  margin-left:0px;
				}
				 #mainContentWrapper{
				  max-height:227px;
				  overflow-y: auto;
                  overflow-x: hidden;
				 }
				 #spanNew{
				  margin-left:0px;
				 }
				  #actionPanel{
				   margin-left:29px;
				}
			}
			@media (min-width: 1200px){
			  .span6{
			     width:490px;
				 -webkit-width:570px;
			    }
				#AFTWButton{
				  margin-left:33%;
				}
			}
			@media (min-width: 1290px){
			  .span6{
			     width:570px;
			    }
			}
			@media (min-width: 768px) and (max-width: 979px) {
                .span12{
			     width:1000px;
			   }
			   .span6{
			     width:450px;
			   } 
			}
			@media screen and (min-width: 1024px){
				
				 #page-header{
				   left:0px; 
				 }
				 #mainContentWrapper{
				  max-height:227px;
				  
				 }
				
				  #actionPanel{
				   margin-left:22px;
				}
				/* #wsFiles{
				  margin-left:39px;
				} */
				 #panelAlign{
				  margin-left:-37px;
				}
				#AFTWButton{
				  margin-left:33%;
				}
			}
			@media (min-width: 1024px) {
				 #page-header{
				   left:280px; 
				 }
				 
				  #actionPanel{
				   margin-left:29px;
				}
				#wsFiles{
				  margin-left:39px;
				}
				#panelAlign{
				  margin-left:-37px;
				}
				#AFTWButton{
				  margin-left:33%;
				}
			}
		        #panelAlign{
				  margin-left:-37px;
				}
				/* #AFTWButton{
				  margin-left:33%;
				} */