[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.col-md-5.col-md-offset-3{
    padding-top: 20px;
}

.selectOptions{
    margin-bottom: 30px;
}

.form-control.ng-touched.ng-invalid{
    border-color: red;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 102, 137, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(233, 102, 137, 0.6);
}