<form class="form-horizontal">
    <div class="form-group">
        <label for="clientid" class="col-sm-4 control-label">Client ID</label>
        <div class="col-sm-8">
            <input type="text" ng-model="data.clientId" class="form-control" id="clientid" placeholder="Client ID">
        </div>
    </div>
    <div class="form-group">
        <label for="clientsecret" class="col-sm-4 control-label">Client Secret</label>
        <div class="col-sm-8">
            <input type="text" ng-model="data.clientSecret" class="form-control" id="clientsecret" placeholder="Client Secret">
        </div>
    </div>
    <div class="form-group">
        <label for="rurl" class="col-sm-4 control-label">Redirect URL</label>
        <div class="col-sm-8">
            <input type="text"  ng-model="data.redirecturl" class="form-control" id="rurl" placeholder="Redirect URL">
        </div>
    </div>
    <div class="form-group hidden">
        <label for="json" class="col-sm-4 control-label">Secret JSON</label>
        <div class="col-sm-8">
            <textarea class="form-control" ng-model="data.secretJson" id="json"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 pull-right">
            <button class="btn btn-default" ng-click="formreset()">Reset</button>
        </div>
        <div class="col-md-2 pull-right">
            <button class="btn btn-primary" ng-click="updateKeys()">Update</button>
        </div>
    </div>
</form>