.recenticon:before,.favicon:before,.icon-sharedwithicon:before,.icon-sharedbyicon:before,.allicon:before,.categoryicon:before,.tagicon:before,.driveToggle:before,.addCategory:before,.addTag:before,.removeTag:before, .removeCategory:before,.tagRemove:before, .ctRemove:before,.list:before,.grid:before,.addcloudbg:before,.closeX:before,.editCategory:before, .editTag:before,.CancelCategoryEdit:before,.OkCategoryEdit:before,.OkTagEdit:before,.tageditok:before,.tageditcancel:before,.RenameOk:before,.RenameCancel:before,.userNameOk:before,.changePwdOk:before,.changePwdCancel:before,.userNameCancel:before,.folder-close:before,.folder-open:before,.FolderOk:before,.FolderCancel:before,.refreshicon:before,.removeEmail:before,.removeEmail1:before,.emailOk:before,.emailAddOk:before{
	font-family: 'cloudfuze';
	speak: none;
	font-style: normal;
	font-size:22px;
	/*color: #024a5b;*/
	font-weight:normal;
	line-height:1.2;
}
.folder-open:before{
	content:"\10f8db";
	font-size:12px;
	margin-right:3px;
}
.folder-close:before{
	content:"\10f8da";
	font-size:12px;
	margin-right:3px;
}
.refreshicon:before{
	content:"\10fbac";
	color:#000;
}
.recenticon:before{
	content:"\10f633";
}
.favicon:before{
	font-size:19px;
	content:"\10fdf5";
}

.driveToggle:before{
	font-size:17px;
	content:"\10fe8a";
}
.category i.open:before{
	content:"\10fe8c";
}
.addCategory:before{
	content:"\10fbb5";
	font-size:12px;
	line-height:0;
}
.addTag:before {
	content: "\10fbb5";
	font-size: 12px;
	line-height: 0;
}
.OkCategoryEdit:before,.OkTagEdit:before,.tageditok:before,.RenameOk:before,.FolderOk:before,.userNameOk:before,.changePwdOk:before{
	content:"\e606";
	font-size:12px;
	line-height:0;
	color:#eee;
}
.RenameOk:before,.userNameOk:before,.changePwdOk:before{
	color:#024a5b;
}
.emailOk:before{
	content:"\e606";
	font-size:12px;
	color:#024a5b;
}
.emailAddOk:before{
	content:"\e606";
	font-size:12px;
	color:#024a5b;
}
.removeTag:before, .removeCategory:before,.tagRemove:before, .ctRemove:before,.CancelCategoryEdit:before,.tageditcancel:before,.RenameCancel:before,.userNameCancel:before,.changePwdCancel:before,.FolderCancel:before,.removeEmail:before,.removeEmail1:before{
	content:"\e632";
	font-size:15px;
	line-height:0;
}
.FolderOk:before{
	color: #024a5b;
}
.CancelCategoryEdit:before,.ctRemove:before,.removeCategory:before{
	color:#eee;
}
.editCategory:before, .editTag:before{
	content:"\e62a";
	font-size:13px;
	color:#eee;
}
.addcloudbg:before{
	content:"\10f61a";
	color:#fff;
	line-height:0.9;
}
.closeX:before{
	content:"\e611";
	font-size:20px;
}
.spin {
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
	-webkit-transform-origin: 50% 58%;
	transform-origin:50% 50%;
	-ms-transform-origin:50% 50%; /* IE 9 */
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}